<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__blocks">
                <div class="footer__blocks-block">
                    <div class="footer__blocks-block__logo">
                        <img src="../../assets/img/footer_logo.png" alt="">
                    </div>
                    <div class="footer__blocks-block__subtitle">
                        <span>Загородные дома <br>
                           | на самых выгодных условиях!</span>
                    </div>
                    <div class="footer__blocks-block__numbers">
                        <span>8 800 300-28-07</span>
                        <span>8 800 300-28-07</span>
                        <span>8 800 300-28-07</span>
                    </div>
                    <div class="footer__blocks-block__mail">
                        <span>
                            a(href="mailto:info@orehovostroy.ru") 
                                | info@orehovostroy.ru
                        </span>
                    </div>
                </div>
                <div class="footer__blocks-block">
                    <div class="footer__blocks-block__menu">
                        <a href="">Каталог</a>
                        <a href="">Кирпичные дома под ключ</a>
                        <a href="">Дома из блока</a>
                        <a href="">Дома из бруса под ключ</a>
                        <a href="">Каркасные дома под ключ</a>
                        <a href="">Дачные дома под ключ</a>
                        <a href="">Бани</a>
                        <a href="">Гаражи</a>
                        <a href="">Инноблок</a>
                    </div>
                </div>
                <div class="footer__blocks-block desktop">
                    <div class="footer__blocks-block__menu">
                        <a href="">Клиенту</a>
                        <a href="">О компании</a>
                        <a href="">Наши работы</a>
                        <a href="">Акции</a>
                        <a href="">Способы оплаты</a>
                        <a href="">Гарантии</a>
                        <a href="">Отзывы</a>
                        <a href="">Строительство в ипотеку</a>
                        <a href="">Материнский капитал</a>
                        <a href="">Блог</a>
                    </div>
                </div>
                <div class="footer__blocks-block desktop">
                    <div class="footer__blocks-block__menu">
                        <a href="">Клиенту</a>
                        <a href="">Кровля</a>
                        <a href="">Фундамент</a>
                        <a href="">Отделочные работы</a>
                        <a href="">Отопление</a>
                        <a href="">Ворота и ограждения</a>
                    </div>
                </div>
            </div>
            <div class="footer__contact">
                <div class="footer__contact-text">
                    <p>Используя сайт, вы даете согласие на обработку ваших персональных данных<br> и подтверждаете, что ознакомились с политикой.</p>
                </div>
                <div class="footer__contact-links">
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_415)">
                            <path d="M18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0ZM29.3566 25.2598L26.1654 25.3036C26.1654 25.3036 25.4789 25.4399 24.5783 24.8167C23.3831 23.9964 22.2585 21.8665 21.3822 22.1391C20.5059 22.4117 20.5205 24.3299 20.5205 24.3299C20.5233 24.5549 20.4542 24.7749 20.3233 24.9579C20.1391 25.1158 19.912 25.2149 19.671 25.2427H18.2567C18.2567 25.2427 15.0922 25.4302 12.3294 22.5432C9.29148 19.4079 6.61628 13.1447 6.61628 13.1447C6.61628 13.1447 6.45874 12.7814 6.63088 12.5361C6.77967 12.3241 7.14664 12.3013 7.33193 12.2927C8.13068 12.2554 10.5305 12.2708 10.5305 12.2708C10.7312 12.2659 10.8661 12.2764 11.1147 12.3852C11.3283 12.4908 11.4903 12.6481 11.5942 12.9013C11.9634 13.8207 12.392 14.7151 12.8771 15.579C14.3035 18.0448 14.9681 18.5827 15.4525 18.3198C16.156 17.9352 15.9393 14.8365 15.9393 14.8365C15.9393 14.8365 15.9393 13.7094 15.5839 13.2104C15.3165 12.8979 14.9391 12.7001 14.5299 12.6579C14.3376 12.6311 14.6541 12.1856 15.063 11.986C15.6764 11.6842 16.7622 11.6842 18.0425 11.6842C18.6059 11.6629 19.1696 11.7203 19.7172 11.8546C20.8954 12.1394 20.4962 13.2348 20.4962 15.8686C20.4962 16.7108 20.3428 17.8988 20.9514 18.3028C21.2143 18.4707 21.852 18.3271 23.4537 15.6105C23.9647 14.7116 24.4082 13.7759 24.7804 12.8112C24.8521 12.6579 24.9608 12.5248 25.0968 12.4241C25.2407 12.3525 25.4023 12.3246 25.5618 12.3438L29.1547 12.3194C29.1547 12.3194 30.233 12.1904 30.4083 12.6797C30.5835 13.169 30.0042 14.3836 28.5364 16.3309C26.1266 19.5441 25.8587 19.252 27.8597 21.0995C29.7705 22.8741 30.1674 23.7382 30.233 23.8453C31.0264 25.1552 29.3566 25.2598 29.3566 25.2598Z" fill="#4C75A3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_415">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                                    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_418)">
                            <path d="M18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37Z" fill="#039BE5"/>
                            <path d="M8.46533 18.0992L26.3024 11.2219C27.1303 10.9228 27.8533 11.4238 27.5851 12.6757L27.5866 12.6741L24.5495 26.9823C24.3245 27.9967 23.7217 28.2434 22.8784 27.7655L18.2534 24.3569L16.0226 26.506C15.7759 26.7526 15.5678 26.9607 15.0899 26.9607L15.4182 22.254L23.9899 14.5102C24.363 14.1819 23.9067 13.9969 23.4149 14.3237L12.8221 20.993L8.25566 19.5685C7.26437 19.254 7.24279 18.5772 8.46533 18.0992Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_418">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                                    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_422)">
                            <path d="M18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37Z" fill="#F96600"/>
                            <path d="M17.3626 23.2259C15.5694 23.0388 13.9527 22.5952 12.5694 21.5147C12.3971 21.3801 12.2205 21.2498 12.0628 21.0942C11.4573 20.5119 11.3964 19.8455 11.8757 19.1601C12.2856 18.5715 12.9731 18.4138 13.6899 18.7523C13.8276 18.822 13.9597 18.9021 14.0852 18.9919C15.3671 19.8631 16.8781 20.3356 18.4279 20.3498C19.9778 20.364 21.4972 19.9194 22.7949 19.0718C23.0428 18.8709 23.3289 18.7221 23.6358 18.6345C23.9212 18.5502 24.2266 18.5642 24.5031 18.6744C24.7795 18.7846 25.0109 18.9845 25.1599 19.2421C25.5384 19.8602 25.5342 20.4614 25.0674 20.9407C24.3521 21.6642 23.4876 22.2231 22.5342 22.5784C21.606 22.9119 20.64 23.1287 19.6583 23.2238C19.8055 23.3857 19.8685 23.4635 19.9694 23.556C21.3002 24.8951 22.6372 26.228 23.9638 27.5692C24.1751 27.7613 24.3184 28.0168 24.3723 28.2973C24.4261 28.5778 24.3875 28.8682 24.2623 29.1249C24.1348 29.4063 23.9272 29.6438 23.6655 29.808C23.4038 29.9721 23.0995 30.0555 22.7907 30.0478C22.4294 30.0122 22.0951 29.8409 21.8552 29.5685C20.8503 28.5573 19.8265 27.565 18.8426 26.5349C18.5567 26.2364 18.4222 26.2931 18.1657 26.5517C17.1545 27.6028 16.1265 28.6182 15.0943 29.6357C14.9026 29.8482 14.6458 29.9909 14.3642 30.0415C14.0826 30.0921 13.7922 30.0477 13.5386 29.9153C13.2638 29.787 13.0319 29.582 12.8708 29.3251C12.7097 29.0681 12.6262 28.7701 12.6304 28.4669C12.6608 28.0921 12.8357 27.7438 13.1181 27.4956C14.4384 26.1796 15.7544 24.8629 17.0662 23.5455C17.1545 23.4551 17.2386 23.3605 17.3626 23.2259Z" fill="white"/>
                            <path d="M18.4536 18.6429C17.2943 18.6361 16.1631 18.2852 15.2035 17.6346C14.2439 16.9841 13.4992 16.0632 13.0637 14.9888C12.6282 13.9144 12.5216 12.7348 12.7574 11.5997C12.9932 10.4647 13.5608 9.42517 14.3882 8.61312C15.2156 7.80107 16.2656 7.25305 17.4049 7.03855C18.5442 6.82405 19.7215 6.95275 20.7876 7.40831C21.8537 7.86387 22.7604 8.62578 23.3929 9.5974C24.0253 10.569 24.3549 11.7066 24.34 12.8658C24.3189 14.4104 23.6885 15.8841 22.5861 16.9661C21.4836 18.0481 19.9983 18.6508 18.4536 18.6429ZM21.3611 12.7838C21.3594 12.2172 21.1896 11.6637 20.8732 11.1936C20.5568 10.7235 20.1081 10.3578 19.5838 10.1429C19.0594 9.928 18.4831 9.87349 17.9278 9.98629C17.3725 10.0991 16.8631 10.3741 16.4642 10.7766C16.0653 11.179 15.7948 11.6908 15.6869 12.2471C15.579 12.8034 15.6386 13.3792 15.8581 13.9016C16.0776 14.424 16.4473 14.8695 16.9201 15.1817C17.393 15.494 17.9479 15.6589 18.5146 15.6555C18.8903 15.6547 19.2621 15.5797 19.6087 15.4348C19.9554 15.2898 20.27 15.0779 20.5344 14.8111C20.7989 14.5442 21.0081 14.2278 21.15 13.8799C21.2918 13.532 21.3636 13.1595 21.3611 12.7838Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_422">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_430)">
                            <path d="M18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37Z" fill="#03A9F4"/>
                            <path d="M30.4836 11.0684C29.5822 11.4621 28.6287 11.7236 27.6526 11.8449C28.6816 11.2348 29.4508 10.2681 29.8142 9.12837C28.8511 9.70001 27.7973 10.1026 26.6984 10.3187C26.025 9.59854 25.1505 9.09768 24.1886 8.88127C23.2267 8.66486 22.2219 8.74291 21.305 9.10528C20.3881 9.46764 19.6014 10.0975 19.0473 10.9131C18.4932 11.7286 18.1973 12.692 18.1982 13.6779C18.1947 14.0542 18.2331 14.4298 18.3126 14.7976C16.3578 14.7016 14.4453 14.1943 12.7 13.3089C10.9547 12.4234 9.41577 11.1797 8.18381 9.65903C7.55058 10.7408 7.35439 12.0236 7.63536 13.2452C7.91633 14.4668 8.65323 15.535 9.69546 16.2314C8.91754 16.2104 8.1561 16.0025 7.47546 15.6253V15.6788C7.47765 16.8127 7.87013 17.9113 8.58694 18.79C9.30375 19.6686 10.3012 20.2736 11.4116 20.5034C10.9914 20.6138 10.5583 20.6679 10.1239 20.6641C9.81105 20.6699 9.4985 20.6421 9.19158 20.5813C9.5097 21.5565 10.1222 22.4092 10.9447 23.0221C11.7673 23.635 12.7595 23.9779 13.7849 24.0038C12.0472 25.3621 9.90498 26.0999 7.69941 26.0997C7.30642 26.103 6.91365 26.0803 6.52368 26.0315C8.77258 27.4815 11.394 28.2476 14.0697 28.2369C23.1128 28.2369 28.0567 20.7469 28.0567 14.2548C28.0567 14.0382 28.0567 13.8288 28.0397 13.6195C29.0025 12.9246 29.8307 12.0602 30.4836 11.0684Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_430">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_436)">
                            <path d="M18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37Z" fill="#6F3FAA"/>
                            <path d="M29.1859 12.498V12.4707C28.9378 11.4658 28.2903 10.4273 27.441 9.55276C26.4487 8.52685 25.1853 7.72168 23.9786 7.461H23.9533C20.3548 6.77146 16.658 6.77146 13.0594 7.461H13.0341C10.7931 7.94663 8.36079 10.2886 7.8184 12.4707V12.498C7.152 15.5234 7.152 18.6575 7.8184 21.6829V21.7081C8.20522 23.2638 9.55068 24.8994 11.1022 25.8874C11.6088 26.2176 12.1604 26.4732 12.7398 26.6463V29.0808C12.7406 29.2753 12.7994 29.4652 12.9085 29.6263C13.0177 29.7873 13.1723 29.9122 13.3527 29.9851C13.5331 30.0579 13.7311 30.0754 13.9215 30.0353C14.1119 29.9951 14.286 29.8993 14.4216 29.7598L16.8897 27.195C17.4237 27.2245 17.9619 27.2413 18.4958 27.2413C20.3237 27.2407 22.1475 27.0676 23.9428 26.7241H23.9681C26.2028 26.2364 28.6372 23.8945 29.1754 21.7123V21.6871C29.8459 18.6611 29.8495 15.5255 29.1859 12.498ZM27.2329 21.233C26.8713 22.6562 25.0255 24.4284 23.556 24.7543C21.6474 25.1199 19.7048 25.2785 17.7622 25.2273C17.7432 25.2261 17.7243 25.2293 17.7068 25.2366C17.6893 25.2439 17.6737 25.2551 17.6612 25.2694L15.8596 27.1194L13.9423 29.085C13.9117 29.1174 13.872 29.1399 13.8284 29.1495C13.7848 29.1591 13.7393 29.1553 13.6979 29.1388C13.6564 29.1223 13.6209 29.0937 13.5959 29.0567C13.5709 29.0198 13.5575 28.9761 13.5576 28.9315V24.8952C13.5577 24.8627 13.5463 24.8312 13.5256 24.8063C13.5048 24.7813 13.476 24.7644 13.4441 24.7585C13.1376 24.6857 12.8421 24.5726 12.5653 24.4221C11.3166 23.7557 10.0573 22.3892 9.76721 21.233C9.1663 18.4983 9.1663 15.6658 9.76721 12.9311C10.1267 11.5142 11.983 9.74617 13.442 9.41822C16.783 8.77895 20.215 8.77895 23.556 9.41822C24.3654 9.59901 25.2904 10.215 26.0136 10.9718C26.6085 11.5878 27.0647 12.2983 27.2329 12.9374C27.8329 15.6701 27.8329 18.5003 27.2329 21.233Z" fill="white"/>
                            <path d="M23.6085 21.4432C23.3353 22.0665 22.8658 22.5833 22.2714 22.9148C22.0849 22.9939 21.8914 23.0552 21.6933 23.0977C21.4683 23.0304 21.2539 22.9842 21.0626 22.9022C19.469 22.2821 17.9855 21.4097 16.6689 20.3185C16.2778 19.985 15.9104 19.6246 15.5694 19.24C14.7273 18.2703 14.0201 17.1911 13.4671 16.032C13.198 15.4833 12.971 14.9156 12.7397 14.3501C12.5295 13.8351 12.8406 13.299 13.1602 12.9143C13.473 12.5575 13.8577 12.2709 14.2891 12.0734C14.4409 11.9971 14.6146 11.9763 14.7801 12.0147C14.9456 12.0531 15.0925 12.1483 15.1952 12.2836C15.7323 12.8871 16.2057 13.5444 16.6079 14.245C16.7346 14.4488 16.778 14.6934 16.729 14.9283C16.6801 15.1632 16.5426 15.3702 16.3451 15.5064C16.24 15.58 16.1349 15.6641 16.0445 15.746C15.9554 15.812 15.8785 15.8932 15.8174 15.9857C15.7647 16.0723 15.7328 16.1699 15.724 16.271C15.7153 16.372 15.73 16.4736 15.767 16.568C16.1727 17.6843 16.7887 18.6156 17.7095 19.2695C18.0211 19.4898 18.3568 19.6739 18.7102 19.8181C18.9409 19.9436 19.2002 20.0074 19.4628 20.0031C19.9211 19.9485 20.0724 19.4418 20.392 19.1812C20.5387 19.0611 20.7202 18.9915 20.9095 18.9828C21.0989 18.9741 21.286 19.0267 21.4431 19.1328C21.7837 19.343 22.1116 19.5806 22.4396 19.8118C22.764 20.0332 23.0763 20.2718 23.3751 20.5266C23.5149 20.6281 23.6147 20.7754 23.6573 20.9428C23.7 21.1102 23.6827 21.2872 23.6085 21.4432ZM19.1033 11.3691H18.8342C18.9204 11.3649 19.0108 11.3691 19.1033 11.3691Z" fill="white"/>
                            <path d="M23.7556 17.6696C23.5454 17.6696 23.4424 17.4909 23.4277 17.2954C23.4004 16.9107 23.3793 16.5239 23.3268 16.1413C23.2359 15.4957 23.0111 14.8763 22.6667 14.3228C22.3127 13.7462 21.8416 13.2503 21.2839 12.8671C20.7263 12.484 20.0944 12.2222 19.4292 12.0986C19.1264 12.0439 18.8174 12.0313 18.5126 11.9998C18.3192 11.9788 18.0648 11.9661 18.0227 11.7265C18.0165 11.6799 18.0202 11.6326 18.0337 11.5876C18.0471 11.5426 18.0701 11.501 18.1009 11.4656C18.1318 11.4302 18.1698 11.4017 18.2125 11.3822C18.2552 11.3627 18.3016 11.3525 18.3486 11.3523C18.399 11.3494 18.4495 11.3494 18.5 11.3523C19.4189 11.3601 20.3217 11.5943 21.1284 12.0344C21.9352 12.4744 22.6209 13.1066 23.125 13.875C23.5229 14.4943 23.793 15.1869 23.9196 15.9121C23.9995 16.3662 24.0289 16.8329 24.0647 17.2954C24.0719 17.3407 24.0693 17.3871 24.0572 17.4313C24.0451 17.4756 24.0238 17.5168 23.9945 17.5522C23.9653 17.5876 23.9289 17.6163 23.8877 17.6366C23.8465 17.6568 23.8015 17.6681 23.7556 17.6696Z" fill="white"/>
                            <path d="M22.6183 16.6879C22.6171 16.7504 22.6086 16.8125 22.5931 16.8729C22.5747 16.9337 22.5381 16.9874 22.4881 17.0266C22.4382 17.0658 22.3774 17.0887 22.314 17.0921C22.2506 17.0956 22.1877 17.0794 22.1338 17.0458C22.0799 17.0123 22.0377 16.9629 22.0128 16.9045C21.9897 16.8196 21.9791 16.7317 21.9813 16.6438C21.9862 16.1736 21.8931 15.7075 21.708 15.2752C21.666 15.1827 21.6197 15.0881 21.5672 14.9977C21.2662 14.479 20.8196 14.0601 20.2827 13.7931C19.9587 13.6402 19.6147 13.534 19.261 13.4778C19.1054 13.4525 18.9498 13.4378 18.7943 13.4168C18.7538 13.4148 18.7141 13.4044 18.6778 13.3865C18.6414 13.3685 18.6091 13.3433 18.5829 13.3123C18.5567 13.2814 18.5372 13.2454 18.5254 13.2066C18.5137 13.1678 18.51 13.127 18.5147 13.0867C18.5147 13.0455 18.5234 13.0048 18.5403 12.9672C18.5572 12.9296 18.5818 12.896 18.6126 12.8686C18.6433 12.8412 18.6795 12.8207 18.7188 12.8083C18.7581 12.7958 18.7996 12.7919 18.8405 12.7966C19.4578 12.8204 20.0625 12.9783 20.6127 13.2591C21.2846 13.5972 21.8327 14.1387 22.1789 14.8064C22.3739 15.1963 22.5045 15.6151 22.5657 16.0467C22.5771 16.103 22.5855 16.1599 22.591 16.217C22.6015 16.3432 22.6057 16.4693 22.6162 16.6249C22.6162 16.6396 22.6183 16.6585 22.6183 16.6879Z" fill="white"/>
                            <path d="M21.1784 16.3977C21.1665 16.451 21.1389 16.4995 21.0992 16.537C21.0595 16.5744 21.0095 16.5991 20.9556 16.6079H20.9093C20.8404 16.6124 20.772 16.5943 20.7143 16.5563C20.6567 16.5184 20.6129 16.4627 20.5898 16.3977C20.5767 16.3632 20.5682 16.3272 20.5645 16.2905C20.5535 16.149 20.5324 16.0085 20.5015 15.87C20.439 15.5897 20.2797 15.3403 20.0516 15.1658C19.9413 15.0866 19.8183 15.0268 19.6879 14.9892C19.5218 14.9408 19.3473 14.9534 19.1834 14.9135C19.1023 14.8991 19.0303 14.8532 18.983 14.7858C18.9357 14.7185 18.917 14.6351 18.9311 14.554C18.9467 14.4763 18.9902 14.407 19.0532 14.359C19.1163 14.311 19.1947 14.2877 19.2738 14.2933C20.2366 14.3627 20.9556 14.8252 21.1406 15.8574C21.1596 15.9532 21.1729 16.0501 21.1805 16.1475C21.1923 16.2305 21.1916 16.3149 21.1784 16.3977Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_436">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_447)">
                            <path d="M18.5 37C28.7173 37 37 28.7173 37 18.5C37 8.28273 28.7173 0 18.5 0C8.28273 0 0 8.28273 0 18.5C0 28.7173 8.28273 37 18.5 37Z" fill="#2AA81A"/>
                            <path d="M25.026 11.9738C23.4866 10.4169 21.4413 9.46175 19.2593 9.28071C17.0774 9.09967 14.9026 9.70469 13.1276 10.9865C11.3527 12.2684 10.0945 14.1426 9.58022 16.2708C9.06597 18.399 9.32956 20.6409 10.3234 22.5918L9.34969 27.3191C9.33927 27.3663 9.33886 27.4151 9.34851 27.4625C9.35815 27.5099 9.37763 27.5547 9.40568 27.5941C9.44585 27.6538 9.50328 27.6997 9.57027 27.7258C9.63726 27.7519 9.71063 27.7569 9.78055 27.7402L14.4055 26.6423C16.3511 27.6101 18.5769 27.8561 20.6869 27.3366C22.7968 26.817 24.6539 25.5657 25.9277 23.8052C27.2014 22.0447 27.8092 19.8894 27.6427 17.7228C27.4763 15.5563 26.5464 13.519 25.0187 11.9738H25.026ZM23.5801 23.5047C22.5154 24.5674 21.1444 25.2698 19.6599 25.513C18.1753 25.7562 16.6519 25.528 15.3038 24.8605L14.6563 24.5392L11.8155 25.211V25.1745L12.4144 22.3095L12.0979 21.6863C11.4086 20.3345 11.1652 18.7991 11.4027 17.3004C11.6401 15.8017 12.3463 14.4167 13.4197 13.3443C14.7675 11.9978 16.5948 11.2415 18.4999 11.2415C20.405 11.2415 22.2323 11.9978 23.5801 13.3443L23.6117 13.3881C24.9421 14.7388 25.6847 16.5605 25.6778 18.4563C25.671 20.3521 24.9152 22.1684 23.5752 23.5095L23.5801 23.5047Z" fill="white"/>
                            <path d="M23.3294 21.4209C22.9813 21.9686 22.4287 22.638 21.7398 22.8059C20.5227 23.098 18.6703 22.8059 16.3505 20.6614L16.3213 20.6346C14.3033 18.7505 13.7678 17.1805 13.8871 15.9366C13.9576 15.2282 14.5467 14.5905 15.0433 14.1718C15.1223 14.1052 15.2157 14.058 15.3161 14.034C15.4166 14.01 15.5212 14.0098 15.6218 14.0335C15.7223 14.0571 15.8159 14.104 15.8951 14.1702C15.9743 14.2365 16.0369 14.3204 16.0778 14.4152L16.8251 16.1046C16.8739 16.2133 16.8922 16.3333 16.8781 16.4516C16.8639 16.57 16.8179 16.6822 16.7448 16.7764L16.3651 17.2632C16.2862 17.3643 16.2391 17.4866 16.23 17.6145C16.2209 17.7424 16.2501 17.8701 16.314 17.9813C16.6747 18.513 17.1063 18.9929 17.5968 19.4078C18.1246 19.9157 18.7231 20.3445 19.3738 20.6809C19.4925 20.7287 19.6228 20.7402 19.7481 20.7137C19.8734 20.6873 19.988 20.6242 20.0773 20.5324L20.513 20.0894C20.5959 20.0002 20.7019 19.9357 20.8191 19.9031C20.9364 19.8704 21.0605 19.8709 21.1775 19.9044L22.9545 20.4131C23.0552 20.4418 23.1477 20.4937 23.2246 20.5648C23.3015 20.6358 23.3606 20.724 23.3971 20.8221C23.4336 20.9202 23.4465 21.0255 23.4347 21.1296C23.4229 21.2336 23.3868 21.3334 23.3294 21.4209Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_447">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </a>
                    <a href="">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_455)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4978 0C8.28171 0 0 8.28271 0 18.5C0 28.7173 8.28171 37 18.4978 37C28.7138 37 36.9955 28.7173 36.9955 18.5C36.9955 8.28271 28.7138 0 18.4978 0ZM23.0647 10.2742C24.2277 10.3009 25.1188 11.2197 25.1145 12.3877C25.1104 13.5428 24.1826 14.4725 23.0363 14.4705C21.9091 14.4686 20.9649 13.5037 20.9692 12.3583C20.9734 11.2197 21.9498 10.2487 23.0647 10.2742ZM13.9084 10.268C15.0329 10.2518 16.02 11.2391 16.0275 12.3876C16.0348 13.4798 15.0612 14.4642 13.9677 14.4704C12.7781 14.4771 11.8793 13.5683 11.8833 12.3631C11.8871 11.2254 12.797 10.2841 13.9084 10.268ZM31.0836 23.131C30.717 23.6213 30.0228 23.8182 29.4583 23.5929C29.1372 23.4648 28.9374 23.1904 28.7017 22.961C28.2913 22.5619 28.2805 22.5577 27.8653 22.923C26.112 24.4651 24.0994 25.5236 21.8297 26.0533C17.4769 27.0693 13.4945 26.2177 9.88959 23.5857C9.56479 23.3485 9.25112 23.0919 8.95794 22.8171C8.74944 22.6217 8.60937 22.6452 8.41677 22.8348C8.10336 23.1434 7.84414 23.5214 7.36898 23.633C6.7878 23.7694 6.17568 23.5485 5.8609 23.0559C5.55415 22.5757 5.55899 21.8484 5.9543 21.4395C7.0351 20.3214 8.13032 19.2162 9.25181 18.1392C9.75454 17.6564 10.6173 17.7351 11.1002 18.2274C11.6108 18.748 11.6289 19.5402 11.143 20.1082C10.6568 20.6763 10.6542 20.6795 11.2479 21.1515C13.1025 22.626 15.2023 23.473 17.5731 23.6537C20.6669 23.8895 23.3936 22.9814 25.807 21.0652C25.8746 21.0115 25.9329 20.946 26.002 20.8947C26.2649 20.6992 26.3129 20.51 26.028 20.2804C25.8383 20.1275 25.6839 19.939 25.5933 19.6995C25.2411 18.7687 25.8717 17.8455 26.9097 17.8435C27.2169 17.8222 27.5345 17.9171 27.7808 18.1614C28.8541 19.2263 29.9326 20.2871 30.9801 21.3772C31.4529 21.8693 31.4622 22.6249 31.0836 23.131Z" fill="#039BE5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_455">
                            <rect width="37" height="37" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>    
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                <span>© «Ореховострой» 2003 – 2023</span>
            </div>
        </div>
    </div>
</footer>