<footer>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer__blocks">
                <div class="footer__blocks-block">
                    <a href="/" class="footer__blocks-block__logo">
                        <img src="../../assets/img/footer_logo.png" alt="">
                    </a>
                    <div class="footer__blocks-block__subtitle">
                        <span>Загородные дома <br>
                           | на самых выгодных условиях!</span>
                    </div>
                    <div class="footer__blocks-block__numbers">
                        <span><a href="tel:+78003002807">8 800 300-28-07</a></span>
                        <span><a href="tel:+78003002807">8 800 300-28-07</a></span>
                        <span><a href="tel:+78003002807">8 800 300-28-07</a></span>
                    </div>
                    <div class="footer__blocks-block__mail">
                        <span>
                            a(href="mailto:info@orehovostroy.ru") 
                                | info@orehovostroy.ru
                        </span>
                    </div>
                </div>
                <button class="footer__blocks-block expand">
                    <div class="footer__blocks-btn">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M15.9999 25.1203C15.4264 25.1203 14.853 24.9013 14.4157 24.4643L0.656452 10.7049C-0.218817 9.8296 -0.218817 8.4105 0.656452 7.53558C1.53137 6.66067 2.95018 6.66067 3.82552 7.53558L15.9999 19.7107L28.1744 7.53601C29.0496 6.66109 30.4683 6.66109 31.3432 7.53601C32.2188 8.41092 32.2188 9.83002 31.3432 10.7053L17.5841 24.4647C17.1466 24.9018 16.5732 25.1203 15.9999 25.1203Z" fill="#ECECED"/>
                        </svg>
                    </div>
                    <span>Развернуть футер</span>
                </button>
                <div class="footer__blocks-block close">
                    <div class="footer__blocks-block__menu">
                        <a href="/catalog.html">Каталог</a>
                        <a href="#">Кирпичные дома под ключ</a>
                        <a href="#">Дома из блока</a>
                        <a href="#">Дома из бруса под ключ</a>
                        <a href="#">Каркасные дома под ключ</a>
                        <a href="#">Дачные дома под ключ</a>
                        <a href="#">Бани</a>
                        <a href="#">Гаражи</a>
                        <a href="#">Инноблок</a>
                    </div>
                </div>
                <div class="footer__blocks-block close">
                    <div class="footer__blocks-block__menu">
                        <a href="/for-client.html">Клиенту</a>
                        <a href="/about.html">О компании</a>
                        <a href="/examples.html">Наши работы</a>
                        <a href="/stocks.html">Акции</a>
                        <a href="/payment-method.html">Способы оплаты</a>
                        <a href="/guarantees.html">Гарантии</a>
                        <a href="/reviews.html">Отзывы</a>
                        <a href="#">Строительство в ипотеку</a>
                        <a href="#">Материнский капитал</a>
                        <a href="/blog.html">Блог</a>
                    </div>
                </div>
                <div class="footer__blocks-block close">
                    <div class="footer__blocks-block__menu">
                        <a href="/services.html">Услуги</a>
                        <a href="#">Кровля</a>
                        <a href="#">Фундамент</a>
                        <a href="#">Отделочные работы</a>
                        <a href="#">Отопление</a>
                        <a href="#">Ворота и ограждения</a>
                    </div>
                </div>
                <div class="footer__blocks-block close collapse">
                    <div class="footer__blocks-btn">    
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M15.9999 6.87971C15.4264 6.87971 14.853 7.09868 14.4157 7.53572L0.656452 21.2951C-0.218817 22.1704 -0.218817 23.5895 0.656452 24.4644C1.53137 25.3393 2.95018 25.3393 3.82552 24.4644L15.9999 12.2893L28.1744 24.464C29.0496 25.3389 30.4683 25.3389 31.3432 24.464C32.2188 23.5891 32.2188 22.17 31.3432 21.2947L17.5841 7.53529C17.1466 7.09818 16.5732 6.87971 15.9999 6.87971Z" fill="#ECECED"/>
                        </svg>
                    </div>
                    <span>Развернуть футер</span>
                </div>
            </div>
            <div class="footer__contact">
                <div class="footer__contact-text">
                    <p>Используя сайт, вы даете согласие на обработку ваших персональных данных и подтверждаете, что ознакомились с политикой.</p>
                </div>
                <div class="footer__contact-links">
                    <a href="#">
                        img(src="../../assets/img/networks/vk.svg", alt="vk")                               
                    </a>
                    <a href="#">
                        img(src="../../assets/img/networks/telegram.svg", alt="telegram")               
                    </a>
                    <a href="#">
                           img(src="../../assets/img/networks/ok.svg", alt="ok")
                    </a>
                    <a href="#">
                         img(src="../../assets/img/networks/twitter.svg", alt="twitter")
                    </a>
                    <a href="#">
                        img(src="../../assets/img/networks/viber.svg", alt="viber")
                    </a>
                    <a href="#">
                        img(src="../../assets/img/networks/whatsapp.svg", alt="whatsapp")
                    </a>
                    <a href="#">
                         img(src="../../assets/img/networks/mail.svg", alt="mail")
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                <span>© «Ореховострой» 2003 – 2023</span>
            </div>
        </div>
    </div>
</footer>