<header>
    <div class="container">
        <div class="header-wrapper">
            <div class="header__logo-block">
                <a href="/" class="header__logo">
                    img(src="../../assets/img/logo.svg")                
                </a>
                <div class="header__title">
                    <span class="">Загородные дома<br> на самых выгодных условиях!
                    </span>
                </div>
            </div>
            <div class="header__catalog-block">
                <div class="catalog-block__catalog">
                    <a href="/catalog.html" class="catalog-btn btn-red">
                        img(src="../../assets/img/catalog.svg")
                        <div>Каталог</div>
                    </a>
                </div>
                <div class="catalog-block__search">
                    <button>
                        img(src="../../assets/img/search.svg")                       
                    </button>
                </div>
            </div>
            <div class="header__contact">
                <div class="contact__number">
                    <div class="contact__number-block">
                        <a href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                        <a href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                        <a href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                    </div>
                    <button id="contact-number">
                        <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 8L9.33013 0.5H0.669873L5 8Z" fill="#2A333E"/>
                        </svg>                                
                    </button>
                </div>
                <div class="contact__callback">
                    <button>
                        | Заказать звонок
                    </button>
                </div>
            </div>
            <div class="header__burger-menu">
                <button id="header__burger-btn">
                    img(src="../../assets/img/burger-menu.svg")
                </button>
            </div>
        </div>
        <div class="header-sections">
            <div class="header__menu">
                <ul>
                    <li><a href="#">Рассчитать стоимость</a></li>
                    <li><a href="/examples.html">Примеры работ</a></li>
                    <li><a href="/guarantees.html">Гарантии</a></li>
                    <li><a href="/prices.html">Цены</a></li>
                    <li><a href="#">Гаражи</a></li>
                    <li><a href="for-client.html">Клиенту</a></li>
                    <li><a href="/services.html">Услуги</a></li>
                    <li><a href="/contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="header__buttons">
                <div class="header__fav">
                    <a href="/favorite.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_655_15865)">
                        <path d="M18.3932 3.30803C16.218 1.13346 12.6795 1.13346 10.5049 3.30803L9.99983 3.81282L9.49504 3.30803C7.32046 1.13316 3.78163 1.13316 1.60706 3.30803C-0.523361 5.43845 -0.537195 8.81539 1.57498 11.1633C3.50142 13.3041 9.18304 17.929 9.4241 18.1247C9.58775 18.2578 9.78467 18.3225 9.9804 18.3225C9.98688 18.3225 9.99335 18.3225 9.99953 18.3222C10.202 18.3316 10.406 18.2622 10.575 18.1247C10.816 17.929 16.4982 13.3041 18.4253 11.163C20.5371 8.8154 20.5233 5.43845 18.3932 3.30803Z" fill="none"/>
                        <path d="M18.3932 3.30803C16.218 1.13346 12.6795 1.13346 10.5049 3.30803L9.99983 3.81282L9.49504 3.30803C7.32046 1.13316 3.78163 1.13316 1.60706 3.30803C-0.523361 5.43845 -0.537195 8.81539 1.57498 11.1633C3.50142 13.3041 9.18304 17.929 9.4241 18.1247C9.58775 18.2578 9.78467 18.3225 9.9804 18.3225C9.98688 18.3225 9.99335 18.3225 9.99953 18.3222C10.202 18.3316 10.406 18.2622 10.575 18.1247C10.816 17.929 16.4982 13.3041 18.4253 11.163C20.5371 8.8154 20.5233 5.43845 18.3932 3.30803ZM17.1125 9.98186C15.6105 11.6505 11.4818 15.0919 9.99953 16.3131C8.51724 15.0922 4.38944 11.6511 2.88773 9.98215C1.41427 8.34445 1.40044 6.01212 2.85564 4.55691C3.59885 3.814 4.57488 3.44225 5.5509 3.44225C6.52693 3.44225 7.50295 3.8137 8.24616 4.55691L9.3564 5.66715C9.48856 5.79931 9.65516 5.87819 9.82999 5.90586C10.1137 5.96679 10.4216 5.88761 10.6424 5.66745L11.7532 4.55691C13.2399 3.07079 15.6582 3.07109 17.144 4.55691C18.5992 6.01212 18.5854 8.34445 17.1125 9.98186Z" fill="#7B7A79"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_655_15865">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>   
                    </a>
                </div>
                <div class="header__comp">
                    <a href="/compare.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_655_15869)">
                        <path d="M18.0469 4.375H16.1719C15.0949 4.375 14.2188 5.25117 14.2188 6.32812V18.0469C14.2188 19.1238 15.0949 20 16.1719 20H18.0469C19.1238 20 20 19.1238 20 18.0469V6.32812C20 5.25117 19.1238 4.375 18.0469 4.375Z" fill="none"/>
                        <path d="M3.82812 10.3125H1.95312C0.876172 10.3125 0 11.1887 0 12.2656V18.0469C0 19.1238 0.876172 20 1.95312 20H3.82812C4.90508 20 5.78125 19.1238 5.78125 18.0469V12.2656C5.78125 11.1887 4.90508 10.3125 3.82812 10.3125Z" fill="none"/>
                        <path d="M10.9375 0H9.0625C7.98555 0 7.10938 0.876172 7.10938 1.95312V18.0469C7.10938 19.1238 7.98555 20 9.0625 20H10.9375C12.0145 20 12.8906 19.1238 12.8906 18.0469V1.95312C12.8906 0.876172 12.0145 0 10.9375 0Z" fill="none"/>
                        <path d="M18.0469 4.375H16.1719C15.0949 4.375 14.2188 5.25117 14.2188 6.32812V18.0469C14.2188 19.1238 15.0949 20 16.1719 20H18.0469C19.1238 20 20 19.1238 20 18.0469V6.32812C20 5.25117 19.1238 4.375 18.0469 4.375ZM18.4375 18.0469C18.4375 18.2623 18.2623 18.4375 18.0469 18.4375H16.1719C15.9565 18.4375 15.7812 18.2623 15.7812 18.0469V6.32812C15.7812 6.11273 15.9565 5.9375 16.1719 5.9375H18.0469C18.2623 5.9375 18.4375 6.11273 18.4375 6.32812V18.0469Z" fill="#838281"/>
                        <path d="M3.82812 10.3125H1.95312C0.876172 10.3125 0 11.1887 0 12.2656V18.0469C0 19.1238 0.876172 20 1.95312 20H3.82812C4.90508 20 5.78125 19.1238 5.78125 18.0469V12.2656C5.78125 11.1887 4.90508 10.3125 3.82812 10.3125ZM4.21875 18.0469C4.21875 18.2623 4.04352 18.4375 3.82812 18.4375H1.95312C1.73773 18.4375 1.5625 18.2623 1.5625 18.0469V12.2656C1.5625 12.0502 1.73773 11.875 1.95312 11.875H3.82812C4.04352 11.875 4.21875 12.0502 4.21875 12.2656V18.0469Z" fill="#838281"/>
                        <path d="M10.9375 0H9.0625C7.98555 0 7.10938 0.876172 7.10938 1.95312V18.0469C7.10938 19.1238 7.98555 20 9.0625 20H10.9375C12.0145 20 12.8906 19.1238 12.8906 18.0469V1.95312C12.8906 0.876172 12.0145 0 10.9375 0ZM11.3281 18.0469C11.3281 18.2623 11.1529 18.4375 10.9375 18.4375H9.0625C8.84711 18.4375 8.67188 18.2623 8.67188 18.0469V1.95312C8.67188 1.73773 8.84711 1.5625 9.0625 1.5625H10.9375C11.1529 1.5625 11.3281 1.73773 11.3281 1.95312V18.0469Z" fill="#838281"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_655_15869">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>