<header>
    <div class="container">
        <div class="header-wrapper">
            <div class="header__logo-block">
                <a href="/" class="header__logo">
                    img(src="../../assets/img/logo.svg")                
                </a>
                <div class="header__title">
                    <span class="">Загородные дома<br> на самых выгодных условиях!
                    </span>
                </div>
            </div>
            <div class="header__catalog-block">
                <div class="catalog-block__catalog">
                    <a href="/catalog.html" class="catalog-btn">
                        img(src="../../assets/img/catalog.svg")
                        <div>Каталог</div>
                    </a>
                </div>
                <div class="catalog-block__search">
                    <button>
                        img(src="../../assets/img/search.svg")                       
                    </button>
                </div>
            </div>
            <div class="header__contact">
                <div class="contact__number">
                    <div class="contact__number-block">
                        <a href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                        <a class="hidden" href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                        <a class="hidden" href="tel:+78003002807">
                            | 8 800 300-28-07
                        </a>
                    </div>
                    <button>
                        <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 8L9.33013 0.5H0.669873L5 8Z" fill="#2A333E"/>
                        </svg>                                
                    </button>
                </div>
                <div class="contact__callback">
                    <button class="">
                        | Заказать звонок
                    </button>
                </div>
            </div>
            <div class="header__burger-menu">
                <button id="header__burger-btn">
                    img(src="../../assets/img/burger-menu.svg")
                </button>
            </div>
        </div>
        <div class="header-sections">
            <div class="header__menu">
                <ul>
                    <li><a href="#">Рассчитать стоимость</a></li>
                    <li><a href="/examples.html">Примеры работ</a></li>
                    <li><a href="/guarantees.html">Гарантии</a></li>
                    <li><a href="/prices.html">Цены</a></li>
                    <li><a href="#">Гаражи</a></li>
                    <li><a href="for-client.html">Клиенту</a></li>
                    <li><a href="/services.html">Услуги</a></li>
                    <li><a href="/contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="header__buttons">
                <div class="header__fav">
                    <a href="/favorite.html">
                        img(src="../../assets/img/favorite.svg")   
                    </a>
                </div>
                <div class="header__comp">
                    <a href="/compare.html">
                        img(src="../../assets/img/compare.svg")   
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>