.catalog__wrapper{
    @apply w-full h-full relative
}
.catalog__title div{
    @apply w-fit bg-white text-[35px] max-w-[290px];    
    padding: 8px 10px;
    
    h1{
        @apply font-bold  
    }
    span{
        @apply text-red font-bold
    }
}
.catalog__img img{
    @apply min-h-[655px] object-cover object-left w-full;
}
.catalog__content {
    @apply w-full absolute bottom-[30%]
}
.detail-btn{
    @apply flex justify-center items-center bg-red rounded-[1px] mt-[60px];
    border-left: 6px solid #2A333E;
    padding: 10px 22px 12px 22px;
}
.detail-btn span{
    @apply text-white font-medium text-18px leading-5 mr-[18px]
}

.catalog-container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.catalog__banners{
    align-self: center;
    margin-top: 100px;
    max-width: 950px;
}

.catalog__banner-img {
    width: 100%;
}
.catalog__banners .swiper-pagination-bullet{
    @apply bg-dark_grey opacity-[1];
    transition: all 0.5s ease-in-out;
}
.catalog__banners .swiper-pagination-bullet-active{
    @apply bg-red w-[27px] rounded-[90px]
}
.catalog__list {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.catalog__item{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.catalog__item__picture{
    margin-bottom: 30px;
}
.catalog__item__content{
    p{
        margin-top: 30px;
    }
}
.catalog__item__content-property{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.catalog__item__content-property__item{
    display: flex;
    align-items: center;
    span{
        @apply text-dark_dark_blue;
        margin-left: 10px;
        font-weight: 500;        
    }
}
.catalog__item__content-property__item:first-child{
    margin-bottom: 30px;
}
.catalog__item-banner{
    width: 100% !important;
}        

.catalog__item__content-view{
    max-width: 270px;
    margin-top: 60px;

    a{
        @apply bg-red text-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 6px solid #2A333E;
        padding: 10px 20px 12px 20px;
        width: fit-content;

        svg{
            margin-left: 17px;
        }
    }
}

@media (min-width:480px ) {
    .catalog__title div{
        @apply text-[45px] max-w-none;  
    }
    .catalog-container{
        padding: 0 20px;
    }
    .catalog__item__content-property{
        flex-direction: row;
    }
    .catalog__item__content-property__item{
        justify-content: center;
    }
    .catalog__item__content-property__item:first-child{
        margin-bottom: 0px;
        margin-right: 10px;
    }
}
@media (min-width:720px) {
    .catalog__title div{
        @apply text-[55px];  
    }
    .catalog-container{
        padding: 0 30px;
    }
}
@media (min-width:1024px) {
    .catalog__title div{
        @apply text-[70px];  
    }
    .catalog-container{
        padding: 0;
    }
    .catalog__item{
        flex-direction: row;
    }
    .catalog__item:nth-child(even){
        flex-direction: row-reverse;
    }
    .catalog__item__picture{
        max-width: 826px;
        height: 577px;
        margin-bottom: 0px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .catalog__item__content{
        padding: 0 40px;
        max-width: 519px;
        p{
            margin-top: 30px;
        }
    }
}
@media (min-width:1280px) {
    .catalog__banners{
        max-width: 1324px;
    }
   
}
@media (min-width:1440px) {
    .catalog-container{
        max-width: 1440px;
        margin: 0 auto;
    }
}



