.catalog-section{
    @apply grid grid-cols-1 gap-5;
    margin-top: 35px;
}
.catalog-section__element{
    @apply bg-white
}

.catalog-section__element-title h2{
    @apply text-[22px] font-medium mb-[10px];
}
.catalog-section__element-title{
    @apply flex justify-between flex-wrap mb-[17px] items-baseline
}
.catalog-section__element-icon{
    @apply flex
}
.catalog-section__element-fav{
    @apply mr-[15px]
}
.catalog-section__element-fav path,
.catalog-section__element-com path{
    transition: all 0.3s ease-in-out;
}
.catalog-section__element-fav:hover path,
.catalog-section__element-com:hover path{
    fill: #BD3A48;
}
.catalog-section__element-fav.active path{
    fill: #BD3A48;
}
.catalog-section__element-com.active path{
    fill: #BD3A48;
}

.catalog-section__element-wrapper{
    @apply p-5
}
.catalog-section__element-price{
    @apply text-[20px] font-bold
}
.catalog-section__filter{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
.catalog-section__filter-btn{
    @apply mb-[30px]
}
.catalog-section__info-text-picture div{
    @apply max-w-[589px]
}
.catalog-section__info-text-picture img{
    @apply w-full
}
.catalog-section__info-text-picture div:first-child{
    @apply mb-[15px]
}
.catalog-section__filter-btn button{
    background-color:inherit;
    border: 1px solid #BD3A48;
    border-left: 6px solid #BD3A48;
    padding: 10px 15px 10px 20px;
    display: flex; 

    
    span{
        @apply text-red;
        font-weight: 500;

        margin-left: 10px;
    }
}

.catalog-section__filter-sort{
    display: flex;

    .filter-sort__price{
        a{
            @apply text-red;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                margin-left: 5px;
            }
        }
    }
}
.filter-sort__title{
    margin-left: 20px;
    
    a{
        @apply text-red;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            margin-left: 5px;
        }
    }
}

.catalog-section__element-info{
    @apply flex justify-between items-center mt-5
}
.catalog-section__info{
    margin-top: 60px;
    padding-bottom: 150px;
}
.catalog-section__info-text{

    &:not(:first-child){
        margin-top: 40px;
    }

    h2{
        @apply text-dark_dark_blue text-[22px];
        font-weight: 700;
    }
    p{
        @apply text-[14px];
        margin-top: 20px;
    }
}
.catalog-section__info-text-picture{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.catalog-section__element-picture{
    @apply relative
}
.catalog-section__element-picture img{
    @apply w-full
}

.catalog-section__element-mark{
    @apply absolute w-[35px] h-[35px] bottom-0 flex items-center justify-center
}

.catalog-section__element-mark.garage,
.catalog-section__element-mark.canopy{
    @apply bg-red left-[19px]
}
.catalog-section__element-mark.boiler{
    @apply left-[54px];
    background: #F96600;
}

.catalog-filter__wrapper {
    @apply block fixed left-0 top-0 w-full h-full overflow-auto; 
    transition: all 0.3s ease-in-out;
}
.catalog-filter__wrapper.close{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.catalog-filter__wrapper.close .catalog-filter__list {
    transform: translateX(-280px);
}
.modal-menu__wrapper.open .catalog-filter__list {
    transform: translateY(0px);
}


.catalog-filter__wrapper.open{
    @apply z-[3];
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
}
.catalog-filter__reset:hover{
    text-decoration: underline
}
.catalog-filter__list{
    @apply relative h-full bg-backg max-w-[89%] flex justify-end;
    padding: 30px 15px;
    transition: transform 0.3s linear;
}
.catalog-filter__close{
    @apply bg-red absolute top-0 right-[-32px] p-[7px] max-h-[32px];
}
.catalog-filter__content{
    @apply grid gap-[10px];
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        display: none;
    }
}
.catalog-filter__section{
    @apply p-[20px];
    background: #F5F5F2;
}
.catalog-filter__btn{
    @apply text-red flex items-center justify-between mb-[30px]
}
.catalog-filter__apply{
    border-radius: 1px;
    border: 1px solid var(--red, #BD3A48);
    padding: 10px 15px 12px 19px;
    border-left: 6px solid var(--red, #BD3A48);
}
.catalog-filter__title{
    @apply mb-[15px];
    color: #262526;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; 
}

.catalog-filter__checkbox:not(:last-child){
    margin-bottom: 10px;
}
.catalog-filter__values{
    @apply flex flex-wrap
}

// range
.catalog-filter__range { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.catalog-filter__range:not(:first-child) {
    margin-top: 18px;
}

.range {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--white);
}

.range-fill {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--dark);
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    padding-top: 7px;
    letter-spacing: 0.48px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}
  
// checkbox
.catalog-filter__checkbox{
    display: flex;
    align-items: center;

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;

      }
      
      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 35px;
        height: 22px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
      }
      
      label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3.5px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }
      
      input:checked + label {
        background: var(--red);
      }
      
      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }
      
      label:active:after {
        width: 30px;
      }


    span{
        font-weight: 500;
        color: var(--dark);
        margin-left:10px;
    }
}
.catalog-filter__choice{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 5px 12px 6px 12px;
    border-radius: 1px;
    border: 1px solid var(--red);
    transition: all 0.3s linear;
    cursor: pointer;
    

    span{
        color: var(--dark);
        font-size: 16px;
        font-weight: 500;
    }
}
.catalog-filter__choice.active{
    background: var(--red);
    span{
        color: var(--white);
    }
   
}

@media (min-width:480px ) {
    .catalog-section__element-title{
        @apply text-[24px];
    }
    .catalog-section__filter{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .catalog-section__filter-btn{
        @apply mb-0
    }
    .catalog-filter__list{
        @apply max-w-[70%];
    }
}
@media (min-width:720px) {
    .catalog-section{
        @apply grid-cols-2 gap-[10px];
    }
    .catalog-section__info-text-picture{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    .catalog-section__info-text-picture div:first-child{
        @apply mr-[15px]
    }
    .catalog-section__info-text h2{
        @apply text-[36px];
    }
    .catalog-section__info-text p{
        @apply text-[14px];
    }
    .catalog-filter__list{
        @apply max-w-[60%];
    }
}
@media (min-width:1024px) {
    .catalog-section{
        @apply grid-cols-3 gap-10;
    }
    .catalog-section__element-title{
        @apply text-[22px];
    }
    .catalog-filter__list{
        @apply max-w-[50%];
    }
}
@media (min-width:1280px) {
    .catalog-section__element-title{
        @apply text-[24px];
    }
    .catalog-filter__list{
        @apply max-w-[40%];
    }
}
@media (min-width:1440px) {
    
}