header.header-margin{
    padding-top: 17px;
    margin-bottom: -200px;
    position: relative;
    z-index: 2;
}
header span{
    font-family: 'Montserrat', sans-serif;
}
.header-wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    flex-wrap: wrap;
}
.header-sections{
    @apply flex justify-between items-center mt-[18px] hidden;
}

.header__logo-block{
    display: flex;
    align-items: center;
    margin-bottom: 24px
}

.header__fav,
.header__comp{
    @apply min-w-[20px]
}
.header__fav path,
.header__comp path{
    transition: all 0.3s linear;
}
.header__fav:hover path,
.header__comp:hover path{
    fill: var(--red)
}

.header__catalog-block{
    @apply bg-white;
    display: flex;
    align-items: baseline;
}

.catalog-btn{
    @apply bg-red;
    display: flex;
    align-items: center;
    padding: 12px 26px 14px 26px;    
    border-left: 6px solid #2A333E;
    border-radius: 1px;
}
.catalog-btn div{
    @apply text-white;
    margin-left: 17px;
    font-weight: 500;
    font-size: 18px;
}

.catalog-block__search{
    margin: 0 15px;
}
.catalog-block__search button{
     @apply min-w-[24px]
}
.header__contact{
    @apply hidden
}

.contact__number{
    @apply flex items-center text-dark;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 24px;
    text-wrap: nowrap;
}
.contact__number-block{
    @apply flex items-center flex-col;
    transition: padding 0.3s linear;
}
.contact__number-block a:not(:first-child){
    @apply invisible opacity-0 absolute;
    transition: all 0.3s linear;
}
.contact__number-block a:hover{
    text-decoration: underline;
}
.contact__number-block.active a:not(:first-child){
    @apply visible opacity-[1] relative
}
.contact__number button{
    @apply ml-[10px]
}

.contact__callback{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 20px;
    text-wrap: nowrap;
    color: var(--red);
}
.contact__callback button:hover{
    text-decoration: underline;
}

.header__menu ul{
    display: flex;
    padding: 10px 0px;
}

.header__menu ul li{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.header__menu ul li:hover{
    @apply bg-white
}
.header__menu ul li:not(:first-child){
    margin-left: 20px;
}

.header__buttons{
    display: flex;
    justify-content: center;
    align-self: center;
}
.header__comp{
    margin-left: 15px;
}
.header__burger-menu{
    @apply block
}
.header__title{
    @apply text-[14px];
}


@media (min-width:480px ) {
    header.header-margin{
        margin-bottom: -93px;
    }
   .header__logo{
    @apply max-w-[135px] 
   }
   .header-wrapper{
    flex-wrap: nowrap;
    }
    .header__title{
        @apply hidden
    }
    .header__logo-block{
        margin-bottom: 0
    }
}
@media (min-width:720px ) {
    .header__catalog-block{
        margin-inline-end: auto;
        margin-left: 60px;
    }
}
@media (min-width:1024px) {
    header.header-margin{
        margin-bottom: -160px;
    }
    .header__catalog-block{
        margin-inline-end: inherit;
        margin-left: 0px;
    }
    .header-sections{
        @apply flex;
    }
    .header__burger-menu{
        @apply hidden
    }
    .header__contact{
        @apply flex-col justify-start items-start;
        display: flex;
    }
    .header__title{
        @apply block;
        font-size: 1em;
        margin-left: 18px;
    }
    .contact__number-block.active{
        background: white;
        padding: 10px;
        margin-top: -30px;
        margin-bottom: -40px;
        position: relative;
        z-index: 1;
    }
   
}
@media (min-width:1280px ) {
    .contact__callback{
        margin-left: 21px;
    }
    .header__contact{
        @apply flex-row items-center;
        display: flex;
    }
    .header__menu ul li:not(:first-child){
        margin-left: 49px;
    }
}
@media (min-width:1440px ) {
    .contact__callback{
        margin-left: 45px;
    }
    .header__menu ul li:not(:first-child){
        margin-left: 56px;
    }
}