.button-prev,
.button-next{
    @apply rounded-[50%] min-w-[43px] min-h-[43px] flex justify-center items-center w-fit static
}
// information
.information{
    @apply w-full h-full relative
}
.information__title div{
    @apply w-fit bg-white text-[35px] max-w-[290px];    
    padding: 8px 10px;
    
    h1{
        @apply font-bold  
    }
    span{
        @apply text-red font-bold
    }
}
.information__img img{
    @apply min-h-[655px] object-cover object-left w-full;
}
.information__content {
    @apply w-full absolute bottom-[100px]
}
.information-swiper__buttons{
    @apply absolute bottom-5  z-[1] w-full
}
.information-swiper__buttons-wrapper{
    @apply flex items-center justify-between;
}
.information-swiper-navigation{
    @apply flex
}
.information-swiper-button-prev{
    @apply mr-3
}
.information .swiper-pagination-bullet{
    @apply bg-gray opacity-[1];
    transition: all 0.5s ease-in-out;
}
.information .swiper-pagination-bullet-active{
    @apply bg-red w-[27px] rounded-[90px]
}
.information-swiper-pagination{
   width: fit-content !important
}

.detail-btn {
    @apply flex justify-center items-center bg-red rounded-[1px] mt-[60px];
    border-left: 6px solid #2A333E;
    padding: 10px 22px 12px 22px;
}
.btn-red{
    // display: inline-block;
    transition: all .4s;
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -2px;
        width: 0%;
        height: 100%;
        background-color: var(--dark);
        transition: all .4s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
        width: calc(100% + 2px);
        }
    }
}
.btn-white{
    transition: all .4s;
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -2px;
        width: 0%;
        height: 100%;
        background-color: var(--red);
        transition: all .4s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
        width: calc(100% + 2px);
        }
        path{
            fill: white
        }
        span{
            color: white
        }
    }
}
.detail-btn span{
    @apply text-white font-medium text-18px leading-5 mr-[18px]
}
.information-swiper-button-prev,
.information-swiper-button-next{
    @apply bg-red
}

// calculate-project
.calculate-project{
    @apply relative mt-[100px] pb-[100px];

    background-repeat: no-repeat;
    background: linear-gradient(#EFEEEA, #DBF2FF);
    z-index: 1;
}
.calculate-project__house{
    @apply absolute bottom-0 z-[1] object-cover w-full h-full;
    object-position: 0%;
}
.calculate-project__container{
    @apply grid gap-[30px] grid-cols-1
}

.calculate-project__text{
    @apply grid grid-cols-1 gap-[30px] relative z-[2];
}

.calculate-project__text h2{
    line-height: 60px;
}

.calculate-project__text p{
    font-size: 18px;
    line-height: 28px;
}

.calculate-project__type-build{
    @apply max-w-[650px] z-[2] bg-white;
    padding: 50px 14px;
}

.calculate-project__type-build h2{
    @apply font-medium text-30px leading-[36px] mb-[30px]
}

.type-build__blocks{
    display: grid;
    grid: 1fr;
    gap: 20px;
}
.block__picture img {
    width: 100%;
}
.type-build__block{
    text-align: center;
    position: relative;
}

.block__text{
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-top: 20px;
}
.block__select{
    background-color: #D6DFEA;
    border-radius: 50%;
    
    height:32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;

    margin: 0 auto;
    transition: all .3s ease-in-out;
}
.block__select.active,
.block__select:hover{
    @apply bg-red
}

.type-build__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
}

.type-build__back{
    @apply text-red text-16px font-medium;
    background-color: inherit;
    border: 1px solid #BD3A48;
    border-left: 6px solid #BD3A48;

    padding: 10px 15px 12px 13px;
}
.type-build__next{
    @apply text-white text-16px font-medium bg-red;
    border-left: 6px solid #2A333E;
    padding: 10px 15px 12px 13px;

}


//popular-projects
.popular-projects__slider{
    display: flex;
    justify-content: center;
}
.popular-projects__header{
    margin-top: 80px; 
}
.popular-projects__slider-buttons{
    @apply flex;
}
 
.popular-project-swiper-button-next,
.popular-project-swiper-button-prev{
    @apply bg-red
}
.popular-project-swiper-button-next{
    margin-left: 10px;
}
.slider-element{
    @apply bg-white
}
.popular-projects__slider{
    margin-top: 60px;
}
.slider-element__title{
    @apply text-[22px] font-medium;
}
.slider-element__property-table{
    width: 100%;
}
.popular-projects__wrapper{
    @apply px-[16px]
}
.property-table__value{
    @apply grid;
    grid-template-columns: 1.5fr 1fr;
}
.slider-element__wrapper{
    @apply p-5
}
.slider-element__picture{
    @apply relative
}
.slider-element__picture img{
    @apply w-full
}
.slider-element__info{
    @apply flex justify-between items-center mt-5
}
.more-detail__btn{
    @apply text-red font-medium;
    background-color: inherit;
    border: 1px solid #BD3A48;
    border-left: 6px solid #BD3A48;
    padding: 10px 15px 10px 14px;
}
.slider-element__price{
    @apply text-[20px] font-bold
}


// stocks
.stocks{
    @apply bg-white mt-[80px] py-[80px] 
}
.stocks__blocks{
    @apply mt-[60px] grid grid-cols-1 gap-5;
}
.stocks__blocks-block{
    @apply relative;
}
.stocks__blocks-block__img img{
    @apply min-h-[223px] object-cover
}
.stocks__blocks-block__text{
    @apply text-24px absolute bottom-[29px] left-[16px]
}
.stocks__blocks-block__title{
    @apply bg-red text-center font-bold text-[22px] text-white leading-[30px] p-[5px];
    text-transform: uppercase;
}
.stocks__blocks-block__subtitle{
    @apply bg-backg text-18px leading-[25px] font-medium p-[5px] w-fit;
}


//implemented-projects
.implemented-projects__title{
    margin-top: 80px;
}

.implemented-projects__slider{
    margin-top: 60px;
}
.implemented-projects__slide{
    @apply bg-white max-w-[290px]
}

.implemented-projects-swiper-buttons{
    @apply flex justify-between absolute w-[294px] bottom-[185px];
}
.implemented-projects-swiper-button-prev svg{
    max-width: 21px;
}
.implemented-projects-swiper-button-prev{
    @apply relative z-[2] bg-dark;
    border: 5px solid #EFEEEA;
}
.implemented-projects-swiper-button-next svg{
    max-width: 21px;
}
.implemented-projects-swiper-button-next{
    @apply relative z-[2] bg-dark;
    border: 5px solid #EFEEEA;
}
.implemented-projects__slide-img img{
    min-height: 209px;
    object-fit: cover;
}
.implemented-projects__slide-info{
    padding: 40px 10px 26px 10px;
}
.slide-info__row {
    @apply flex justify-between items-center
}
.slide-info__row:first-child{
    @apply flex-col items-start
}
.slide-info__row-title{
    @apply mb-[17px] font-medium text-24px;
}
.slide-info__row-price{
    @apply font-bold text-[22px];
}
.slide-info__row-btn{
    @apply text-white font-medium bg-red;
    border-left: 5px solid #2A333E;
    padding: 10px 20px 10px 15px;
}

.implemented-projects__slider{
    @apply flex justify-center items-center;
}

.implemented-projects__all-project-btn{
    @apply text-red font-medium block;
    background-color: inherit;
    border: 1px solid #BD3A48;
    border-left: 6px solid #BD3A48;
    padding: 10px 15px 12px 13px;
    margin: 62px auto 0;
}

// offer
.offer{
    @apply bg-white pb-[60px] mt-[80px];
    background-color: #F9F9F9;
}
.offer__title{
    @apply text-center pt-[80px]
}
.offer__content{
    @apply text-dark_dark_blue
}
.offer__content h2{
    @apply font-medium text-24px flex
}

.offer__content-btn{
    @apply w-full bg-red text-white font-medium;
    border-left: 6px solid #2A333E;
    padding: 10px 20px 12px 14px;
}
.offer__content-blocks{
    @apply relative grid
}
.offer__content-img{
    margin-top: 30px;
    margin-bottom: -90px;
    max-width: 743px;
}
.offer__content{
    margin-top: 80px;
}
.offer__content-number{
    @apply rounded-[50%] bg-red flex justify-center items-center text-white mr-[8px] w-[33px] h-[33px]

}


// videos
.videos__title{
    margin-top:150px ;
}

.videos__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
    gap: 20px
}   

.video__container video{
    height: 100%;
    object-fit: fill;
}


//reviews
.reviews__title{
    margin-top: 80px;
}

.reviews__slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.reviews__slider-slide{
    @apply max-w-[290px] bg-white grid;
    padding: 21px 7px;
}
.reviews-swiper-pagination{
   text-align-last: center; 
}

.reviews__slider .swiper-pagination-bullet{
    @apply opacity-[1];
    background: inherit;
    border: 1px solid var(--dark);
    transition: all 0.5s ease-in-out;
    width: 8px;
}
.reviews__slider .swiper-pagination-bullet-active{
    @apply bg-dark w-[30px] rounded-[90px] ;
}

.reviews__slider-slide__avatar{
    @apply max-w-[70px]
}
.reviews__slider-slide__title{
    align-self: center;
}
.reviews__slider-slide__text{
    grid-column: 1/3;
}

.reviews__slider-slide__title{
    @apply text-dark_dark_blue font-medium text-24px;
}
.reviews__slider-slide__text{
    @apply text-[13px] px-[23px] mt-[12px];

}

.reviews-swiper-button-prev svg{
    max-width: 21px;
}
.reviews-swiper-button-prev{
    @apply relative bg-dark;
    border: 5px solid #EFEEEA;
    border-radius: 50%;
    z-index: 2;
}
.reviews-swiper-button-next svg{
    max-width: 21px;
}
.reviews-swiper-button-next{
    @apply relative bg-dark;
    border: 5px solid #EFEEEA;
    border-radius: 50%;
    z-index: 2;
}
.reviews-swiper-buttons{
    @apply flex justify-between absolute w-[315px] bottom-[138px];
}

//questions
.questions{
    @apply relative z-0 min-h-[1700px];
    background: linear-gradient(#EFEEEA,#DBF2FF);
}

.question_dom{
    @apply absolute bottom-0 right-0 z-[1] object-cover w-full h-full
}
.questions__title{
    @apply mt-[80px] relative z-[2]
}
.questions__question{
    @apply bg-gray relative z-[2] max-w-[850px] mt-[20px]
}
.questions__question-content.inactive{
    @apply gap-0 text-[0px] m-0 opacity-0 p-0;
    transition: font-size .5s .25s, margin .5s .25s, gap .3s .25s, opacity .5s, padding .5s .25s, max-height 0.5s ease-in-out;
}
.questions__question-content.active{
    transition: gap .3s;
}
.questions__question-title{
    @apply flex justify-center items-center p-[10px] cursor-pointer;
}
.questions__question-title h3{
    @apply text-dark_dark_blue font-bold text-16px
}
.questions__question-content{
    @apply grid m-0 grid-cols-1 gap-[5px] p-[10px];
  
} 
.questions__question-sign{
    @apply text-[23px]
}
.main-search input{
    @apply w-[90%] bg-white p-[30px] absolute top-[100px] z-[3] rounded-[20px] left-0 right-0 invisible opacity-0;
    margin: 0 auto;
    box-shadow: 10px 12px 5px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
}
.main-search__wrapper.open input{
    @apply visible opacity-[1]
}
.main-search__wrapper{
    @apply block fixed left-0 top-0 w-full h-full overflow-auto; 
    transition: all 0.3s ease-in-out;
}
.main-search__wrapper.close{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.main-search__wrapper.open{
    @apply z-[3];
    opacity: 1;
    visibility: visible;
}


.title{
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
}
.title span{
    @apply text-red;
}

@media (min-width:480px ) {
    .information__title div{
        @apply text-[45px] max-w-none;  
    }
    .information__content {
        bottom: 150px;
    }
    .button-next{
        min-width: 54px;
        min-height: 54px;
    }
    .button-prev{
        min-width: 54px;
        min-height: 54px;
    }
    .questions__question-title h3{
        font-size: 18px;
    }
    .questions__question-content{
        @apply p-[10px] text-[16px]
    } 
    .reviews__slider-slide{
        max-width: 438px;
        padding: 21px 60px;
    }
    .reviews__slider-slide__text{
        font-size: 16px;
        padding: 0;
    }
    .offer__content-left,.offer__content-right{
        @apply grid grid-cols-2 gap-[30px]
    }
    .offer__content.offer-call{
        @apply self-center justify-self-center;
    }
    .offer__content h2{
        @apply flex-col
    }
    .offer__content-number{
        @apply self-center
    }
    .implemented-projects__slide{
        @apply max-w-[380px]
    }
    .implemented-projects-swiper-buttons{
        @apply w-[435px] bottom-[180px];
    }
    .slide-info__row-price{
        @apply text-[27px]
    }
    .stocks__blocks-block__title{
        @apply text-[25px]
    }
    .stocks__blocks-block__subtitle{
        @apply text-[21px]
    }
    .popular-projects__wrapper{
        @apply px-0
    }
    .slider-element__title,.slider-element__price{
        @apply text-24px
    }
    .slider-element{
        @apply max-w-[325px]
    }
    .popular-projects__header {
        @apply flex justify-between items-center;
    }
    .reviews-swiper-buttons{
        @apply w-[482px];
    }
    .type-build__blocks{
        grid: auto-flow / 1fr 1fr;
    }
    .questions{
        @apply min-h-[1163px];
    }

    .title{
        font-size: 45px;
    }
}
@media (min-width:720px) {
    .information__title div{
        @apply text-[55px];  
    }
    .reviews__slider-slide{
        max-width: 650px;
        padding: 30px 40px;
        grid-template-columns: 0.3fr 1fr;
    }
    .reviews__slider-slide__avatar{
        grid-row: 1/3;
    }
    .reviews__slider-slide__avatar{
        max-width: 90px;
    }
    .reviews__slider-slide__text{
        grid-column: 2;
    }
    .videos__wrapper{
        gap: 26px
    }   
    .offer__content-btn{
        @apply w-fit;
    }
    .offer__content-left,.offer__content-right{
        @apply gap-[90px]
    }
    .offer__content h2{
        @apply flex-row
    }
    .implemented-projects__slide{
        @apply max-w-[577px]
    }
    .implemented-projects-swiper-buttons{
        @apply w-[636px] bottom-[140px];
    }
    .slide-info__row{
        @apply flex-col
    }
    .implemented-projects__slide-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .slider-element{
        @apply max-w-[414px]
    }
    .calculate-project__text{
        @apply grid-cols-2 gap-[70px]
    }
    .calculate-project__text p{
        font-size: 20px;
    }
    .reviews__title{
        margin-top: 80px;
        text-align: center;
    }
    .reviews-swiper-buttons{
        @apply w-[710px] bottom-[110px];
    }
    .calculate-project__type-build{
        @apply p-[50px];
    }
    .questions{
        @apply min-h-[956px];
    }


    .title{
        font-size: 50px;
    }
}
@media (min-width:1024px) {
    .information__title div{
        @apply text-[70px];  
    }
    .reviews__slider-slide{
        max-width: 880px;
        grid-template-columns: 0.2fr 1fr;
    }
    .videos__wrapper{
        grid-template-columns: 2fr 1fr;
        gap: 40px 35px
    }   
    .video__container:first-child{
        grid-row: 1/3;
    }
    .offer__content-left, .offer__content-right{
        @apply gap-[60px]
    }
    .offer__content-right{
        @apply grid-cols-1 gap-0
    }
    .offer__content.offer-call{
        @apply mt-[25px]
    }
    .offer__content-blocks{
        grid-template-columns: 2fr 1fr;
        gap: 60px;
    }
    .offer__content-img{
        grid-column: 1/3;
        justify-self: center;
    }
    .stocks__blocks{
        @apply grid-cols-2 gap-[10px]
    }
    .calculate-project__container{
        grid-template-columns: 1fr 1fr;
    }
    .calculate-project__text{
        @apply block
    }
    .calculate-project__text p{
        @apply mt-[28px]
    }
    .reviews-swiper-buttons{
        @apply w-[952px] bottom-[80px];
    }
}
@media (min-width:1280px) {
    .implemented-projects__slide{
        @apply max-w-[778px]
    }
    .stocks__blocks{
        @apply gap-[20px]
    }
    .implemented-projects-swiper-buttons{
        @apply w-[850px] bottom-[117px];
    }
    .calculate-project__house{
        object-position: inherit;
    }
}
@media (min-width:1440px) {

}
@media (min-width:1920px) {
    .videos__wrapper{
        gap: 40px 45px
    }  

    .offer__content-blocks{
        position: relative;
    
        display: flex;
        justify-content: space-between;
    }
    .offer__content{
        max-width: 280px;
    }
    .offer__content-left, .offer__content-right{
        @apply block
    }
    .offer__content-img{
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        max-width: 743px;
        margin: 0 auto;
    }
    .stocks__blocks{
        @apply gap-[50px]
    }
}