.service-section__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    
    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    margin-top: 40px;
}

.service-section__grid-item__picture{
    @apply max-h-[237px] overflow-hidden;
    
    img {
        @apply w-full
    }

}
.service-section__grid-item__info{
    padding: 20px;

    h2{
        font-size: 24px;
        font-weight: 500;
        color: var(--dark_dark_blue);

    }
}
.service-section__grid-item__info-btn{
    margin-top: 30px;

    a{
        border: 1px solid var(--red);
        border-left: 6px solid var(--red);
        color: var(--red);

        padding: 10px 15px;


    }
}

.service-section__block{
    margin-top: 60px;


    &:last-child{
        padding-bottom: 150px;
    }

    h2{
        font-size: 36px;
        font-weight: 700;
        color: var(--dark);

        span{
            color: var(--red);
        }
    }

    p{
        margin-top: 20px;
        color: var(--dark);
    }
}
.service-section__block-images{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    margin-top: 30px;

    @media (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
}