extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="error__text-block">
                <h2 class="error__text">
                    <p class="error__text-text">Страница не найдена</p>
                    <p class="error__text-number">404</p>
                </h2>
            </div>
            <div class="error__picture-block">
                <div class="error__picture">
                    <img src="../../assets/img/Sleep.png">
                </div>
            </div>
            <div class="error__return-back">
                <p>Страница, на которую Вы пытаетесь попасть, не существует или была удалена.</p>
                <div class="error__return-back-button">
                    <button>
                        <span>Перейти на главную</span>
                        <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>