extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • блог</div>
        
            <div class="blog-section">
                <div class="blog-section__title">
                    <h1>Блог</h1>
                </div>

                <div class="blog-section__grid">
                    <a href="#" class="blog-section__item-link">
                        <div class="blog-section__item">
                            <div class="blog-section__item-picture">
                                <img src="../assets/img/blog.png">
                            </div>
                            <div class="blog-section__item-text">
                                <h2>Строительство фундамента в Орехово-Зуево</h2>
                                <p>Никакого дела не бывает без основы. В зодчестве – тем более. С основы – фундамента – начинается строительство любого здания.</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="blog-section__item-link">
                        <div class="blog-section__item">
                            <div class="blog-section__item-picture">
                                <img src="../assets/img/blog.png">
                            </div>
                            <div class="blog-section__item-text">
                                <h2>Строительство фундамента в Орехово-Зуево</h2>
                                <p>Никакого дела не бывает без основы. В зодчестве – тем более. С основы – фундамента – начинается строительство любого здания.</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="blog-section__item-link">
                        <div class="blog-section__item">
                            <div class="blog-section__item-picture">
                                <img src="../assets/img/blog.png">
                            </div>
                            <div class="blog-section__item-text">
                                <h2>Строительство фундамента в Орехово-Зуево</h2>
                                <p>Никакого дела не бывает без основы. В зодчестве – тем более. С основы – фундамента – начинается строительство любого здания.</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="blog-section__item-link">
                        <div class="blog-section__item">
                            <div class="blog-section__item-picture">
                                <img src="../assets/img/blog.png">
                            </div>
                            <div class="blog-section__item-text">
                                <h2>Строительство фундамента в Орехово-Зуево</h2>
                                <p>Никакого дела не бывает без основы. В зодчестве – тем более. С основы – фундамента – начинается строительство любого здания.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
