<div class="callback-form" id="callback-form" style="display:none;max-width:560px;">
    <div class="callback-form__title">
        <h2>Заказать обратный звонок</h2>
    </div>
    <form>
        <div class="callback-form__form">
            <input type="phone" class="callback-form__form-phone" id="callback-form__form-phone" name="callback-form__form-phone" required placeholder="Телефон для связи*">
            <input type="text" class="callback-form__form-namee" id="callback-form__form-name" name="callback-form__form-name" required placeholder="Ваше имя">
            <input>
            <div class="callback-form__form-approval">
                <input type="checkbox" id="switch" checked /><label for="switch">Toggle</label>
                <span>Даю согласие на <a href="">обработку персональных данных</a></span>
            </div>
            <div class="callback-form__form-btn">
                <button type="submit">Заказать звонок</button>
            </div>
        </div>
    </form>
</div>