extends ../layout/main


block content
    <div class="catalog">
        <div class="catalog__wrapper">
            <div class="catalog__banner">
                <div class="catalog__img">
                    <img src="../assets/img/catalog_background-top.png", alt="Строительство домов из блоков">
                </div>
                <div class="catalog__content">
                    <div class="container">
                        <div class="catalog__title">
                            <div>
                                <h1>Каталог проектов
                            </div> 
                            <div>
                                <span>домов</span>
                            </div>
                            </h1> 
                        </div>                    
                    </div>
                </div>
            </div>             
        </div>
        <div class="section-wrapper">
            <div class="catalog-container">
                <div class="catalog__list">
                    <div class="catalog__item">
                        <div class="catalog__item__picture">
                            <img src="../assets/img/doma_iz_brusa.png" alt="">
                        </div>
                        <div class="catalog__item__content">
                            <h2 class="title">Дома из <span>бруса</span></h2>
                            <p>Дома из бруса последние годы стали весьма популярными. Одна из главных причин этой популярности — стильный вид, особая архитектура, уходящая корнями в историю древнего русского зодчества. Дом из бруса обладает целым рядом преимуществ по сравнению с домами, построенными из других материалов</p>
                            <div class="catalog__item__content-property">
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1523)">
                                        <path d="M36.4371 6.90709C30.9336 5.39912 25.3977 3.05108 20.428 0.116864C20.2984 0.0403376 20.1507 -3.05176e-05 20.0002 -3.05176e-05C19.8498 -3.05176e-05 19.702 0.0403376 19.5725 0.116864C14.4594 3.13537 9.22266 5.35639 3.56291 6.90709C3.38504 6.95581 3.2281 7.06163 3.11625 7.20826C3.00439 7.3549 2.94382 7.53422 2.94385 7.71865V16.316C2.94385 25.1693 7.02814 31.0296 10.4545 34.3867C14.1433 38.0012 18.4401 40 20.0002 40C21.5601 40 25.857 38.0012 29.5457 34.3867C32.9721 31.0297 37.0561 25.1694 37.0561 16.316V7.71857C37.0561 7.33951 36.8027 7.00716 36.4371 6.90709ZM35.3733 16.3159C35.3733 24.5849 31.5639 30.0532 28.3679 33.1846C24.7405 36.7389 20.8622 38.317 20.0002 38.317C19.1383 38.317 15.2597 36.7389 11.6322 33.1846C8.43634 30.0531 4.62674 24.5849 4.62674 16.3159V8.35732C10.0391 6.8206 15.0795 4.676 20.0004 1.81639C24.7983 4.60014 30.0903 6.85138 35.3733 8.357V16.3159Z" fill="#BD3A48"/>
                                        <path d="M12.5419 8.26319C12.3716 7.83077 11.883 7.61835 11.4505 7.78874C9.94171 8.38301 8.41223 8.92348 6.865 9.40913C6.69406 9.46275 6.5447 9.56953 6.43865 9.71392C6.33261 9.85832 6.27541 10.0328 6.27539 10.2119V13.4612C6.27539 13.9259 6.65219 14.3026 7.1168 14.3026C7.58141 14.3026 7.9582 13.9259 7.9582 13.4612V10.8269C9.34289 10.3788 10.7133 9.88771 12.0674 9.35436C12.4998 9.18413 12.7123 8.69561 12.5419 8.26319ZM14.1402 8.4228C14.2531 8.4228 14.3677 8.40006 14.4777 8.3521L14.4931 8.34538C14.9188 8.15881 15.1105 7.66327 14.924 7.23772C14.7373 6.81202 14.2389 6.61944 13.8137 6.80585L13.8001 6.8117C13.3741 6.99772 13.1818 7.49288 13.3678 7.91866C13.5059 8.23475 13.8156 8.4228 14.1402 8.4228ZM30.025 27.1315C29.6362 26.8773 29.1148 26.9866 28.8603 27.3756C28.167 28.4369 27.3535 29.4531 26.4423 30.3958C25.6928 31.1711 24.886 31.8889 24.0288 32.5431C23.6593 32.8248 23.5882 33.3528 23.8698 33.7224C23.9484 33.8255 24.0497 33.9091 24.1658 33.9666C24.282 34.0241 24.4099 34.0539 24.5395 34.0537C24.7175 34.0537 24.8968 33.9976 25.0491 33.8813C25.9736 33.1757 26.8437 32.4016 27.652 31.5655C28.6373 30.5465 29.5177 29.4465 30.2691 28.2961C30.5234 27.907 30.414 27.3856 30.025 27.1315ZM22.0747 33.8627L22.0264 33.8912C21.6243 34.1241 21.4869 34.6387 21.7197 35.0408C21.775 35.1365 21.8486 35.2203 21.9364 35.2875C22.0241 35.3547 22.1242 35.404 22.231 35.4324C22.3378 35.4609 22.4491 35.4681 22.5586 35.4535C22.6682 35.4389 22.7738 35.4028 22.8694 35.3474L22.9251 35.3147C23.3261 35.0798 23.4608 34.5644 23.2259 34.1634C22.9909 33.7626 22.4755 33.6281 22.0747 33.8627ZM14.2646 18.2827C13.748 17.766 13.0609 17.4816 12.3301 17.4816C11.5993 17.4816 10.9121 17.7661 10.3952 18.2827C9.32859 19.3496 9.32859 21.0855 10.3952 22.1523L15.3637 27.1206C15.8804 27.6372 16.5675 27.9216 17.2984 27.9216C18.0292 27.9216 18.7163 27.6372 19.2331 27.1205L29.6051 16.7484C30.6716 15.6813 30.6716 13.9456 29.6049 12.8791C29.0882 12.3624 28.4011 12.078 27.6702 12.078C26.9393 12.078 26.2522 12.3625 25.7354 12.8791L17.2983 21.3162L14.2646 18.2827ZM26.9254 14.0691C27.023 13.9711 27.1391 13.8933 27.2669 13.8404C27.3948 13.7875 27.5319 13.7604 27.6702 13.7608C27.9518 13.7608 28.2162 13.8703 28.4152 14.0691C28.8257 14.4797 28.8257 15.148 28.415 15.5587L18.0432 25.9305C17.8444 26.1294 17.5798 26.2388 17.2984 26.2388C17.017 26.2388 16.7523 26.1294 16.5534 25.9305L11.5852 20.9624C11.1745 20.5517 11.1745 19.8834 11.585 19.4729C11.7839 19.274 12.0485 19.1644 12.33 19.1644C12.6115 19.1644 12.8759 19.2739 13.0748 19.4727L16.7033 23.1013C16.8612 23.259 17.0751 23.3477 17.2983 23.3477C17.5215 23.3477 17.7354 23.2591 17.8931 23.1013L26.9254 14.0691Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1523">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                        
                                    <span>Высокая прочность</span>
                                </div>
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1529)">
                                        <path d="M19.9785 30C18.2139 29.9952 16.5232 29.2905 15.2775 28.0407C14.0317 26.7909 13.3326 25.098 13.3335 23.3334C13.3335 20.6634 15.1468 19.5367 16.7468 18.5417C18.7135 17.3184 20.4118 16.2617 20.0052 12.5934C19.9871 12.4208 20.0232 12.2469 20.1084 12.0958C20.1937 11.9447 20.3239 11.824 20.481 11.7503C20.6381 11.6766 20.8142 11.6537 20.9849 11.6847C21.1556 11.7157 21.3124 11.7991 21.4335 11.9234C27.4702 18.2 26.6468 23.2684 26.6085 23.4817C26.6235 27.01 23.6418 30 19.9785 30ZM21.6635 14.705C21.2735 17.6884 19.2852 18.925 17.6268 19.9567C15.9485 21 15.0002 21.67 15.0002 23.3334C15.0002 26.09 17.2335 28.3334 19.9785 28.3334C22.7235 28.3334 24.9568 26.09 24.9568 23.3334C24.9735 23.1667 25.5085 19.53 21.6635 14.705Z" fill="#BD3A48"/>
                                        <path d="M12.5001 33.3333C12.3154 33.3337 12.1357 33.2727 11.9894 33.1599C11.8431 33.047 11.7385 32.8888 11.6919 32.71C11.6454 32.5312 11.6596 32.342 11.7322 32.1722C11.8049 32.0023 11.932 31.8614 12.0934 31.7717C14.3218 30.5333 17.8251 27.4517 18.3401 24.0417C18.373 23.8231 18.4914 23.6265 18.6693 23.4953C18.8471 23.364 19.0699 23.3087 19.2884 23.3417C19.507 23.3746 19.7036 23.493 19.8348 23.6709C19.9661 23.8487 20.0214 24.0714 19.9884 24.29C19.4218 28.04 15.9184 31.5517 12.9018 33.2267C12.7798 33.2975 12.6411 33.3343 12.5001 33.3333Z" fill="#BD3A48"/>
                                        <path d="M31.6668 40H8.33342C6.49508 40 5.00008 38.505 5.00008 36.6667V21.6667H1.66675C1.44726 21.6689 1.22953 21.6273 1.02632 21.5443C0.823103 21.4614 0.638484 21.3387 0.483274 21.1835C0.328063 21.0283 0.205382 20.8437 0.122413 20.6404C0.0394444 20.4372 -0.00214344 20.2195 8.50455e-05 20C8.50455e-05 19.5583 0.180085 19.125 0.493418 18.8117L19.4168 0.238341C19.573 0.0859412 19.7826 0.000640869 20.0009 0.000640869C20.2192 0.000640869 20.4288 0.0859412 20.5851 0.238341L26.6668 6.21334V2.50001C26.6668 2.27899 26.7545 2.06703 26.9108 1.91075C27.0671 1.75447 27.2791 1.66667 27.5001 1.66667H34.1668C34.3878 1.66667 34.5997 1.75447 34.756 1.91075C34.9123 2.06703 35.0001 2.27899 35.0001 2.50001V14.3833L39.5018 18.805C39.8201 19.125 40.0001 19.5583 40.0001 20C40.0023 20.2195 39.9607 20.4372 39.8778 20.6404C39.7948 20.8437 39.6721 21.0283 39.5169 21.1835C39.3617 21.3387 39.1771 21.4614 38.9739 21.5443C38.7706 21.6273 38.5529 21.6689 38.3334 21.6667H35.0001V36.6667C35.0001 38.505 33.5051 40 31.6668 40ZM20.0001 2.00167L1.66675 19.995L5.83342 20C6.05443 20 6.26639 20.0878 6.42267 20.2441C6.57895 20.4004 6.66675 20.6123 6.66675 20.8333V36.6667C6.66675 37.585 7.41508 38.3333 8.33342 38.3333H31.6668C32.5851 38.3333 33.3334 37.585 33.3334 36.6667V20.8333C33.3334 20.6123 33.4212 20.4004 33.5775 20.2441C33.7338 20.0878 33.9457 20 34.1668 20H38.3334L38.3284 19.99L33.5834 15.3283C33.5043 15.2508 33.4414 15.1582 33.3985 15.056C33.3556 14.9539 33.3334 14.8442 33.3334 14.7333V3.33334H28.3334V8.20001C28.3337 8.36444 28.2854 8.52529 28.1944 8.66231C28.1035 8.79932 27.9741 8.90637 27.8225 8.96998C27.6708 9.03359 27.5038 9.05092 27.3423 9.01979C27.1808 8.98865 27.0322 8.91044 26.9151 8.79501L20.0001 2.00167Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1529">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>    
                                        
                                    <span>Экологичность дома из дерева</span>
                                </div>
                            </div>
                            <div class="catalog__item__content-view">
                                <a href="/catalog-section.html">Смотреть 121 проект <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                                    </svg>
                                    </a>
                            </div>
                        </div>                        
                    </div>

                    <div class="catalog__item">
                        <div class="catalog__item__picture">
                            <img src="../assets/img/doma_iz_brusa.png" alt="">
                        </div>
                        <div class="catalog__item__content">
                            <h2 class="title">Дома из <span>бруса</span></h2>
                            <p>Дома из бруса последние годы стали весьма популярными. Одна из главных причин этой популярности — стильный вид, особая архитектура, уходящая корнями в историю древнего русского зодчества. Дом из бруса обладает целым рядом преимуществ по сравнению с домами, построенными из других материалов</p>
                            <div class="catalog__item__content-property">
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1523)">
                                        <path d="M36.4371 6.90709C30.9336 5.39912 25.3977 3.05108 20.428 0.116864C20.2984 0.0403376 20.1507 -3.05176e-05 20.0002 -3.05176e-05C19.8498 -3.05176e-05 19.702 0.0403376 19.5725 0.116864C14.4594 3.13537 9.22266 5.35639 3.56291 6.90709C3.38504 6.95581 3.2281 7.06163 3.11625 7.20826C3.00439 7.3549 2.94382 7.53422 2.94385 7.71865V16.316C2.94385 25.1693 7.02814 31.0296 10.4545 34.3867C14.1433 38.0012 18.4401 40 20.0002 40C21.5601 40 25.857 38.0012 29.5457 34.3867C32.9721 31.0297 37.0561 25.1694 37.0561 16.316V7.71857C37.0561 7.33951 36.8027 7.00716 36.4371 6.90709ZM35.3733 16.3159C35.3733 24.5849 31.5639 30.0532 28.3679 33.1846C24.7405 36.7389 20.8622 38.317 20.0002 38.317C19.1383 38.317 15.2597 36.7389 11.6322 33.1846C8.43634 30.0531 4.62674 24.5849 4.62674 16.3159V8.35732C10.0391 6.8206 15.0795 4.676 20.0004 1.81639C24.7983 4.60014 30.0903 6.85138 35.3733 8.357V16.3159Z" fill="#BD3A48"/>
                                        <path d="M12.5419 8.26319C12.3716 7.83077 11.883 7.61835 11.4505 7.78874C9.94171 8.38301 8.41223 8.92348 6.865 9.40913C6.69406 9.46275 6.5447 9.56953 6.43865 9.71392C6.33261 9.85832 6.27541 10.0328 6.27539 10.2119V13.4612C6.27539 13.9259 6.65219 14.3026 7.1168 14.3026C7.58141 14.3026 7.9582 13.9259 7.9582 13.4612V10.8269C9.34289 10.3788 10.7133 9.88771 12.0674 9.35436C12.4998 9.18413 12.7123 8.69561 12.5419 8.26319ZM14.1402 8.4228C14.2531 8.4228 14.3677 8.40006 14.4777 8.3521L14.4931 8.34538C14.9188 8.15881 15.1105 7.66327 14.924 7.23772C14.7373 6.81202 14.2389 6.61944 13.8137 6.80585L13.8001 6.8117C13.3741 6.99772 13.1818 7.49288 13.3678 7.91866C13.5059 8.23475 13.8156 8.4228 14.1402 8.4228ZM30.025 27.1315C29.6362 26.8773 29.1148 26.9866 28.8603 27.3756C28.167 28.4369 27.3535 29.4531 26.4423 30.3958C25.6928 31.1711 24.886 31.8889 24.0288 32.5431C23.6593 32.8248 23.5882 33.3528 23.8698 33.7224C23.9484 33.8255 24.0497 33.9091 24.1658 33.9666C24.282 34.0241 24.4099 34.0539 24.5395 34.0537C24.7175 34.0537 24.8968 33.9976 25.0491 33.8813C25.9736 33.1757 26.8437 32.4016 27.652 31.5655C28.6373 30.5465 29.5177 29.4465 30.2691 28.2961C30.5234 27.907 30.414 27.3856 30.025 27.1315ZM22.0747 33.8627L22.0264 33.8912C21.6243 34.1241 21.4869 34.6387 21.7197 35.0408C21.775 35.1365 21.8486 35.2203 21.9364 35.2875C22.0241 35.3547 22.1242 35.404 22.231 35.4324C22.3378 35.4609 22.4491 35.4681 22.5586 35.4535C22.6682 35.4389 22.7738 35.4028 22.8694 35.3474L22.9251 35.3147C23.3261 35.0798 23.4608 34.5644 23.2259 34.1634C22.9909 33.7626 22.4755 33.6281 22.0747 33.8627ZM14.2646 18.2827C13.748 17.766 13.0609 17.4816 12.3301 17.4816C11.5993 17.4816 10.9121 17.7661 10.3952 18.2827C9.32859 19.3496 9.32859 21.0855 10.3952 22.1523L15.3637 27.1206C15.8804 27.6372 16.5675 27.9216 17.2984 27.9216C18.0292 27.9216 18.7163 27.6372 19.2331 27.1205L29.6051 16.7484C30.6716 15.6813 30.6716 13.9456 29.6049 12.8791C29.0882 12.3624 28.4011 12.078 27.6702 12.078C26.9393 12.078 26.2522 12.3625 25.7354 12.8791L17.2983 21.3162L14.2646 18.2827ZM26.9254 14.0691C27.023 13.9711 27.1391 13.8933 27.2669 13.8404C27.3948 13.7875 27.5319 13.7604 27.6702 13.7608C27.9518 13.7608 28.2162 13.8703 28.4152 14.0691C28.8257 14.4797 28.8257 15.148 28.415 15.5587L18.0432 25.9305C17.8444 26.1294 17.5798 26.2388 17.2984 26.2388C17.017 26.2388 16.7523 26.1294 16.5534 25.9305L11.5852 20.9624C11.1745 20.5517 11.1745 19.8834 11.585 19.4729C11.7839 19.274 12.0485 19.1644 12.33 19.1644C12.6115 19.1644 12.8759 19.2739 13.0748 19.4727L16.7033 23.1013C16.8612 23.259 17.0751 23.3477 17.2983 23.3477C17.5215 23.3477 17.7354 23.2591 17.8931 23.1013L26.9254 14.0691Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1523">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                        
                                    <span>Высокая прочность</span>
                                </div>
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1529)">
                                        <path d="M19.9785 30C18.2139 29.9952 16.5232 29.2905 15.2775 28.0407C14.0317 26.7909 13.3326 25.098 13.3335 23.3334C13.3335 20.6634 15.1468 19.5367 16.7468 18.5417C18.7135 17.3184 20.4118 16.2617 20.0052 12.5934C19.9871 12.4208 20.0232 12.2469 20.1084 12.0958C20.1937 11.9447 20.3239 11.824 20.481 11.7503C20.6381 11.6766 20.8142 11.6537 20.9849 11.6847C21.1556 11.7157 21.3124 11.7991 21.4335 11.9234C27.4702 18.2 26.6468 23.2684 26.6085 23.4817C26.6235 27.01 23.6418 30 19.9785 30ZM21.6635 14.705C21.2735 17.6884 19.2852 18.925 17.6268 19.9567C15.9485 21 15.0002 21.67 15.0002 23.3334C15.0002 26.09 17.2335 28.3334 19.9785 28.3334C22.7235 28.3334 24.9568 26.09 24.9568 23.3334C24.9735 23.1667 25.5085 19.53 21.6635 14.705Z" fill="#BD3A48"/>
                                        <path d="M12.5001 33.3333C12.3154 33.3337 12.1357 33.2727 11.9894 33.1599C11.8431 33.047 11.7385 32.8888 11.6919 32.71C11.6454 32.5312 11.6596 32.342 11.7322 32.1722C11.8049 32.0023 11.932 31.8614 12.0934 31.7717C14.3218 30.5333 17.8251 27.4517 18.3401 24.0417C18.373 23.8231 18.4914 23.6265 18.6693 23.4953C18.8471 23.364 19.0699 23.3087 19.2884 23.3417C19.507 23.3746 19.7036 23.493 19.8348 23.6709C19.9661 23.8487 20.0214 24.0714 19.9884 24.29C19.4218 28.04 15.9184 31.5517 12.9018 33.2267C12.7798 33.2975 12.6411 33.3343 12.5001 33.3333Z" fill="#BD3A48"/>
                                        <path d="M31.6668 40H8.33342C6.49508 40 5.00008 38.505 5.00008 36.6667V21.6667H1.66675C1.44726 21.6689 1.22953 21.6273 1.02632 21.5443C0.823103 21.4614 0.638484 21.3387 0.483274 21.1835C0.328063 21.0283 0.205382 20.8437 0.122413 20.6404C0.0394444 20.4372 -0.00214344 20.2195 8.50455e-05 20C8.50455e-05 19.5583 0.180085 19.125 0.493418 18.8117L19.4168 0.238341C19.573 0.0859412 19.7826 0.000640869 20.0009 0.000640869C20.2192 0.000640869 20.4288 0.0859412 20.5851 0.238341L26.6668 6.21334V2.50001C26.6668 2.27899 26.7545 2.06703 26.9108 1.91075C27.0671 1.75447 27.2791 1.66667 27.5001 1.66667H34.1668C34.3878 1.66667 34.5997 1.75447 34.756 1.91075C34.9123 2.06703 35.0001 2.27899 35.0001 2.50001V14.3833L39.5018 18.805C39.8201 19.125 40.0001 19.5583 40.0001 20C40.0023 20.2195 39.9607 20.4372 39.8778 20.6404C39.7948 20.8437 39.6721 21.0283 39.5169 21.1835C39.3617 21.3387 39.1771 21.4614 38.9739 21.5443C38.7706 21.6273 38.5529 21.6689 38.3334 21.6667H35.0001V36.6667C35.0001 38.505 33.5051 40 31.6668 40ZM20.0001 2.00167L1.66675 19.995L5.83342 20C6.05443 20 6.26639 20.0878 6.42267 20.2441C6.57895 20.4004 6.66675 20.6123 6.66675 20.8333V36.6667C6.66675 37.585 7.41508 38.3333 8.33342 38.3333H31.6668C32.5851 38.3333 33.3334 37.585 33.3334 36.6667V20.8333C33.3334 20.6123 33.4212 20.4004 33.5775 20.2441C33.7338 20.0878 33.9457 20 34.1668 20H38.3334L38.3284 19.99L33.5834 15.3283C33.5043 15.2508 33.4414 15.1582 33.3985 15.056C33.3556 14.9539 33.3334 14.8442 33.3334 14.7333V3.33334H28.3334V8.20001C28.3337 8.36444 28.2854 8.52529 28.1944 8.66231C28.1035 8.79932 27.9741 8.90637 27.8225 8.96998C27.6708 9.03359 27.5038 9.05092 27.3423 9.01979C27.1808 8.98865 27.0322 8.91044 26.9151 8.79501L20.0001 2.00167Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1529">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>    
                                        
                                    <span>Экологичность дома из дерева</span>
                                </div>
                            </div>
                            <div class="catalog__item__content-view">
                                <a href="/catalog-section.html">Смотреть 121 проект <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                                    </svg>
                                    </a>
                            </div>
                        </div>                        
                    </div>

                    <div href class="catalog__banners swiper">
                        <div href class="catalog__banners-wrapper swiper-wrapper">
                            <a href class="catalog__item-banner swiper-slide">
                                <picture>  
                                    <source srcset="../assets/img/banners/banner-catalog__desk.png" media="(min-width: 1024px)"/>
                                    <source srcset="../assets/img/banners/banner-catalog.png" media="(min-width: 480px)"/>      
                                    <source srcset="../assets/img/banners/banner-catalog__mob.png"/>                            
                                    <img class="catalog__banner-img"/>                     
                                </picture>
                            </a>
                            <a href class="catalog__item-banner swiper-slide">
                                <picture>  
                                    <source srcset="../assets/img/banners/banner-catalog__desk.png" media="(min-width: 1024px)"/>
                                    <source srcset="../assets/img/banners/banner-catalog.png" media="(min-width: 480px)"/>      
                                    <source srcset="../assets/img/banners/banner-catalog__mob.png"/>                            
                                    <img class="catalog__banner-img"/>                     
                                </picture>
                            </a>
                        </div>
                        <div class="catalog__banners-pagination"></div>
                    </div>

                    <div class="catalog__item">
                        <div class="catalog__item__picture">
                            <img src="../assets/img/doma_iz_brusa.png" alt="">
                        </div>
                        <div class="catalog__item__content">
                            <h2 class="title">Дома из <span>бруса</span></h2>
                            <p>Дома из бруса последние годы стали весьма популярными. Одна из главных причин этой популярности — стильный вид, особая архитектура, уходящая корнями в историю древнего русского зодчества. Дом из бруса обладает целым рядом преимуществ по сравнению с домами, построенными из других материалов</p>
                            <div class="catalog__item__content-property">
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1523)">
                                        <path d="M36.4371 6.90709C30.9336 5.39912 25.3977 3.05108 20.428 0.116864C20.2984 0.0403376 20.1507 -3.05176e-05 20.0002 -3.05176e-05C19.8498 -3.05176e-05 19.702 0.0403376 19.5725 0.116864C14.4594 3.13537 9.22266 5.35639 3.56291 6.90709C3.38504 6.95581 3.2281 7.06163 3.11625 7.20826C3.00439 7.3549 2.94382 7.53422 2.94385 7.71865V16.316C2.94385 25.1693 7.02814 31.0296 10.4545 34.3867C14.1433 38.0012 18.4401 40 20.0002 40C21.5601 40 25.857 38.0012 29.5457 34.3867C32.9721 31.0297 37.0561 25.1694 37.0561 16.316V7.71857C37.0561 7.33951 36.8027 7.00716 36.4371 6.90709ZM35.3733 16.3159C35.3733 24.5849 31.5639 30.0532 28.3679 33.1846C24.7405 36.7389 20.8622 38.317 20.0002 38.317C19.1383 38.317 15.2597 36.7389 11.6322 33.1846C8.43634 30.0531 4.62674 24.5849 4.62674 16.3159V8.35732C10.0391 6.8206 15.0795 4.676 20.0004 1.81639C24.7983 4.60014 30.0903 6.85138 35.3733 8.357V16.3159Z" fill="#BD3A48"/>
                                        <path d="M12.5419 8.26319C12.3716 7.83077 11.883 7.61835 11.4505 7.78874C9.94171 8.38301 8.41223 8.92348 6.865 9.40913C6.69406 9.46275 6.5447 9.56953 6.43865 9.71392C6.33261 9.85832 6.27541 10.0328 6.27539 10.2119V13.4612C6.27539 13.9259 6.65219 14.3026 7.1168 14.3026C7.58141 14.3026 7.9582 13.9259 7.9582 13.4612V10.8269C9.34289 10.3788 10.7133 9.88771 12.0674 9.35436C12.4998 9.18413 12.7123 8.69561 12.5419 8.26319ZM14.1402 8.4228C14.2531 8.4228 14.3677 8.40006 14.4777 8.3521L14.4931 8.34538C14.9188 8.15881 15.1105 7.66327 14.924 7.23772C14.7373 6.81202 14.2389 6.61944 13.8137 6.80585L13.8001 6.8117C13.3741 6.99772 13.1818 7.49288 13.3678 7.91866C13.5059 8.23475 13.8156 8.4228 14.1402 8.4228ZM30.025 27.1315C29.6362 26.8773 29.1148 26.9866 28.8603 27.3756C28.167 28.4369 27.3535 29.4531 26.4423 30.3958C25.6928 31.1711 24.886 31.8889 24.0288 32.5431C23.6593 32.8248 23.5882 33.3528 23.8698 33.7224C23.9484 33.8255 24.0497 33.9091 24.1658 33.9666C24.282 34.0241 24.4099 34.0539 24.5395 34.0537C24.7175 34.0537 24.8968 33.9976 25.0491 33.8813C25.9736 33.1757 26.8437 32.4016 27.652 31.5655C28.6373 30.5465 29.5177 29.4465 30.2691 28.2961C30.5234 27.907 30.414 27.3856 30.025 27.1315ZM22.0747 33.8627L22.0264 33.8912C21.6243 34.1241 21.4869 34.6387 21.7197 35.0408C21.775 35.1365 21.8486 35.2203 21.9364 35.2875C22.0241 35.3547 22.1242 35.404 22.231 35.4324C22.3378 35.4609 22.4491 35.4681 22.5586 35.4535C22.6682 35.4389 22.7738 35.4028 22.8694 35.3474L22.9251 35.3147C23.3261 35.0798 23.4608 34.5644 23.2259 34.1634C22.9909 33.7626 22.4755 33.6281 22.0747 33.8627ZM14.2646 18.2827C13.748 17.766 13.0609 17.4816 12.3301 17.4816C11.5993 17.4816 10.9121 17.7661 10.3952 18.2827C9.32859 19.3496 9.32859 21.0855 10.3952 22.1523L15.3637 27.1206C15.8804 27.6372 16.5675 27.9216 17.2984 27.9216C18.0292 27.9216 18.7163 27.6372 19.2331 27.1205L29.6051 16.7484C30.6716 15.6813 30.6716 13.9456 29.6049 12.8791C29.0882 12.3624 28.4011 12.078 27.6702 12.078C26.9393 12.078 26.2522 12.3625 25.7354 12.8791L17.2983 21.3162L14.2646 18.2827ZM26.9254 14.0691C27.023 13.9711 27.1391 13.8933 27.2669 13.8404C27.3948 13.7875 27.5319 13.7604 27.6702 13.7608C27.9518 13.7608 28.2162 13.8703 28.4152 14.0691C28.8257 14.4797 28.8257 15.148 28.415 15.5587L18.0432 25.9305C17.8444 26.1294 17.5798 26.2388 17.2984 26.2388C17.017 26.2388 16.7523 26.1294 16.5534 25.9305L11.5852 20.9624C11.1745 20.5517 11.1745 19.8834 11.585 19.4729C11.7839 19.274 12.0485 19.1644 12.33 19.1644C12.6115 19.1644 12.8759 19.2739 13.0748 19.4727L16.7033 23.1013C16.8612 23.259 17.0751 23.3477 17.2983 23.3477C17.5215 23.3477 17.7354 23.2591 17.8931 23.1013L26.9254 14.0691Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1523">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                        
                                    <span>Высокая прочность</span>
                                </div>
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1529)">
                                        <path d="M19.9785 30C18.2139 29.9952 16.5232 29.2905 15.2775 28.0407C14.0317 26.7909 13.3326 25.098 13.3335 23.3334C13.3335 20.6634 15.1468 19.5367 16.7468 18.5417C18.7135 17.3184 20.4118 16.2617 20.0052 12.5934C19.9871 12.4208 20.0232 12.2469 20.1084 12.0958C20.1937 11.9447 20.3239 11.824 20.481 11.7503C20.6381 11.6766 20.8142 11.6537 20.9849 11.6847C21.1556 11.7157 21.3124 11.7991 21.4335 11.9234C27.4702 18.2 26.6468 23.2684 26.6085 23.4817C26.6235 27.01 23.6418 30 19.9785 30ZM21.6635 14.705C21.2735 17.6884 19.2852 18.925 17.6268 19.9567C15.9485 21 15.0002 21.67 15.0002 23.3334C15.0002 26.09 17.2335 28.3334 19.9785 28.3334C22.7235 28.3334 24.9568 26.09 24.9568 23.3334C24.9735 23.1667 25.5085 19.53 21.6635 14.705Z" fill="#BD3A48"/>
                                        <path d="M12.5001 33.3333C12.3154 33.3337 12.1357 33.2727 11.9894 33.1599C11.8431 33.047 11.7385 32.8888 11.6919 32.71C11.6454 32.5312 11.6596 32.342 11.7322 32.1722C11.8049 32.0023 11.932 31.8614 12.0934 31.7717C14.3218 30.5333 17.8251 27.4517 18.3401 24.0417C18.373 23.8231 18.4914 23.6265 18.6693 23.4953C18.8471 23.364 19.0699 23.3087 19.2884 23.3417C19.507 23.3746 19.7036 23.493 19.8348 23.6709C19.9661 23.8487 20.0214 24.0714 19.9884 24.29C19.4218 28.04 15.9184 31.5517 12.9018 33.2267C12.7798 33.2975 12.6411 33.3343 12.5001 33.3333Z" fill="#BD3A48"/>
                                        <path d="M31.6668 40H8.33342C6.49508 40 5.00008 38.505 5.00008 36.6667V21.6667H1.66675C1.44726 21.6689 1.22953 21.6273 1.02632 21.5443C0.823103 21.4614 0.638484 21.3387 0.483274 21.1835C0.328063 21.0283 0.205382 20.8437 0.122413 20.6404C0.0394444 20.4372 -0.00214344 20.2195 8.50455e-05 20C8.50455e-05 19.5583 0.180085 19.125 0.493418 18.8117L19.4168 0.238341C19.573 0.0859412 19.7826 0.000640869 20.0009 0.000640869C20.2192 0.000640869 20.4288 0.0859412 20.5851 0.238341L26.6668 6.21334V2.50001C26.6668 2.27899 26.7545 2.06703 26.9108 1.91075C27.0671 1.75447 27.2791 1.66667 27.5001 1.66667H34.1668C34.3878 1.66667 34.5997 1.75447 34.756 1.91075C34.9123 2.06703 35.0001 2.27899 35.0001 2.50001V14.3833L39.5018 18.805C39.8201 19.125 40.0001 19.5583 40.0001 20C40.0023 20.2195 39.9607 20.4372 39.8778 20.6404C39.7948 20.8437 39.6721 21.0283 39.5169 21.1835C39.3617 21.3387 39.1771 21.4614 38.9739 21.5443C38.7706 21.6273 38.5529 21.6689 38.3334 21.6667H35.0001V36.6667C35.0001 38.505 33.5051 40 31.6668 40ZM20.0001 2.00167L1.66675 19.995L5.83342 20C6.05443 20 6.26639 20.0878 6.42267 20.2441C6.57895 20.4004 6.66675 20.6123 6.66675 20.8333V36.6667C6.66675 37.585 7.41508 38.3333 8.33342 38.3333H31.6668C32.5851 38.3333 33.3334 37.585 33.3334 36.6667V20.8333C33.3334 20.6123 33.4212 20.4004 33.5775 20.2441C33.7338 20.0878 33.9457 20 34.1668 20H38.3334L38.3284 19.99L33.5834 15.3283C33.5043 15.2508 33.4414 15.1582 33.3985 15.056C33.3556 14.9539 33.3334 14.8442 33.3334 14.7333V3.33334H28.3334V8.20001C28.3337 8.36444 28.2854 8.52529 28.1944 8.66231C28.1035 8.79932 27.9741 8.90637 27.8225 8.96998C27.6708 9.03359 27.5038 9.05092 27.3423 9.01979C27.1808 8.98865 27.0322 8.91044 26.9151 8.79501L20.0001 2.00167Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1529">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>    
                                        
                                    <span>Экологичность дома из дерева</span>
                                </div>
                            </div>
                            <div class="catalog__item__content-view">
                                <a href="/catalog-section.html">Смотреть 121 проект <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                                    </svg>
                                    </a>
                            </div>
                        </div>                        
                    </div>

                    <div class="catalog__item">
                        <div class="catalog__item__picture">
                            <img src="../assets/img/doma_iz_brusa.png" alt="">
                        </div>
                        <div class="catalog__item__content">
                            <h2 class="title">Дома из <span>бруса</span></h2>
                            <p>Дома из бруса последние годы стали весьма популярными. Одна из главных причин этой популярности — стильный вид, особая архитектура, уходящая корнями в историю древнего русского зодчества. Дом из бруса обладает целым рядом преимуществ по сравнению с домами, построенными из других материалов</p>
                            <div class="catalog__item__content-property">
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1523)">
                                        <path d="M36.4371 6.90709C30.9336 5.39912 25.3977 3.05108 20.428 0.116864C20.2984 0.0403376 20.1507 -3.05176e-05 20.0002 -3.05176e-05C19.8498 -3.05176e-05 19.702 0.0403376 19.5725 0.116864C14.4594 3.13537 9.22266 5.35639 3.56291 6.90709C3.38504 6.95581 3.2281 7.06163 3.11625 7.20826C3.00439 7.3549 2.94382 7.53422 2.94385 7.71865V16.316C2.94385 25.1693 7.02814 31.0296 10.4545 34.3867C14.1433 38.0012 18.4401 40 20.0002 40C21.5601 40 25.857 38.0012 29.5457 34.3867C32.9721 31.0297 37.0561 25.1694 37.0561 16.316V7.71857C37.0561 7.33951 36.8027 7.00716 36.4371 6.90709ZM35.3733 16.3159C35.3733 24.5849 31.5639 30.0532 28.3679 33.1846C24.7405 36.7389 20.8622 38.317 20.0002 38.317C19.1383 38.317 15.2597 36.7389 11.6322 33.1846C8.43634 30.0531 4.62674 24.5849 4.62674 16.3159V8.35732C10.0391 6.8206 15.0795 4.676 20.0004 1.81639C24.7983 4.60014 30.0903 6.85138 35.3733 8.357V16.3159Z" fill="#BD3A48"/>
                                        <path d="M12.5419 8.26319C12.3716 7.83077 11.883 7.61835 11.4505 7.78874C9.94171 8.38301 8.41223 8.92348 6.865 9.40913C6.69406 9.46275 6.5447 9.56953 6.43865 9.71392C6.33261 9.85832 6.27541 10.0328 6.27539 10.2119V13.4612C6.27539 13.9259 6.65219 14.3026 7.1168 14.3026C7.58141 14.3026 7.9582 13.9259 7.9582 13.4612V10.8269C9.34289 10.3788 10.7133 9.88771 12.0674 9.35436C12.4998 9.18413 12.7123 8.69561 12.5419 8.26319ZM14.1402 8.4228C14.2531 8.4228 14.3677 8.40006 14.4777 8.3521L14.4931 8.34538C14.9188 8.15881 15.1105 7.66327 14.924 7.23772C14.7373 6.81202 14.2389 6.61944 13.8137 6.80585L13.8001 6.8117C13.3741 6.99772 13.1818 7.49288 13.3678 7.91866C13.5059 8.23475 13.8156 8.4228 14.1402 8.4228ZM30.025 27.1315C29.6362 26.8773 29.1148 26.9866 28.8603 27.3756C28.167 28.4369 27.3535 29.4531 26.4423 30.3958C25.6928 31.1711 24.886 31.8889 24.0288 32.5431C23.6593 32.8248 23.5882 33.3528 23.8698 33.7224C23.9484 33.8255 24.0497 33.9091 24.1658 33.9666C24.282 34.0241 24.4099 34.0539 24.5395 34.0537C24.7175 34.0537 24.8968 33.9976 25.0491 33.8813C25.9736 33.1757 26.8437 32.4016 27.652 31.5655C28.6373 30.5465 29.5177 29.4465 30.2691 28.2961C30.5234 27.907 30.414 27.3856 30.025 27.1315ZM22.0747 33.8627L22.0264 33.8912C21.6243 34.1241 21.4869 34.6387 21.7197 35.0408C21.775 35.1365 21.8486 35.2203 21.9364 35.2875C22.0241 35.3547 22.1242 35.404 22.231 35.4324C22.3378 35.4609 22.4491 35.4681 22.5586 35.4535C22.6682 35.4389 22.7738 35.4028 22.8694 35.3474L22.9251 35.3147C23.3261 35.0798 23.4608 34.5644 23.2259 34.1634C22.9909 33.7626 22.4755 33.6281 22.0747 33.8627ZM14.2646 18.2827C13.748 17.766 13.0609 17.4816 12.3301 17.4816C11.5993 17.4816 10.9121 17.7661 10.3952 18.2827C9.32859 19.3496 9.32859 21.0855 10.3952 22.1523L15.3637 27.1206C15.8804 27.6372 16.5675 27.9216 17.2984 27.9216C18.0292 27.9216 18.7163 27.6372 19.2331 27.1205L29.6051 16.7484C30.6716 15.6813 30.6716 13.9456 29.6049 12.8791C29.0882 12.3624 28.4011 12.078 27.6702 12.078C26.9393 12.078 26.2522 12.3625 25.7354 12.8791L17.2983 21.3162L14.2646 18.2827ZM26.9254 14.0691C27.023 13.9711 27.1391 13.8933 27.2669 13.8404C27.3948 13.7875 27.5319 13.7604 27.6702 13.7608C27.9518 13.7608 28.2162 13.8703 28.4152 14.0691C28.8257 14.4797 28.8257 15.148 28.415 15.5587L18.0432 25.9305C17.8444 26.1294 17.5798 26.2388 17.2984 26.2388C17.017 26.2388 16.7523 26.1294 16.5534 25.9305L11.5852 20.9624C11.1745 20.5517 11.1745 19.8834 11.585 19.4729C11.7839 19.274 12.0485 19.1644 12.33 19.1644C12.6115 19.1644 12.8759 19.2739 13.0748 19.4727L16.7033 23.1013C16.8612 23.259 17.0751 23.3477 17.2983 23.3477C17.5215 23.3477 17.7354 23.2591 17.8931 23.1013L26.9254 14.0691Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1523">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                        
                                    <span>Высокая прочность</span>
                                </div>
                                <div class="catalog__item__content-property__item">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_102_1529)">
                                        <path d="M19.9785 30C18.2139 29.9952 16.5232 29.2905 15.2775 28.0407C14.0317 26.7909 13.3326 25.098 13.3335 23.3334C13.3335 20.6634 15.1468 19.5367 16.7468 18.5417C18.7135 17.3184 20.4118 16.2617 20.0052 12.5934C19.9871 12.4208 20.0232 12.2469 20.1084 12.0958C20.1937 11.9447 20.3239 11.824 20.481 11.7503C20.6381 11.6766 20.8142 11.6537 20.9849 11.6847C21.1556 11.7157 21.3124 11.7991 21.4335 11.9234C27.4702 18.2 26.6468 23.2684 26.6085 23.4817C26.6235 27.01 23.6418 30 19.9785 30ZM21.6635 14.705C21.2735 17.6884 19.2852 18.925 17.6268 19.9567C15.9485 21 15.0002 21.67 15.0002 23.3334C15.0002 26.09 17.2335 28.3334 19.9785 28.3334C22.7235 28.3334 24.9568 26.09 24.9568 23.3334C24.9735 23.1667 25.5085 19.53 21.6635 14.705Z" fill="#BD3A48"/>
                                        <path d="M12.5001 33.3333C12.3154 33.3337 12.1357 33.2727 11.9894 33.1599C11.8431 33.047 11.7385 32.8888 11.6919 32.71C11.6454 32.5312 11.6596 32.342 11.7322 32.1722C11.8049 32.0023 11.932 31.8614 12.0934 31.7717C14.3218 30.5333 17.8251 27.4517 18.3401 24.0417C18.373 23.8231 18.4914 23.6265 18.6693 23.4953C18.8471 23.364 19.0699 23.3087 19.2884 23.3417C19.507 23.3746 19.7036 23.493 19.8348 23.6709C19.9661 23.8487 20.0214 24.0714 19.9884 24.29C19.4218 28.04 15.9184 31.5517 12.9018 33.2267C12.7798 33.2975 12.6411 33.3343 12.5001 33.3333Z" fill="#BD3A48"/>
                                        <path d="M31.6668 40H8.33342C6.49508 40 5.00008 38.505 5.00008 36.6667V21.6667H1.66675C1.44726 21.6689 1.22953 21.6273 1.02632 21.5443C0.823103 21.4614 0.638484 21.3387 0.483274 21.1835C0.328063 21.0283 0.205382 20.8437 0.122413 20.6404C0.0394444 20.4372 -0.00214344 20.2195 8.50455e-05 20C8.50455e-05 19.5583 0.180085 19.125 0.493418 18.8117L19.4168 0.238341C19.573 0.0859412 19.7826 0.000640869 20.0009 0.000640869C20.2192 0.000640869 20.4288 0.0859412 20.5851 0.238341L26.6668 6.21334V2.50001C26.6668 2.27899 26.7545 2.06703 26.9108 1.91075C27.0671 1.75447 27.2791 1.66667 27.5001 1.66667H34.1668C34.3878 1.66667 34.5997 1.75447 34.756 1.91075C34.9123 2.06703 35.0001 2.27899 35.0001 2.50001V14.3833L39.5018 18.805C39.8201 19.125 40.0001 19.5583 40.0001 20C40.0023 20.2195 39.9607 20.4372 39.8778 20.6404C39.7948 20.8437 39.6721 21.0283 39.5169 21.1835C39.3617 21.3387 39.1771 21.4614 38.9739 21.5443C38.7706 21.6273 38.5529 21.6689 38.3334 21.6667H35.0001V36.6667C35.0001 38.505 33.5051 40 31.6668 40ZM20.0001 2.00167L1.66675 19.995L5.83342 20C6.05443 20 6.26639 20.0878 6.42267 20.2441C6.57895 20.4004 6.66675 20.6123 6.66675 20.8333V36.6667C6.66675 37.585 7.41508 38.3333 8.33342 38.3333H31.6668C32.5851 38.3333 33.3334 37.585 33.3334 36.6667V20.8333C33.3334 20.6123 33.4212 20.4004 33.5775 20.2441C33.7338 20.0878 33.9457 20 34.1668 20H38.3334L38.3284 19.99L33.5834 15.3283C33.5043 15.2508 33.4414 15.1582 33.3985 15.056C33.3556 14.9539 33.3334 14.8442 33.3334 14.7333V3.33334H28.3334V8.20001C28.3337 8.36444 28.2854 8.52529 28.1944 8.66231C28.1035 8.79932 27.9741 8.90637 27.8225 8.96998C27.6708 9.03359 27.5038 9.05092 27.3423 9.01979C27.1808 8.98865 27.0322 8.91044 26.9151 8.79501L20.0001 2.00167Z" fill="#BD3A48"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_102_1529">
                                        <rect width="40" height="40" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>    
                                        
                                    <span>Экологичность дома из дерева</span>
                                </div>
                            </div>
                            <div class="catalog__item__content-view">
                                <a href="/catalog-section.html">Смотреть 121 проект <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                                    </svg>
                                    </a>
                            </div>
                        </div>                        
                    </div>
                         
                </div>     
            </div>
        </div>
    </div>


