extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Акции</div>
        
            <div class="discount-section">
                <div class="discount-section__title"><h1>Дом за миллион</h1></div>
            
                <div class="discount-section__content">
                    <div class="stocks__blocks-block">
                        <div class="stocks__blocks-block__img">
                            <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                        </div>
                        <div class="stocks__blocks-block__text">
                            <div class="stocks__blocks-block__title">Дом за миллион</div>
                            <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                        </div>
                    </div>

                    <div class="discount-section__text">
                        <h2>Дом под круглогодичное проживание за миллион</h2>
                    </div>
                    <div class="discount-section__text-bg-green">
                        <h2>Строительство занимает всего 2 недели</h2>
                    </div>
                    <div class="discount-section__text-bg-green">
                        <h2>Дом 6 х 6 метров</h2>
                    </div>
                    <div class="discount-section__text-red-border">
                        <h2>Только до конца августа! Спешите</h2>
                    </div>
                    <div class="discount-section__btn">
                        <button>Оставить заявку</button>
                    </div>


                </div>
            </div>
        </div>
    </section>