extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Примеры работ</div>
            <div class="examples-section__title">
                <h1>Примеры работ</h1>
            </div>
            <div class="examples-section__filter">
                <ul>
                    <li><a href="">Все проекты</a></li>
                    <li><a href="">Дома из бруса</a></li>
                    <li><a href="">Инноблок</a></li>
                    <li><a href="">Каркасные дома</a></li>
                    <li><a href="">Кирпичные дома</a></li>
                    <li><a href="">Дачные дома</a></li>
                    <li><a href="">Бани</a></li>
                    <li><a href="">Гаражи</a></li>
                </ul>
            </div>

            <div class="examples-section__grid">
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
                <div class="examples-section__item">
                    <a href="/project.html" class="examples-section__item-picture">
                        <img src="../../assets/img/examples-dom.png" alt="">
                    </a>
                    <div class="examples-section__item-text">
                        <div>
                            <div class="examples-section__item-title"><h2>Проект «Сорренто»</h2></div>
                            <div class="examples-section__item-subtitle"><p>Двухэтажный дом из пеноблока с гибкой кровлей</p></div>
                        </div>
                        <div class="examples-section__item-price"><p>4 270 000 ₽</p></div>
                    </div>
                </div>
            </div>

            <div class="examples-section__btn">
                <button class="btn-white">Загрузить ещё</button>
            </div>
        </div>
    </section>