extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Примеры работ</div>
            <div class="favorite-section__title">
                <h1>Избранные <span>проекты</span></h1>
            </div>
            <div class="favorite-section__filter">
                <ul>
                    <li><a href="">Все проекты</a></li>
                    <li><a href="">Дома из бруса</a></li>
                    <li><a href="">Инноблок</a></li>
                    <li><a href="">Каркасные дома</a></li>
                    <li><a href="">Кирпичные дома</a></li>
                    <li><a href="">Дачные дома</a></li>
                    <li><a href="">Бани</a></li>
                    <li><a href="">Гаражи</a></li>
                </ul>
            </div>
            <div class="favorite-section__grid">
                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="favorite-section__item">
                    <div class="favorite-section__picture">
                        <img src="../../assets/img/favorite.png">
                    </div>
                    <div class="favorite-section__item-wrapper">
                        <div class="favorite-section__item-title">
                            <h2>01-Д-БЛ</h2>
                        </div>

                        <div class="favorite-section__specifications">
                            <div>
                                <span>Срок возведения</span>
                                <span>2-4 месяца</span>
                            </div>
                            <div>
                                <span>Размеры</span>
                                <span>9,5 х 17,5 м</span>
                            </div>
                            <div>
                                <span>Общая площадь</span>
                                <span>124,65 м²</span>
                            </div>
                            <div>
                                <span>Кол-во этажей</span>
                                <span>1 + мансарда</span>
                            </div>
                        </div>

                        <div class="favorite-section__info">
                            <div class="favorite-section__info-detail">
                                <button class="more-detail__btn">Подробнее</button>
                            </div>
                            <div class="favorite-section__info-price">
                                <span>5 456 000 ₽</span>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
    </section>