extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">

        <div class="breadcrumbs">Главная • Контакты</div>
    
        <div class="client-section">
            <div class="client-section__title">
                <h1>Клиенту</h1>
            </div>

            <div class="client-section__grid">
                <div class="client-section__item">
                    <a href="/about.html">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>О компании</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="/examples.html">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Наши работы</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="/stocks.html">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Акции</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="/guarantees.html">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Гарантии</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Материнский капитал</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="/reviews.html">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Отзывы</h2>
                        </div>
                    </a>
                </div>
                <div class="client-section__item">
                    <a href="">
                        <div class="client-section__item-picture">
                            <img src="../../assets/img/for-client__about-company.png">
                        </div>
                        <div class="client-section__item-text">
                            <h2>Строительство в ипотеку</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>