extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • о компании</div>
        
            <div class="text-section">
                <div class="text-section__title"><h1>Гарантии</h1></div>

                <div class="text-section__medium-text">
                    <p>Мы занимаемся строительством добротных домов, рассчитанных на многие десятилетия. Использование современных технологий, акцент на качестве, позволяет нам строить долговечные и надежные дома. Специалисты нашей компании внимательно следят за последними тенденциями в жилищном строительстве и внедряют в работу все самое лучшее.<br><br>Мы уверены в безупречном качестве домов, построенных нашей компанией, и даем официальную гарантию на них сроком на 15 лет и обеспечиваем бесплатное сервисное обслуживание на протяжении года.</p>
                    <div class="text-section__medium-text__img">
                        <img src="../assets/img/guarantees.png">
                    </div>
                </div>

                <div class="text-section__green-banner guarantees-banner">
                    <svg width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M52.2303 60.1297L49.1423 57.0198L49.7181 56.4386C50.3303 55.8269 50.816 55.1006 51.1473 54.3011C51.4787 53.5017 51.6492 52.6447 51.6492 51.7793C51.6492 50.9139 51.4787 50.057 51.1473 49.2575C50.816 48.458 50.3303 47.7317 49.7181 47.12L46.2467 43.5997C45.6402 42.9852 44.9171 42.498 44.1198 42.1667C43.3225 41.8354 42.4671 41.6667 41.6037 41.6705C40.7425 41.6682 39.8894 41.8376 39.0944 42.1688C38.2993 42.5001 37.5783 42.9865 36.9735 43.5997L36.4285 44.1574L33.7038 41.3853C33.3452 41.0193 32.917 40.7288 32.4444 40.5307C31.9718 40.3326 31.4643 40.231 30.9519 40.2319C30.4394 40.2311 29.9318 40.3326 29.459 40.5303C28.9862 40.7281 28.5575 41.0181 28.1981 41.3836L24.7723 44.8349C23.2686 46.3649 23.2686 48.8179 24.7723 50.3479L27.537 53.1381L26.9665 53.7139C24.4251 56.2982 24.4251 60.4428 26.9665 63.0271L30.4433 66.5365C31.0422 67.158 31.7599 67.6529 32.5537 67.9917C33.3475 68.3306 34.2013 68.5066 35.0644 68.5093C35.9281 68.5115 36.7835 68.3399 37.5796 68.0048C38.3756 67.6696 39.0962 67.1777 39.6982 66.5584L40.2432 66.0134L43.3312 69.1251L30.1616 82.4218C29.4057 83.17 28.8052 84.0603 28.3946 85.0415C27.9841 86.0226 27.7716 87.0753 27.7694 88.1389C27.7672 89.2024 27.9753 90.256 28.3818 91.2388C28.7883 92.2217 29.3851 93.1144 30.1379 93.8658C30.8766 94.6301 31.7614 95.2381 32.7398 95.6537C33.7181 96.0694 34.77 96.284 35.833 96.2851C36.896 96.2861 37.9483 96.0734 38.9274 95.6597C39.9066 95.246 40.7926 94.6396 41.5327 93.8767L54.6914 80.5927L68.3878 94.4199C69.0032 95.0402 69.7411 95.5255 70.5544 95.8449C71.3677 96.1644 72.2386 96.3109 73.1117 96.2752C73.9847 96.2395 74.8408 96.0223 75.6253 95.6375C76.4098 95.2527 77.1055 94.7087 77.6682 94.0402C79.7748 91.411 79.5388 87.6115 77.1232 85.2629L63.5995 71.6102L68.4768 66.7056C70.762 67.1381 73.1185 67.0022 75.3389 66.3102C77.5593 65.618 79.5756 64.3909 81.2104 62.7366C82.7858 61.1463 83.9692 59.211 84.667 57.084C85.3647 54.9571 85.5576 52.6969 85.2304 50.4824C85.136 49.7772 84.8443 49.113 84.3889 48.5664C83.9335 48.0197 83.3329 47.6128 82.6564 47.3926C81.9574 47.1539 81.2053 47.1168 80.4863 47.2858C79.7673 47.4548 79.1104 47.823 78.591 48.3481L74.2314 52.7495C73.3123 53.6355 71.8571 53.6355 70.9381 52.7495C70.0181 51.8125 70.0181 50.3113 70.9381 49.3744L75.2977 44.973C75.8203 44.4444 76.1843 43.7799 76.3484 43.0549C76.5124 42.3299 76.47 41.5735 76.2259 40.8714C76.0106 40.2065 75.6139 39.615 75.0805 39.1634C74.5471 38.7119 73.8982 38.4182 73.2069 38.3156C70.9977 37.9813 68.7408 38.1747 66.6207 38.88C64.5007 39.5853 62.5777 40.7825 61.0091 42.3736C59.3632 44.038 58.1458 46.077 57.4614 48.3154C56.7771 50.5539 56.6462 52.9251 57.08 55.2253L52.2303 60.1297ZM27.3442 47.8011C27.3178 47.775 27.2969 47.7438 27.2826 47.7095C27.2684 47.6753 27.261 47.6385 27.261 47.6014C27.261 47.5642 27.2684 47.5275 27.2826 47.4932C27.2969 47.4589 27.3178 47.4278 27.3442 47.4016L30.7683 43.9503C30.8124 43.9017 30.8751 43.8739 30.9408 43.874C31.0053 43.8733 31.0672 43.8997 31.1115 43.9467L33.8726 46.7478L30.0852 50.5733L27.3442 47.8011ZM35.0807 64.8763C34.697 64.8763 34.3172 64.7988 33.9641 64.6483C33.6111 64.4979 33.2921 64.2776 33.0263 64.0008L29.5404 60.4822C28.3938 59.3172 28.3938 57.4477 29.5404 56.2826L31.2752 54.5315C31.3127 54.5098 31.3491 54.4861 31.3842 54.4606C31.4187 54.4262 31.4314 54.3788 31.4624 54.3426L37.6639 48.0812C37.6784 48.0685 37.6966 48.0649 37.7111 48.0504C37.7256 48.0359 37.731 48.014 37.7455 47.9977L39.5621 46.163C39.8301 45.8903 40.1499 45.6738 40.5027 45.5263C40.8554 45.3788 41.2341 45.3031 41.6165 45.3038C41.9989 45.3029 42.3776 45.3785 42.7304 45.526C43.0832 45.6735 43.4029 45.8901 43.6708 46.163L47.1639 49.6887C47.4386 49.9629 47.6564 50.2885 47.8051 50.647C47.9537 51.0054 48.0302 51.3897 48.0302 51.7777C48.0302 52.1658 47.9537 52.55 47.8051 52.9084C47.6564 53.2669 47.4386 53.5925 47.1639 53.8667L37.117 64.01C36.8509 64.2853 36.5319 64.5039 36.1792 64.6528C35.8264 64.8017 35.4473 64.8778 35.0644 64.8765L35.0807 64.8763ZM38.9517 91.3225C38.5354 91.7302 38.0429 92.0519 37.5023 92.2693C36.9617 92.4866 36.3836 92.5954 35.801 92.5893C35.2184 92.5832 34.6427 92.4625 34.1068 92.2339C33.5708 92.0053 33.0851 91.6734 32.6775 91.2572C32.2698 90.8409 31.9481 90.3484 31.7307 89.8078C31.5134 89.2673 31.4046 88.6892 31.4107 88.1065C31.4168 87.5239 31.5375 86.9482 31.7661 86.4123C31.9947 85.8763 32.3266 85.3907 32.7428 84.983L45.8997 71.699L52.1394 78.0041L38.9517 91.3225ZM74.9092 91.6859C74.6674 91.9625 74.3722 92.1874 74.0412 92.347C73.7103 92.5066 73.3505 92.5976 72.9835 92.6146C72.6164 92.6316 72.2498 92.5741 71.9055 92.4457C71.5612 92.3173 71.2465 92.1207 70.9802 91.8675L42.8244 63.4358L46.6082 59.6211L74.5423 87.8205C75.6176 88.8337 75.7711 90.4889 74.9001 91.6823L74.9092 91.6859ZM60.8258 55.316C60.3413 53.4948 60.3408 51.5786 60.8245 49.7571C61.3082 47.9357 62.2591 46.2721 63.5833 44.9312C64.7459 43.7467 66.1728 42.8549 67.7469 42.3288C69.321 41.8027 70.9975 41.6574 72.6386 41.9049C72.6496 41.9049 72.7693 42.0338 72.7785 42.0356C72.8012 42.0997 72.8068 42.1686 72.7947 42.2355C72.7826 42.3024 72.7532 42.365 72.7094 42.417L68.3498 46.8166C66.1443 49.1742 66.202 52.8551 68.4804 55.1424C70.7589 57.4297 74.4394 57.5016 76.8056 55.3052L81.1652 50.9038C81.2096 50.864 81.2639 50.8368 81.3225 50.8253C81.381 50.8138 81.4416 50.8183 81.4977 50.8384L81.6285 50.991C81.8749 52.649 81.7315 54.3417 81.2096 55.9346C80.6878 57.5276 79.8019 58.977 78.6222 60.1679C77.3128 61.4962 75.6742 62.453 73.8739 62.9407C72.0736 63.4283 70.1761 63.4293 68.3753 62.9435C68.0648 62.857 67.7368 62.8551 67.4254 62.9382C67.1139 63.0213 66.8304 63.1862 66.6043 63.4159L61.0403 69.0216L54.7914 62.7129L60.37 57.0635C60.5917 56.8373 60.7505 56.557 60.8304 56.2504C60.9104 55.9439 60.9088 55.6218 60.8258 55.316Z" fill="white"/>
                        <path d="M87.197 3.63671H76.2981C74.2916 3.63671 72.6651 5.2632 72.6651 7.26969V10.5085L57.4065 0.84853C56.534 0.299256 55.5239 0.0078125 54.4929 0.0078125C53.4618 0.0078125 52.4518 0.299256 51.5793 0.84853L1.72544 32.43C0.0553695 33.471 -0.493371 35.6459 0.482885 37.3545L3.44375 42.5534C3.69141 42.988 4.02523 43.3676 4.42474 43.6687C4.82425 43.9698 5.28104 44.1861 5.76712 44.3045C6.0483 44.3732 6.33684 44.408 6.62627 44.408C7.33513 44.4087 8.02906 44.2043 8.62433 43.8194L10.9041 42.3498V101.728C10.9041 105.741 14.1573 108.994 18.1701 108.994H90.83C94.843 108.994 98.096 105.74 98.096 101.728V42.35L100.37 43.8033C100.789 44.0766 101.259 44.2612 101.752 44.3458C102.245 44.4305 102.75 44.4133 103.236 44.2953C103.721 44.1774 104.178 43.9612 104.577 43.6601C104.976 43.3589 105.31 42.9792 105.556 42.5444L108.517 37.3473C109.493 35.6389 108.945 33.4651 107.277 32.4228L90.83 22.0143V7.26969C90.83 5.26338 89.2035 3.63671 87.197 3.63671ZM76.2981 7.26969H87.197V19.7127L76.2981 12.81V7.26969ZM94.463 101.728C94.463 103.734 92.8365 105.361 90.83 105.361H18.1701C16.1636 105.361 14.5371 103.734 14.5371 101.728V40.0121L54.5 14.3104L94.463 40.0121V101.728ZM105.362 35.558L102.347 40.7622L56.4638 11.2552C55.8778 10.8785 55.1959 10.6783 54.4992 10.6783C53.8026 10.6783 53.1207 10.8785 52.5347 11.2552L6.60081 40.7569L3.66899 35.4999L53.53 3.91843C53.8203 3.73507 54.1566 3.63775 54.5 3.63775C54.8433 3.63775 55.1796 3.73507 55.4699 3.91843L105.362 35.5564V35.558H105.362Z" fill="white"/>
                    </svg>
                    <span>Наша компания предлагает бесплатное сервисное обслуживание домов, построенных нами. На протяжении года наши специалисты будут устранять все технические и косметические дефекты.</span>
                </div>


                <div class="text-section__content">
                    <span>Мы даем 15 лет гарантии на построенные дома. Это самая расширенная гарантия на объекты малоэтажного строительства на рынке. Гарантия распространяется на целостность стен, фундамента, кровлю, силовые конструкции и стропильную систему. Если за это время что-то выйдет из строя или появятся дефекты, мы их устраним.</span>
                
                    <div class="quarantees__block">
                        <h2>Вопросы по гарантии</h2>
                        <ul>
                            <li>Если у вас есть вопросы, оставьте заявку по телефону или контактную форму на сайте;</li>
                            <li>Если заявка оставлена онлайн, специалист компании свяжется с вами на протяжении одного рабочего дня;</li>
                            <li>После определения проблем, которые попадают под гарантию, наш специалист согласовывает срок начала и завершения работ по их устранению.</li>
                        </ul>
                    </div>
                    <div class="quarantees__block">
                        <h2>Действие гарантии</h2>
                        <ul>
                            <li>Гарантия не распространяется на дефекты, которые возникли в результате естественного износа строения и коммуникаций;</li>
                            <li>Также гарантия не действует, если повреждения появились в результате действий владельца дома или третьих лиц;</li>
                            <li>Дефекты, которые возникли в результате форс-мажора, не попадают под действие гарантии.</li>
                        </ul>
                    </div>
                </div>

            
                <div class="text-section__banner guaranteed__red-banner">
                    <span>Но, несмотря на установленные правила, мы всегда готовы помочь нашим заказчикам решить возникшие проблемы, даже если они не попадают под действие гарантии.</span>
                </div>
            </div>
        </div>
        
        <div class="guaranteed__client-corner">
            <div class="container">
                <div class="guaranteed__client-corner-title">
                    <h2>Уголок  <span>клиента</span></h2>
                </div>

                <div class="guaranteed__client-corner-block">
                    <div class="guaranteed__client-corner-block-btn">
                        <button>
                            <div>
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M37.1785 16.8738L33.0868 13.7107C33.0679 13.6959 33.0491 13.6828 33.0294 13.6705V5.25C33.0294 4.86527 32.7168 4.55273 32.3321 4.55273H9.67262C9.28789 4.55273 8.97535 4.86527 8.97535 5.25V13.6672C8.96961 13.6713 8.96305 13.6754 8.9573 13.6795L4.82539 16.8738C4.74109 16.9391 4.67286 17.0227 4.62593 17.1184C4.57901 17.2141 4.55463 17.3193 4.55469 17.4259V36.75C4.55469 37.1347 4.86723 37.4473 5.25195 37.4473H36.752C37.1367 37.4473 37.4492 37.1347 37.4492 36.75V17.4251C37.4492 17.2093 37.3491 17.0059 37.1785 16.8738ZM35.4805 17.3234L33.0286 19.1658V15.4284L35.4805 17.3234ZM31.634 5.94727V20.2133L21.0003 28.2023L10.3691 20.2568V5.94727H31.634ZM8.97535 15.4284V19.215L6.48488 17.3537L8.97535 15.4284ZM5.94922 36.0527V18.6941L20.5844 29.633C20.7049 29.7232 20.8514 29.7718 21.002 29.7716C21.1496 29.7716 21.2964 29.7248 21.4211 29.6321L36.0547 18.6359V36.0527H5.94922Z" fill="black"/>
                                    <path d="M13.8496 10.7812H28.1526C28.5373 10.7812 28.8498 10.4687 28.8498 10.084C28.8498 9.69926 28.5373 9.38672 28.1526 9.38672H13.8496C13.4649 9.38672 13.1523 9.69926 13.1523 10.084C13.1523 10.4687 13.4649 10.7812 13.8496 10.7812ZM13.8496 13.6056H28.1526C28.5373 13.6056 28.8498 13.293 28.8498 12.9083C28.8498 12.5236 28.5373 12.2111 28.1526 12.2111H13.8496C13.4649 12.2111 13.1523 12.5236 13.1523 12.9083C13.1523 13.293 13.4649 13.6056 13.8496 13.6056ZM13.8496 16.4291H28.1526C28.5373 16.4291 28.8498 16.1166 28.8498 15.7318C28.8498 15.3471 28.5373 15.0346 28.1526 15.0346H13.8496C13.4649 15.0346 13.1523 15.3471 13.1523 15.7318C13.1523 16.1166 13.4649 16.4291 13.8496 16.4291ZM13.8496 19.2534H28.1526C28.5373 19.2534 28.8498 18.9409 28.8498 18.5562C28.8498 18.1714 28.5373 17.8589 28.1526 17.8589H13.8496C13.4649 17.8589 13.1523 18.1714 13.1523 18.5562C13.1523 18.9409 13.4649 19.2534 13.8496 19.2534Z" fill="black"/>
                                </svg>
                                <span>Оставить завку</span>
                            </div>
                            <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM47.7071 8.70711C48.0976 8.31658 48.0976 7.68342 47.7071 7.29289L41.3431 0.928932C40.9526 0.538408 40.3195 0.538408 39.9289 0.928932C39.5384 1.31946 39.5384 1.95262 39.9289 2.34315L45.5858 8L39.9289 13.6569C39.5384 14.0474 39.5384 14.6805 39.9289 15.0711C40.3195 15.4616 40.9526 15.4616 41.3431 15.0711L47.7071 8.70711ZM1 9H47V7H1V9Z" fill="black"/>
                            </svg>

                        </button>
                    </div>
                    <div class="guaranteed__client-corner-block-btn">
                        <button>
                            <div>
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 5C12.1776 5 5 12.1776 5 21C5 29.8224 12.1776 37 21 37C29.8224 37 37 29.8224 37 21C37 12.1776 29.8224 5 21 5ZM21 35.5C13.0047 35.5 6.5 28.9953 6.5 21C6.5 13.0047 13.0047 6.5 21 6.5C28.9953 6.5 35.5 13.0047 35.5 21C35.5 28.9953 28.9953 35.5 21 35.5ZM29.3679 23.9103C29.3678 23.9103 29.3678 23.9103 29.3679 23.9103L26.4286 22.2133C25.9785 21.9535 25.4533 21.8846 24.9499 22.0195C24.4464 22.1544 24.026 22.4766 23.7662 22.9267C23.6154 23.1879 23.3514 23.5164 22.9497 23.5986C22.5833 23.6735 22.2599 23.6008 21.9609 23.3764C20.8562 22.5474 19.4528 21.1439 18.6236 20.0392C18.3993 19.7402 18.3266 19.4167 18.4015 19.0504C18.4836 18.6486 18.8122 18.3846 19.0734 18.2339C20.0041 17.6964 20.3241 16.5021 19.7867 15.5714L18.0898 12.6321C17.6037 11.7903 16.5942 11.4373 15.6896 11.7924L15.6544 11.8063C14.2498 12.3577 13.2227 12.7809 12.7979 13.2056C12.0264 13.9772 11.2449 15.4131 11.9037 17.8717C13.1833 22.6473 19.3527 28.8167 24.1283 30.0964C24.7767 30.2701 25.3539 30.3437 25.8667 30.3437C27.2981 30.3437 28.2264 29.7703 28.7945 29.2021C29.2192 28.7774 29.6423 27.7505 30.1936 26.3463L30.2077 26.3105C30.5627 25.4058 30.2096 24.3964 29.3679 23.9103ZM28.8113 25.7623L28.7972 25.7981C28.5312 26.4756 27.9778 27.8853 27.7336 28.1414C27.0177 28.8574 25.9352 29.0276 24.5163 28.6475C20.2374 27.5009 14.4989 21.7624 13.3524 17.4835C12.9722 16.0647 13.1424 14.9822 13.8577 14.267C14.1146 14.0221 15.5248 13.4686 16.2024 13.2026L16.2376 13.1887C16.2916 13.1673 16.349 13.1562 16.4071 13.1561C16.562 13.1561 16.7069 13.2374 16.7905 13.3821L18.4875 16.3214C18.6112 16.5359 18.5376 16.811 18.3232 16.9347C17.5772 17.3654 17.0831 18.0101 16.9318 18.7499C16.7705 19.5385 16.9406 20.2956 17.4237 20.9395C18.3418 22.1628 19.8373 23.6582 21.0604 24.5761C21.7042 25.0592 22.4614 25.2294 23.2501 25.0681C23.9899 24.9168 24.6345 24.4226 25.0652 23.6766C25.0946 23.6256 25.1339 23.5809 25.1808 23.5452C25.2276 23.5094 25.2811 23.4833 25.3381 23.4684C25.3949 23.4528 25.4543 23.4487 25.5127 23.4563C25.5712 23.4638 25.6275 23.4829 25.6786 23.5123L28.6178 25.2093C28.8149 25.3232 28.8944 25.5506 28.8113 25.7623Z" fill="black"/>
                                </svg>
                                <span>Заказать обратный звонок</span>
                            </div>
                            <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM47.7071 8.70711C48.0976 8.31658 48.0976 7.68342 47.7071 7.29289L41.3431 0.928932C40.9526 0.538408 40.3195 0.538408 39.9289 0.928932C39.5384 1.31946 39.5384 1.95262 39.9289 2.34315L45.5858 8L39.9289 13.6569C39.5384 14.0474 39.5384 14.6805 39.9289 15.0711C40.3195 15.4616 40.9526 15.4616 41.3431 15.0711L47.7071 8.70711ZM1 9H47V7H1V9Z" fill="black"/>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
            <img src="../assets/img/client-corner__bg.png">
        </div>
    </section>