extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Главная страница';
  - var pageClass = 'index';
  


block content
  <div class="information">
    <div class="container">
      <div class="information__title">
          <div>
              <h1>Строительство домов
          </div> 
          <div>
              <span>из блока</span>
          </div>
           </h1> 
      </div>
      <div class="information__detail-btn">
          <button class="detail-btn">
            <span>Подробнее</span>
            <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
            </svg>    
          </button>
      </div>
    </div>
  </div>

  <div class="calculate-project">
    <img class="calculate-project__house" src="../../assets/img/calculate-project_background.png" alt="">
    <div class="container calculate-project__container">
        <div class="calculate-project__text">
            <h2 class="title"><span>Рассчитать </span>проект</h2>
            <p>Заполните форму, прикрепите рисунки проектов.<br> Мы все посчитаем и вам перезвоним.</p>
        </div>
        <div class="calculate-project__type-build">
            <h2>Тип строительства</h2>
            <div class="type-build__blocks">
                <div class="type-build__block">
                    <div class="block__picture">
                        <img src="../../assets/img/dom.png" alt="">
                    </div>
                        <button class="block__select">
                            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.06254 3.38229L12.6792 12.9989L10.4164 15.2617L0.799794 5.64503L3.06254 3.38229Z" fill="white"/>
                                <path d="M22.8615 2.8166L10.4164 15.2617L8.1537 12.9989L20.5988 0.553862L22.8615 2.8166Z" fill="white"/>
                            </svg>                                        
                        </button>
                    <span class="block__text">Дом</span>
                </div>
                <div class="type-build__block">
                    <div class="block__picture">
                        <img src="../../assets/img/dom.png" alt="">
                    </div>
                    <button class="block__select">
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.06254 3.38229L12.6792 12.9989L10.4164 15.2617L0.799794 5.64503L3.06254 3.38229Z" fill="white"/>
                            <path d="M22.8615 2.8166L10.4164 15.2617L8.1537 12.9989L20.5988 0.553862L22.8615 2.8166Z" fill="white"/>
                        </svg>                                        
                    </button>
                    <span class="block__text">Дом</span>
                </div>
                <div class="type-build__block">
                    <div class="block__picture">
                        <img src="../../assets/img/dom.png" alt="">
                    </div>
                    <button class="block__select">
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.06254 3.38229L12.6792 12.9989L10.4164 15.2617L0.799794 5.64503L3.06254 3.38229Z" fill="white"/>
                            <path d="M22.8615 2.8166L10.4164 15.2617L8.1537 12.9989L20.5988 0.553862L22.8615 2.8166Z" fill="white"/>
                        </svg>                                        
                    </button>
                    <span class="block__text">Дом</span>
                </div>
                <div class="type-build__block">
                    <div class="block__picture">
                        <img src="../../assets/img/dom.png" alt="">
                    </div>
                    <button class="block__select">
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.06254 3.38229L12.6792 12.9989L10.4164 15.2617L0.799794 5.64503L3.06254 3.38229Z" fill="white"/>
                            <path d="M22.8615 2.8166L10.4164 15.2617L8.1537 12.9989L20.5988 0.553862L22.8615 2.8166Z" fill="white"/>
                        </svg>                                        
                    </button>
                    <span class="block__text">Дом</span>
                </div>
            </div>

            <div class="type-build__buttons">
                <div>
                    <button class="type-build__back">Назад</button>
                </div>
                <div>
                    <button class="type-build__next">Вперед</button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="popular-projects">
    <div class="container">
        <div class="popular-projects__header">
            <h2 class="popular-projects__title title">Популярные <span>проекты</span></h2>
            <div class="popular-projects__slider-buttons">
                <div class="popular-project-swiper-button-prev">
                    <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.2161 13.5C22.0445 13.5 22.7161 12.8284 22.7161 12C22.7161 11.1716 22.0445 10.5 21.2161 10.5L21.2161 13.5ZM0.452702 10.9393C-0.133085 11.5251 -0.133085 12.4749 0.452701 13.0607L9.99864 22.6066C10.5844 23.1924 11.5342 23.1924 12.12 22.6066C12.7057 22.0208 12.7057 21.0711 12.12 20.4853L3.63468 12L12.12 3.51472C12.7058 2.92893 12.7058 1.97918 12.12 1.3934C11.5342 0.807611 10.5844 0.807611 9.99864 1.3934L0.452702 10.9393ZM21.2161 10.5L1.51336 10.5L1.51336 13.5L21.2161 13.5L21.2161 10.5Z" fill="white"/>
                    </svg>    
                </div>
                <div class="popular-project-swiper-button-next">
                    <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.78394 13.5C0.955509 13.5 0.283936 12.8284 0.283936 12C0.283935 11.1716 0.955508 10.5 1.78394 10.5L1.78394 13.5ZM22.5473 10.9393C23.1331 11.5251 23.1331 12.4749 22.5473 13.0607L13.0014 22.6066C12.4156 23.1924 11.4658 23.1924 10.88 22.6066C10.2943 22.0208 10.2943 21.0711 10.88 20.4853L19.3653 12L10.88 3.51472C10.2942 2.92893 10.2942 1.97918 10.88 1.3934C11.4658 0.807611 12.4156 0.807611 13.0014 1.3934L22.5473 10.9393ZM1.78394 10.5L21.4866 10.5L21.4866 13.5L1.78394 13.5L1.78394 10.5Z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper popular-projects__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper popular-projects__wrapper">
        <!-- Slides --> 

        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-element">
            <div class="slider-element__picture">
                <img src="../../assets/img/popular_project_dom.png" alt="">
            </div>
            <div class="slider-element__wrapper">
                <h2 class="slider-element__title">Дом из бруса: Д-42-БР</h2>
                <div class="slider-element__property">
                    <div class="slider-element__property-table">
                        <div class="property-table__value">
                            <span>Срок возведения</span>
                            <span>2-4 месяца</span>
                        </div>
                        <div class="property-table__value">
                            <span>Размеры</span>
                            <span>9,5 х 17,5 м</span>
                        </div>
                        <div class="property-table__value">
                            <span>Общая площадь</span>
                            <span>124,65 м²</span>
                        </div>
                        <div class="property-table__value">
                            <span>Кол-во этажей</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="slider-element__info">
                        <div class="slider-element__more-detail">
                            <button class="more-detail__btn">Подробнее</button>
                        </div>
                        <div class="slider-element__price">
                            <span>5 456 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stocks">
    <div class="container">
        <h2 class="stonks__title title">Акции</h2>
        <div class="stocks__blocks">
            <div class="stocks__blocks-block">
                <div class="stocks__blocks-block__img">
                    <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                </div>
                <div class="stocks__blocks-block__text">
                    <div class="stocks__blocks-block__title">Дом за миллион</div>
                    <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                </div>
            </div>
            <div class="stocks__blocks-block">
                <div class="stocks__blocks-block__img">
                    <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                </div>
                <div class="stocks__blocks-block__text">
                    <div class="stocks__blocks-block__title">Дом за миллион</div>
                    <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                </div>
            </div>
            <div class="stocks__blocks-block">
                <div class="stocks__blocks-block__img">
                    <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                </div>
                <div class="stocks__blocks-block__text">
                    <div class="stocks__blocks-block__title">Дом за миллион</div>
                    <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                </div>
            </div>
            <div class="stocks__blocks-block">
                <div class="stocks__blocks-block__img">
                    <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                </div>
                <div class="stocks__blocks-block__text">
                    <div class="stocks__blocks-block__title">Дом за миллион</div>
                    <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="implemented-projects">
    <div class="container">
      <h2 class="implemented-projects__title title">Реализованные <span>проекты</span></h2>
    </div>
    <div class="swiper implemented-projects__slider">
        <div class="swiper-wrapper implemented-projects__swiper-wrapper">
            <div class="swiper-slide implemented-projects__slide">
                <div class="implemented-projects__slide-img">
                    <img src="../../assets/img/implemented-projects_dom.png" alt="Проект Сорренто">
                </div>
                <div class="implemented-projects__slide-info">
                    <div class="slide-info__row">
                        <h2 class="slide-info__row-title">Проект Сорренто</h2>
                        <p class="slide-info__row-subtitle">Двухэтажный дом из пеноблока с гибкой кровлей</p>
                    </div>
                    <div class="slide-info__row">                        
                        <span class="slide-info__row-price">2 250 000 ₽</span>
                        <button class="slide-info__row-btn">подробнее</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="implemented-projects-swiper-button-prev">
            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29 13.5C29.8284 13.5 30.5 12.8284 30.5 12C30.5 11.1716 29.8284 10.5 29 10.5L29 13.5ZM0.939339 10.9393C0.353552 11.5251 0.353552 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.80761 11.0711 0.80761 10.4853 1.3934L0.939339 10.9393ZM29 10.5L2 10.5L2 13.5L29 13.5L29 10.5Z" fill="white"/>
            </svg>                                
        </div>
        <div class="implemented-projects-swiper-button-next">
            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 13.5C1.17157 13.5 0.5 12.8284 0.5 12C0.5 11.1716 1.17157 10.5 2 10.5L2 13.5ZM30.0607 10.9393C30.6464 11.5251 30.6464 12.4749 30.0607 13.0607L20.5147 22.6066C19.9289 23.1924 18.9792 23.1924 18.3934 22.6066C17.8076 22.0208 17.8076 21.0711 18.3934 20.4853L26.8787 12L18.3934 3.51472C17.8076 2.92893 17.8076 1.97918 18.3934 1.3934C18.9792 0.80761 19.9289 0.80761 20.5147 1.3934L30.0607 10.9393ZM2 10.5L29 10.5L29 13.5L2 13.5L2 10.5Z" fill="white"/>
            </svg>    
        </div>
    </div>
    <div class="implemented-projects__all-project">
        <button class="implemented-projects__all-project-btn">Все проекты</button>
    </div>
  </div>

  <div class="offer">
      <div class="container">
          <h2 class="offer__title title">Мы <span>предлагаем</span></h2>
          <div class="offer__content-blocks">            
            <div class="offer__content-left">
                <div class="offer__content">
                    <h2>
                        <div class="offer__content-number">1</div>
                        <span>Проектирование</span>
                    </h2>
                    <p>Разрабатываем проекты малоэтажных жилых домов и других объектов</p>
                </div>
                <div class="offer__content">
                    <h2>
                        <div class="offer__content-number">2</div>
                        <span>Строительство</span>
                    </h2>
                    <p>Работы любой сложности – от малоэтажного строительства, до реставрации старинных зданий</p>
                </div>
            </div>
            <div class="offer__content-right">
                <div class="offer__content">
                    <h2>
                        <div class="offer__content-number">3</div>
                        <span>Отделочные работы</span>
                    </h2>
                    <p>Профессиональная внутренняя отделка помещений, четкое соответствие дизайн проекту</p>
                </div>
                <div class="offer__content offer-call">
                    <button class="offer__content-btn">Вызвать замерщика</button>
                </div>
            </div>
            <div class="offer__content-img">
              <img src="../../assets/img/offer_dom.png" alt="Мы предлагаем">
            </div>
          </div>
      </div>
  </div>

  <div class="videos">
    <div class="container">
        <h2 class="videos__title title">Видео наших <span>проектов</span></h2>
        <div class="videos__wrapper">
            <div class="video__container">
                <video src="https://www.orehovostroy.ru/wp-content/uploads/2022/05/vintovie-svai.mp4" controls="controls" poster="../../assets/img/video_bg.png">
                </video>
            </div>
            <div class="video__container">
                <video controls="controls" poster="../../assets/img/video_bg.png">
                    <source src="https://www.orehovostroy.ru/wp-content/uploads/2022/05/vintovie-svai.mp4" type="video/mp4">
                </video>
            </div>
            <div class="video__container">
                <video controls="controls" poster="../../assets/img/video_bg.png">
                    <source src="https://www.orehovostroy.ru/wp-content/uploads/2022/05/vintovie-svai.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
  </div>

  <div class="reviews">
    <h2 class="reviews__title title">Отзывы <span>клиентов</span></h2>

    <div class="swiper reviews__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide reviews__slider-slide">
                <div class="reviews__slider-slide__avatar">
                    <img src="../../assets/img/reviews_avatar.png" alt="">
                </div>
                <div class="reviews__slider-slide__title">
                    <h2>Эльмира Сычева</h2>                    
                </div>
                <div class="reviews__slider-slide__text">
                    <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                </div>
            </div>
            <div class="swiper-slide reviews__slider-slide">
                <div class="reviews__slider-slide__avatar">
                    <img src="../../assets/img/reviews_avatar.png" alt="">
                </div>
                <div class="reviews__slider-slide__title">
                    <h2>Эльмира Сычева</h2>                    
                </div>
                <div class="reviews__slider-slide__text">
                    <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                </div>
            </div>
            <div class="swiper-slide reviews__slider-slide">
                <div class="reviews__slider-slide__avatar">
                    <img src="../../assets/img/reviews_avatar.png" alt="">
                </div>
                <div class="reviews__slider-slide__title">
                    <h2>Эльмира Сычева</h2>                    
                </div>
                <div class="reviews__slider-slide__text">
                    <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                </div>
            </div>       
        </div>
        <div class="reviews-swiper-button-prev">
            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29 13.5C29.8284 13.5 30.5 12.8284 30.5 12C30.5 11.1716 29.8284 10.5 29 10.5L29 13.5ZM0.939339 10.9393C0.353552 11.5251 0.353552 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.80761 11.0711 0.80761 10.4853 1.3934L0.939339 10.9393ZM29 10.5L2 10.5L2 13.5L29 13.5L29 10.5Z" fill="white"/>
            </svg>    
        </div>
        <div class="reviews-swiper-button-next">
            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 13.5C1.17157 13.5 0.5 12.8284 0.5 12C0.5 11.1716 1.17157 10.5 2 10.5L2 13.5ZM30.0607 10.9393C30.6464 11.5251 30.6464 12.4749 30.0607 13.0607L20.5147 22.6066C19.9289 23.1924 18.9792 23.1924 18.3934 22.6066C17.8076 22.0208 17.8076 21.0711 18.3934 20.4853L26.8787 12L18.3934 3.51472C17.8076 2.92893 17.8076 1.97918 18.3934 1.3934C18.9792 0.80761 19.9289 0.80761 20.5147 1.3934L30.0607 10.9393ZM2 10.5L29 10.5L29 13.5L2 13.5L2 10.5Z" fill="white"/>
            </svg>    
        </div>
        <div class="reviews-swiper-pagination"></div>
    </div>
  </div>

  <div class="questions">
    <img src="../../assets/img/question_dom.png" alt="Фон вопросов" class="question_dom">
    <div class="container">
        <h2 class="questions__title title">Частые <span>вопросы</span></h2>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного
                |  проекта и в срок?</h3>
                <div class="questions__question-sign">+</div>
            </div>
            <div class="questions__question-content inactive">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного
                |  проекта и в срок?</h3>
                <div class="questions__question-sign">-</div>                             
            </div>
            <div class="questions__question-content active">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного
                |  проекта и в срок?</h3>
                <div class="questions__question-sign">+</div>                               
            </div>
            <div class="questions__question-content inactive">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного
                |  проекта и в срок?</h3>
                <div class="questions__question-sign">+</div>                                
            </div>
            <div class="questions__question-content inactive">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного проекта и в срок?</h3>
                <div class="questions__question-sign">+</div>                               
            </div>
            <div class="questions__question-content inactive">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
        <div class="questions__question">
            <div class="questions__question-title">
                <h3>Какие гарантии что все будет выполнено безупречно, без отклонений от утвержденного
                |  проекта и в срок?</h3>
                <div class="questions__question-sign">+</div>                                
            </div>
            <div class="questions__question-content inactive">
                <p>Чтобы избежать срывов сроков строительства или еще хуже – оградить от неожиданных доплат! Тщательно все выверяем и просчитываем, затем подписываем официальный договор, где прописывается сумма и сроки строительных работ которые на протяжении всего строительства дома остаются неизменными.</p>
            </div>
        </div>
    </div>
  </div>