extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Акции</div>
        
            <div class="payment-method-section">
                <div class="payment-method-section__title"><h1>Способы оплаты</h1></div>
                <div class="payment-method-section__grid">
                    <div class="payment-method-section__item">
                        <div class="payment-method-section__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="payment-method-section__item-text">
                            <h2>Кредит на строительство</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                    <div class="payment-method-section__item">
                        <div class="payment-method-section__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="payment-method-section__item-text">
                            <h2>Кредит на строительство</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                    <div class="payment-method-section__item">
                        <div class="payment-method-section__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="payment-method-section__item-text">
                            <h2>Кредит на строительство</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                    <div class="payment-method-section__item">
                        <div class="payment-method-section__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="payment-method-section__item-text">
                            <h2>Кредит на строительство</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                    <div class="payment-method-section__item">
                        <div class="payment-method-section__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="payment-method-section__item-text">
                            <h2>Кредит на строительство</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>