extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • цены</div>
        
            <div class="prices-section__title"><h1>Цены на строительство <span>домов</span></h1></div>

            <div class="prices-section__grid">
                table 
                    tbody 
                        tr
                            td(colspan="3", class="prices-section__grid-header") Дизайн-проект
                        tr(class="prices-section__grid-title") 
                            td №:
                            td Вид работ:
                            td Стоимость:
                        tr 
                            td 1
                            td Эскизный дизайн проект (квартиры площадью более 100 м.кв.)
                            td 1000 руб. за м.кв.
                        tr 
                            td 2
                            td Полный дизайн проект (квартиры площадью менее 100 м.кв.)
                            td 2000 руб. за м.кв.
                        tr 
                            td 3
                            td Полный дизайн проект (квартиры площадью более 100 м.кв.)
                            td 1800 руб. за м.кв.
                        tr 
                            td 4
                            td Визуализация 3D
                            td от 7 360 руб.
                        tr 
                            td 5
                            td Авторский надзор (4 поездки в месяц)
                            td 15 264 руб.
                        tr 
                            td 6
                            td Декорирование
                            td (цена договорная)
                
                table 
                    tbody 
                        tr
                            td(colspan="3", class="prices-section__grid-header") Малярно-штукатурные работы
                        tr(class="prices-section__grid-title") 
                            td №:
                            td Вид работ:
                            td Стоимость:
                        tr 
                            td 1
                            td Оштукатуривание стен гипсовой смесью (по маякам, толщиной до 30 мм)
                            td 1000 руб. за м.кв.
                        tr 
                            td 2
                            td Оштукатуривание потолков смесью ( по маякам, толщиной до 30 мм )
                            td 2000 руб. за м.кв.
                        tr 
                            td 3
                            td Оштукатуривание стен (визуальное выравнивание)
                            td 1800 руб. за м.кв.
                        tr 
                            td 4
                            td Оштукатуривание потолков (визуальное выравнивание)
                            td от 7 360 руб.
                        tr 
                            td 5
                            td Монтаж армирующей сетки под штукатурку
                            td 15 264 руб.
                        tr 
                            td 6
                            td Заделка штроб
                            td (цена договорная)
            </div>

            <div class="prices-section__may-differ">
                <p>*Цены могут отличаться при детальном просчете стоимости работ. Подробности уточняйте у менеджеров.</p>
            </div>
        </div>
    </section>