extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Примеры работ • Проект «Барин»</div>
            <div class="project-section__title">
                <h1>Проект «Барин»</h1>
            </div>

            <div class="project-section__block">
                <div class="project-section__content-picture">
                    <img src="../../assets/img/project.png">
                </div>
                <div class="project-section__content-specifications">
                    <div class="project-section__content-specifications__btn">
                        <button>Оставить заявку</button>
                    </div>

                    <div class="project-section__content-specifications__price">
                        <span>5 186 000 ₽</span>
                    </div>

                    <div class="project-section__content-specifications__table">
                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.75 4.25H18.5V2.75001C18.5 2.33579 18.1642 2 17.75 2C17.3358 2 17 2.33579 17 2.75001V4.25H7.99998V2.75001C7.99998 2.33579 7.6642 2 7.25001 2C6.83583 2 6.5 2.33579 6.5 2.75001V4.25H4.25C3.00736 4.25 2 5.25736 2 6.5V20.75C2 21.9926 3.00736 23 4.25 23H20.75C21.9926 23 23 21.9926 23 20.75V6.5C23 5.25736 21.9926 4.25 20.75 4.25ZM21.5 20.75C21.5 21.1642 21.1642 21.5 20.75 21.5H4.25C3.83577 21.5 3.49998 21.1642 3.49998 20.75V11H21.5V20.75ZM21.5 9.50001H3.49998V6.5C3.49998 6.08577 3.83577 5.74998 4.25 5.74998H6.5V7.24997C6.5 7.6642 6.83578 7.99998 7.25001 7.99998C7.66424 7.99998 8.00002 7.6642 8.00002 7.24997V5.74998H17V7.24997C17 7.6642 17.3358 7.99998 17.75 7.99998C18.1643 7.99998 18.5 7.6642 18.5 7.24997V5.74998H20.75C21.1643 5.74998 21.5001 6.08577 21.5001 6.5L21.5 9.50001Z" fill="#BD3A48"/>
                                    <path d="M17.5118 12.7197C17.2212 12.439 16.7604 12.439 16.4698 12.7197L11 18.1895L8.53022 15.7197C8.23228 15.432 7.75749 15.4402 7.46974 15.7381C7.18901 16.0288 7.18901 16.4896 7.46974 16.7802L10.4697 19.7802C10.7626 20.073 11.2374 20.073 11.5302 19.7802L17.5302 13.7802C17.818 13.4823 17.8097 13.0075 17.5118 12.7197Z" fill="#BD3A48"/>
                                </svg>
                                <span class="specifications__table-item__margin">Срок возведения</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>2-4 месяца</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_760_18053)">
                                    <path d="M24.8373 21.7245L22.7976 19.6604C22.513 19.3726 22.0491 19.3699 21.7613 19.6543C21.4733 19.9389 21.4706 20.4028 21.755 20.6905L22.5376 21.4827H3.5664V2.48967L4.35498 3.27839C4.64111 3.56467 5.10517 3.56467 5.39125 3.27839C5.67753 2.99226 5.67753 2.52839 5.39125 2.24211L3.36396 0.214621C3.07905 -0.0703397 2.61728 -0.071707 2.33076 0.211545L0.266645 2.25124C-0.0213919 2.53586 -0.0240287 2.99973 0.260346 3.28772C0.328456 3.35676 0.409623 3.41156 0.49912 3.44892C0.588616 3.48628 0.684653 3.50546 0.781635 3.50534C0.967768 3.50534 1.15371 3.43498 1.29663 3.29382L2.10073 2.49924V21.4826H0.781831C0.377046 21.4826 0.0490182 21.8108 0.0490182 22.2155C0.0490182 22.62 0.377094 22.9483 0.781831 22.9483H2.10073V24.267C2.10073 24.6718 2.42885 24.9998 2.83354 24.9998C3.23823 24.9998 3.56635 24.6717 3.56635 24.267V22.9483H22.5712L21.7703 23.749C21.4842 24.0353 21.4842 24.4991 21.7703 24.7854C21.9135 24.9285 22.101 25 22.2885 25C22.476 25 22.6635 24.9285 22.8066 24.7854L24.8341 22.7579C25.1192 22.4728 25.1206 22.0114 24.8373 21.7245Z" fill="#BD3A48"/>
                                    <path d="M6.80109 9.17255H8.26671V17.233C8.26671 17.6377 8.59474 17.9658 8.99947 17.9658H19.2584C19.6629 17.9658 19.991 17.6377 19.991 17.233V9.17255H21.4566C21.7678 9.17255 22.045 8.97587 22.148 8.68217C22.1982 8.53892 22.2028 8.38358 22.1609 8.23764C22.1191 8.0917 22.0329 7.96237 21.9144 7.86752L14.5865 2.00536C14.4566 1.90138 14.2952 1.84473 14.1288 1.84473C13.9624 1.84473 13.801 1.90138 13.6712 2.00536L6.34332 7.86752C6.22477 7.96236 6.13861 8.0917 6.09675 8.23763C6.05489 8.38357 6.05941 8.53891 6.10968 8.68217C6.1599 8.82548 6.2534 8.94965 6.37727 9.0375C6.50113 9.12535 6.64923 9.17254 6.80109 9.17255ZM14.8615 16.5002H13.3962V13.5692H14.8616L14.8615 16.5002ZM18.5256 16.5002H16.3272V12.8364C16.3272 12.4316 15.9991 12.1036 15.5943 12.1036H12.6633C12.2586 12.1036 11.9305 12.4317 11.9305 12.8364V16.5002H9.73209V9.1726H18.5255L18.5256 16.5002ZM14.1289 3.51591L19.3676 7.70693H8.88995L14.1289 3.51591Z" fill="#BD3A48"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_760_18053">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                <span class="specifications__table-item__margin">Размеры</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>9,5 х 17,5 м</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.85292 0H19.147C20.1704 0 21 0.829584 21 1.85293V19.1471C21 20.1704 20.1704 21 19.1471 21H1.85292C0.829582 21 0 20.1705 0 19.1471V1.85293C0 0.829584 0.829582 0 1.85292 0ZM13.5882 6.79413H11.1177C10.7765 6.79413 10.5 6.5176 10.5 6.17647C10.5 5.83535 10.7765 5.55882 11.1177 5.55882H19.7647V1.85293C19.7647 1.5118 19.4882 1.23527 19.1471 1.23527H7.41177V6.17647C7.41177 6.5176 7.13524 6.79413 6.79412 6.79413C6.45299 6.79413 6.17646 6.5176 6.17646 6.17647V1.23531H1.85292C1.51179 1.23531 1.23527 1.51184 1.23527 1.85297V10.5H6.17646V9.88237C6.17646 9.54124 6.45299 9.26471 6.79412 9.26471C7.13524 9.26471 7.41177 9.54124 7.41177 9.88237V12.3529C7.41177 12.6941 7.13524 12.9706 6.79412 12.9706C6.45299 12.9706 6.17646 12.6941 6.17646 12.3529V11.7353H1.23531V19.1471C1.23531 19.4882 1.51184 19.7647 1.85296 19.7647H6.1765V16.0588C6.1765 15.7177 6.45303 15.4412 6.79416 15.4412C7.13528 15.4412 7.41181 15.7177 7.41181 16.0588V19.7647H13.5883V16.6765H11.1177C10.7766 16.6765 10.5 16.4 10.5 16.0588C10.5 15.7177 10.7766 15.4412 11.1177 15.4412H13.5883V13.5883C13.5883 13.2471 13.8648 12.9706 14.2059 12.9706C14.5471 12.9706 14.8236 13.2471 14.8236 13.5883V19.7647H19.1471C19.4882 19.7647 19.7648 19.4882 19.7648 19.1471V6.79413H14.8235V9.88237C14.8235 10.2235 14.547 10.5 14.2059 10.5C13.8648 10.5 13.5882 10.2235 13.5882 9.88237V6.79413Z" fill="#BD3A48"/>
                                </svg>
                                <span class="specifications__table-item__margin">Общая площадь</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>66,00 м²</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.7046 22.3028H23.3638C23.5093 22.3028 23.6488 22.2451 23.7516 22.1422C23.8544 22.0394 23.9122 21.8999 23.9122 21.7545C23.9122 21.6091 23.8544 21.4696 23.7516 21.3668C23.6488 21.2639 23.5093 21.2061 23.3638 21.2061H22.3812V5.38864C22.3812 5.24321 22.3234 5.10374 22.2206 5.0009C22.1178 4.89807 21.9783 4.84029 21.8329 4.84029H19.3494V3.18702C19.3494 3.04159 19.2916 2.90212 19.1888 2.79928C19.0859 2.69644 18.9465 2.63867 18.801 2.63867H6.26741C6.12198 2.63867 5.98251 2.69644 5.87967 2.79928C5.77684 2.90212 5.71906 3.04159 5.71906 3.18702V4.84029H3.23559C3.09016 4.84029 2.95068 4.89807 2.84785 5.0009C2.74501 5.10374 2.68724 5.24321 2.68724 5.38864V21.2067H1.7046C1.55917 21.2067 1.41969 21.2645 1.31686 21.3673C1.21402 21.4701 1.15625 21.6096 1.15625 21.755C1.15625 21.9005 1.21402 22.0399 1.31686 22.1428C1.41969 22.2456 1.55917 22.3028 1.7046 22.3028ZM15.619 21.2061H9.44893V18.2743H15.619V21.2061ZM6.81576 3.73537H18.2521V4.84029H6.81576V3.73537ZM3.78394 5.93699H21.284V21.2067H16.7157V17.7254C16.7157 17.58 16.6579 17.4405 16.5551 17.3377C16.4522 17.2348 16.3127 17.1771 16.1673 17.1771H8.90059C8.75515 17.1771 8.61568 17.2348 8.51284 17.3377C8.41001 17.4405 8.35224 17.58 8.35224 17.7254V21.2056H3.78394V5.93699Z" fill="#BD3A48"/>
                                    <path d="M5.43008 10.9122H8.29795C8.44338 10.9122 8.58286 10.8544 8.68569 10.7516C8.78853 10.6487 8.8463 10.5092 8.8463 10.3638V7.4965C8.8463 7.35107 8.78853 7.21159 8.68569 7.10876C8.58286 7.00592 8.44338 6.94815 8.29795 6.94815H5.43008C5.28465 6.94815 5.14518 7.00592 5.04234 7.10876C4.93951 7.21159 4.88173 7.35107 4.88173 7.4965V10.3644C4.88173 10.5098 4.93951 10.6493 5.04234 10.7521C5.14518 10.8549 5.28465 10.9127 5.43008 10.9127V10.9122ZM5.97843 8.04485H7.7496V9.81602H5.97843V8.04485ZM11.1 10.9122H13.9679C14.1133 10.9122 14.2528 10.8544 14.3556 10.7516C14.4585 10.6487 14.5162 10.5092 14.5162 10.3638V7.4965C14.5162 7.35107 14.4585 7.21159 14.3556 7.10876C14.2528 7.00592 14.1133 6.94815 13.9679 6.94815H11.1C10.9546 6.94815 10.8151 7.00592 10.7123 7.10876C10.6094 7.21159 10.5517 7.35107 10.5517 7.4965V10.3644C10.5517 10.5098 10.6094 10.6493 10.7123 10.7521C10.8151 10.8549 10.9546 10.9127 11.1 10.9127V10.9122ZM11.6484 8.04485H13.4195V9.81602H11.6484V8.04485ZM16.7699 10.9122H19.6378C19.7832 10.9122 19.9227 10.8544 20.0256 10.7516C20.1284 10.6487 20.1862 10.5092 20.1862 10.3638V7.4965C20.1862 7.35107 20.1284 7.21159 20.0256 7.10876C19.9227 7.00592 19.7832 6.94815 19.6378 6.94815H16.7699C16.6245 6.94815 16.485 7.00592 16.3822 7.10876C16.2794 7.21159 16.2216 7.35107 16.2216 7.4965V10.3644C16.2216 10.5098 16.2794 10.6493 16.3822 10.7521C16.485 10.8549 16.6245 10.9127 16.7699 10.9127V10.9122ZM17.3183 8.04485H19.0895V9.81602H17.3183V8.04485ZM8.8463 15.0703V12.2024C8.8463 12.057 8.78853 11.9175 8.68569 11.8147C8.58286 11.7119 8.44338 11.6541 8.29795 11.6541H5.43008C5.28465 11.6541 5.14518 11.7119 5.04234 11.8147C4.93951 11.9175 4.88173 12.057 4.88173 12.2024V15.0703C4.88173 15.2157 4.93951 15.3552 5.04234 15.458C5.14518 15.5609 5.28465 15.6186 5.43008 15.6186H8.29795C8.44338 15.6186 8.58286 15.5609 8.68569 15.458C8.78853 15.3552 8.8463 15.2157 8.8463 15.0703ZM7.7496 14.5219H5.97843V12.7508H7.7496V14.5219ZM11.1 15.6186H13.9679C14.1133 15.6186 14.2528 15.5609 14.3556 15.458C14.4585 15.3552 14.5162 15.2157 14.5162 15.0703V12.2024C14.5162 12.057 14.4585 11.9175 14.3556 11.8147C14.2528 11.7119 14.1133 11.6541 13.9679 11.6541H11.1C10.9546 11.6541 10.8151 11.7119 10.7123 11.8147C10.6094 11.9175 10.5517 12.057 10.5517 12.2024V15.0703C10.5517 15.2157 10.6094 15.3552 10.7123 15.458C10.8151 15.5609 10.9546 15.6186 11.1 15.6186ZM11.6484 12.7508H13.4195V14.5219H11.6484V12.7508ZM16.7699 15.6186H19.6378C19.7832 15.6186 19.9227 15.5609 20.0256 15.458C20.1284 15.3552 20.1862 15.2157 20.1862 15.0703V12.2024C20.1862 12.057 20.1284 11.9175 20.0256 11.8147C19.9227 11.7119 19.7832 11.6541 19.6378 11.6541H16.7699C16.6245 11.6541 16.485 11.7119 16.3822 11.8147C16.2794 11.9175 16.2216 12.057 16.2216 12.2024V15.0703C16.2216 15.2157 16.2794 15.3552 16.3822 15.458C16.485 15.5609 16.6245 15.6186 16.7699 15.6186ZM17.3183 12.7508H19.0895V14.5219H17.3183V12.7508Z" fill="#BD3A48"/>
                                </svg>

                                <span class="specifications__table-item__margin">Кол-во этажей</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>2 + мансарда</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23 4.6C23 4.75913 22.938 4.91174 22.8277 5.02426C22.7174 5.13679 22.5678 5.2 22.4118 5.2H3.58824C3.43223 5.2 3.28261 5.13679 3.17229 5.02426C3.06197 4.91174 3 4.75913 3 4.6C3 4.44087 3.06197 4.28826 3.17229 4.17574C3.28261 4.06321 3.43223 4 3.58824 4H22.4118C22.5678 4 22.7174 4.06321 22.8277 4.17574C22.938 4.28826 23 4.44087 23 4.6ZM22.4118 20.8H3.58824C3.43223 20.8 3.28261 20.8632 3.17229 20.9757C3.06197 21.0883 3 21.2409 3 21.4C3 21.5591 3.06197 21.7117 3.17229 21.8243C3.28261 21.9368 3.43223 22 3.58824 22H22.4118C22.5678 22 22.7174 21.9368 22.8277 21.8243C22.938 21.7117 23 21.5591 23 21.4C23 21.2409 22.938 21.0883 22.8277 20.9757C22.7174 20.8632 22.5678 20.8 22.4118 20.8ZM11.0635 16.1752C10.9531 16.0625 10.8033 15.9992 10.6471 15.9992C10.4909 15.9992 10.341 16.0625 10.2306 16.1752C10.1201 16.2879 10.0581 16.4407 10.0581 16.6C10.0581 16.7593 10.1201 16.9121 10.2306 17.0248L12.5835 19.4248C12.6382 19.4807 12.7031 19.525 12.7745 19.5553C12.846 19.5855 12.9226 19.6011 13 19.6011C13.0774 19.6011 13.154 19.5855 13.2255 19.5553C13.2969 19.525 13.3618 19.4807 13.4165 19.4248L15.7694 17.0248C15.8799 16.9121 15.9419 16.7593 15.9419 16.6C15.9419 16.4407 15.8799 16.2879 15.7694 16.1752C15.659 16.0625 15.5091 15.9992 15.3529 15.9992C15.1967 15.9992 15.0469 16.0625 14.9365 16.1752L13.5882 17.5516V8.4484L14.9365 9.8248C15.0469 9.93746 15.1967 10.0008 15.3529 10.0008C15.5091 10.0008 15.659 9.93746 15.7694 9.8248C15.8799 9.71214 15.9419 9.55933 15.9419 9.4C15.9419 9.24067 15.8799 9.08786 15.7694 8.9752L13.4165 6.5752C13.3618 6.51932 13.2969 6.47499 13.2255 6.44474C13.154 6.4145 13.0774 6.39893 13 6.39893C12.9226 6.39893 12.846 6.4145 12.7745 6.44474C12.7031 6.47499 12.6382 6.51932 12.5835 6.5752L10.2306 8.9752C10.1201 9.08786 10.0581 9.24067 10.0581 9.4C10.0581 9.55933 10.1201 9.71214 10.2306 9.8248C10.341 9.93746 10.4909 10.0008 10.6471 10.0008C10.8033 10.0008 10.9531 9.93746 11.0635 9.8248L12.4118 8.4484V17.5516L11.0635 16.1752Z" fill="#BD3A48"/>
                                </svg>
                                <span class="specifications__table-item__margin">Высота первого этажа</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>2,7 м</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>    
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23 4.6C23 4.75913 22.938 4.91174 22.8277 5.02426C22.7174 5.13679 22.5678 5.2 22.4118 5.2H3.58824C3.43223 5.2 3.28261 5.13679 3.17229 5.02426C3.06197 4.91174 3 4.75913 3 4.6C3 4.44087 3.06197 4.28826 3.17229 4.17574C3.28261 4.06321 3.43223 4 3.58824 4H22.4118C22.5678 4 22.7174 4.06321 22.8277 4.17574C22.938 4.28826 23 4.44087 23 4.6ZM22.4118 20.8H3.58824C3.43223 20.8 3.28261 20.8632 3.17229 20.9757C3.06197 21.0883 3 21.2409 3 21.4C3 21.5591 3.06197 21.7117 3.17229 21.8243C3.28261 21.9368 3.43223 22 3.58824 22H22.4118C22.5678 22 22.7174 21.9368 22.8277 21.8243C22.938 21.7117 23 21.5591 23 21.4C23 21.2409 22.938 21.0883 22.8277 20.9757C22.7174 20.8632 22.5678 20.8 22.4118 20.8ZM11.0635 16.1752C10.9531 16.0625 10.8033 15.9992 10.6471 15.9992C10.4909 15.9992 10.341 16.0625 10.2306 16.1752C10.1201 16.2879 10.0581 16.4407 10.0581 16.6C10.0581 16.7593 10.1201 16.9121 10.2306 17.0248L12.5835 19.4248C12.6382 19.4807 12.7031 19.525 12.7745 19.5553C12.846 19.5855 12.9226 19.6011 13 19.6011C13.0774 19.6011 13.154 19.5855 13.2255 19.5553C13.2969 19.525 13.3618 19.4807 13.4165 19.4248L15.7694 17.0248C15.8799 16.9121 15.9419 16.7593 15.9419 16.6C15.9419 16.4407 15.8799 16.2879 15.7694 16.1752C15.659 16.0625 15.5091 15.9992 15.3529 15.9992C15.1967 15.9992 15.0469 16.0625 14.9365 16.1752L13.5882 17.5516V8.4484L14.9365 9.8248C15.0469 9.93746 15.1967 10.0008 15.3529 10.0008C15.5091 10.0008 15.659 9.93746 15.7694 9.8248C15.8799 9.71214 15.9419 9.55933 15.9419 9.4C15.9419 9.24067 15.8799 9.08786 15.7694 8.9752L13.4165 6.5752C13.3618 6.51932 13.2969 6.47499 13.2255 6.44474C13.154 6.4145 13.0774 6.39893 13 6.39893C12.9226 6.39893 12.846 6.4145 12.7745 6.44474C12.7031 6.47499 12.6382 6.51932 12.5835 6.5752L10.2306 8.9752C10.1201 9.08786 10.0581 9.24067 10.0581 9.4C10.0581 9.55933 10.1201 9.71214 10.2306 9.8248C10.341 9.93746 10.4909 10.0008 10.6471 10.0008C10.8033 10.0008 10.9531 9.93746 11.0635 9.8248L12.4118 8.4484V17.5516L11.0635 16.1752Z" fill="#BD3A48"/>
                                </svg>
                                <span class="specifications__table-item__margin">Высота мансардного этажа</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>2,5 м</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.612 11.3704V5.25515C20.612 4.01166 19.646 3 18.4587 3H6.54131C5.35398 3 4.3881 4.01166 4.3881 5.25515V11.3704C3.01998 11.715 2 13.0066 2 14.5437V19.1049C2 19.4668 2.2801 19.7601 2.62561 19.7601H4.38806V21.3448C4.38806 21.7067 4.66816 22 5.01368 22C5.35919 22 5.63929 21.7067 5.63929 21.3448V19.7601H19.3607V21.3448C19.3607 21.7067 19.6408 22 19.9863 22C20.3318 22 20.6119 21.7067 20.6119 21.3448V19.7601H22.3744C22.7199 19.7601 23 19.4668 23 19.1049V14.5437C23.0001 13.0066 21.9801 11.715 20.612 11.3704ZM5.63933 5.25515C5.63933 4.73426 6.04399 4.31046 6.54131 4.31046H18.4587C18.9561 4.31046 19.3608 4.73426 19.3608 5.25515V11.2794H17.2934V10.2457C17.2934 8.53303 15.9629 7.13971 14.3277 7.13971H10.6725C9.0372 7.13971 7.70681 8.53308 7.70681 10.2457V11.2793H5.63933V5.25515ZM16.0421 10.2457V11.2793H8.95796V10.2457C8.95796 9.2556 9.72705 8.45013 10.6724 8.45013H14.3276C15.273 8.45009 16.0421 9.25564 16.0421 10.2457ZM3.25123 18.4497V14.5437C3.25123 13.4663 4.08815 12.5898 5.11687 12.5898H19.8831C20.9118 12.5898 21.7488 13.4663 21.7488 14.5437V18.4497H3.25123Z" fill="#BD3A48"/>
                                </svg>
                                <span class="specifications__table-item__margin">Кол-во спален</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>4</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 15.2402V13.8926C21 12.7779 20.1201 11.8711 19.0385 11.8711H11.1923C10.9631 11.8711 10.7431 11.9122 10.5385 11.987V4.92707C11.2995 4.64891 11.8462 3.89993 11.8462 3.02148C11.8462 1.90684 10.9662 1 9.88462 1H4.65385C4.29275 1 4 1.3017 4 1.67383V13.8926C4 14.771 4.54666 15.52 5.30769 15.7982V17.9355C5.30769 19.1718 5.78086 20.358 6.61538 21.2365V23.3262C6.61538 23.6983 6.90813 24 7.26923 24H19.0385C19.3996 24 19.6923 23.6983 19.6923 23.3262C19.6923 22.954 19.3996 22.6523 19.0385 22.6523H17.0769V21.8442C19.4738 20.5834 21 18.0381 21 15.2402ZM11.1923 13.2188H19.0385C19.399 13.2188 19.6923 13.521 19.6923 13.8926V14.5664H10.5385V13.8926C10.5385 13.521 10.8318 13.2188 11.1923 13.2188ZM5.30769 2.34766H9.88462C10.2451 2.34766 10.5385 2.64994 10.5385 3.02148C10.5385 3.39303 10.2451 3.69531 9.88462 3.69531H5.30769V2.34766ZM5.96154 14.5664C5.60101 14.5664 5.30769 14.2641 5.30769 13.8926V5.04297H9.23077V14.5664H5.96154ZM16.1613 20.8004C16.0447 20.8528 15.9456 20.9392 15.876 21.0489C15.8063 21.1585 15.7692 21.2867 15.7692 21.4178V22.6523H7.92308V20.949C7.92308 20.8543 7.90368 20.7606 7.86616 20.6741C7.82863 20.5875 7.77382 20.5102 7.7053 20.4469C7.01262 19.8081 6.61538 18.8927 6.61538 17.9355V15.9096H19.656C19.4248 18.0475 18.1046 19.9254 16.1613 20.8004Z" fill="#BD3A48"/>
                                </svg>

                                <span class="specifications__table-item__margin">Кол-во санузлов</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>2</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_760_17620)">
                                    <path d="M24.3747 20.9372H23.7497V8.85272L24.1322 9.01395C24.211 9.04686 24.2935 9.06268 24.3747 9.06268C24.618 9.06268 24.8501 8.91937 24.951 8.68017C25.0847 8.36225 24.9355 7.996 24.6172 7.86187L12.7424 2.86193C12.6656 2.82994 12.5833 2.81348 12.5001 2.81348C12.4169 2.81348 12.3346 2.82994 12.2578 2.86193L0.382954 7.86187C0.0642082 7.99604 -0.0845205 8.3623 0.0492182 8.68017C0.183396 8.99935 0.552142 9.14598 0.867519 9.0139L1.25003 8.85268V20.9371H0.624993C0.279587 20.9371 0 21.2167 0 21.5621C0 21.9075 0.279587 22.1871 0.624993 22.1871H24.3747C24.7201 22.1871 24.9997 21.9075 24.9997 21.5621C24.9997 21.2167 24.7201 20.9372 24.3747 20.9372ZM19.9998 20.9372H4.99994V18.4372H19.9998V20.9372ZM19.9998 17.1876H4.99994V14.6877H19.9998V17.1876ZM19.9998 13.4377H4.99994V10.9377H19.9998V13.4377ZM22.4997 20.9372H21.2498V10.9373C21.2498 10.2473 20.6902 9.68772 19.9998 9.68772H4.99994C4.30952 9.68772 3.74996 10.2473 3.74996 10.9377V20.9376H2.49997V8.32646L12.4999 4.11572L22.4997 8.32607V20.9372Z" fill="#BD3A48"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_760_17620">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                <span class="specifications__table-item__margin">Гараж</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>1</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.3894 3.95091L2.74428 2.00338C2.37187 1.9663 2.04023 2.2384 2.00336 2.61063C1.96644 2.9829 2.23834 3.31466 2.61062 3.35154L21.6452 5.23852V6.44548H2.67747C2.30337 6.44548 2.00005 6.74878 2.00005 7.12288C2.00005 7.49697 2.30337 7.80028 2.67747 7.80028H17.9617V21.6446H13.1774V16.4371H15.9718C16.3459 16.4371 16.6492 16.1338 16.6492 15.7597C16.6492 15.3856 16.3459 15.0823 15.9718 15.0823H9.02826C8.65416 15.0823 8.35084 15.3856 8.35084 15.7597C8.35084 16.1338 8.65416 16.4371 9.02826 16.4371H11.8226V21.6446H9.621V18.3C9.621 17.9259 9.31769 17.6226 8.94358 17.6226H5.59884V13.6428C5.59884 13.2688 5.29552 12.9654 4.92142 12.9654C4.54731 12.9654 4.244 13.2688 4.244 13.6428V21.6446H2.67747C2.30337 21.6446 2.00005 21.9479 2.00005 22.322C2.00005 22.6961 2.30337 22.9994 2.67747 22.9994H20.2903C20.6645 22.9994 20.9677 22.6961 20.9677 22.322C20.9677 21.9479 20.6645 21.6446 20.2903 21.6446H19.3165V7.80028H22.3226C22.6967 7.80028 23 7.49697 23 7.12288V4.62496C23 4.27678 22.7359 3.98524 22.3894 3.95091ZM5.59884 18.9774H8.26617V21.6447H5.59884V18.9774ZM22.389 21.6481C22.2233 21.6305 22.0419 21.6784 21.8928 21.7984C21.4239 22.1858 21.6633 22.9387 22.2561 22.9961C23.1513 23.0817 23.2758 21.7329 22.389 21.6481Z" fill="#BD3A48"/>
                                </svg>

                                <span class="specifications__table-item__margin">Терраса</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>1</span>
                            </div>
                        </div>

                        <div class="specifications__table-item">
                            <div>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0932 1H6.90671C5.85533 1 5 1.87984 5 2.96124V20.3563C5 21.4377 5.85533 22.3175 6.90671 22.3175H7.03498V23.2812C7.03498 23.6782 7.34781 24 7.73374 24C8.11968 24 8.43251 23.6782 8.43251 23.2812V22.3175H16.5675V23.2812C16.5675 23.6782 16.8803 24 17.2663 24C17.6522 24 17.965 23.6782 17.965 23.2812V22.3175H18.0933C19.1447 22.3175 20 21.4377 20 20.3563V2.96124C20 1.87984 19.1446 1 18.0932 1ZM18.6024 20.3563C18.6024 20.6451 18.374 20.88 18.0932 20.88H6.90671C6.62594 20.88 6.39753 20.6451 6.39753 20.3563V2.96124C6.39753 2.67244 6.62594 2.4375 6.90671 2.4375H18.0933C18.3741 2.4375 18.6025 2.67244 18.6025 2.96124L18.6024 20.3563ZM15.5225 15.5794H9.47747C9.09153 15.5794 8.7787 15.9011 8.7787 16.2981V18.9289C8.7787 19.3259 9.09153 19.6477 9.47747 19.6477H15.5225C15.9084 19.6477 16.2213 19.3259 16.2213 18.9289V16.2981C16.2213 15.9011 15.9084 15.5794 15.5225 15.5794ZM14.8237 18.2102H10.1762V17.0169H14.8237V18.2102Z" fill="#BD3A48"/>
                                    <path d="M9.83826 8.30111L9.8798 8.42669C9.96647 8.68839 10.0367 8.87781 10.1234 9.06933C10.2968 9.45133 10.4793 9.68718 10.6101 9.73203C11.0568 9.88504 11.4743 9.59854 11.4743 9.1775C11.4707 9.09399 11.4501 9.0122 11.4138 8.93743C11.3795 8.86042 11.3415 8.78523 11.2999 8.71213L11.1373 8.42511C10.7265 7.68854 10.5696 7.06859 10.7122 6.18904C10.9081 4.97973 11.425 4.12814 12.2707 3.69338C12.3413 3.65708 12.419 3.638 12.4978 3.63762C12.5767 3.63724 12.6546 3.65558 12.7254 3.69121C12.7963 3.72684 12.8582 3.7788 12.9063 3.84305C12.9545 3.9073 12.9876 3.98211 13.0031 4.06166C13.1621 4.87842 13.3954 5.51843 13.696 5.98274C13.8749 6.25869 14.0339 6.40747 14.355 6.62802C14.5724 6.77417 14.7001 6.86229 14.834 6.96253C15.0412 7.11818 15.232 7.28491 15.4268 7.48541C16.2777 8.36073 16.6028 9.03504 16.6028 9.96893C16.6026 10.6053 16.4624 11.2334 16.1929 11.8061C15.9234 12.3789 15.5315 12.8816 15.0466 13.2766C14.5616 13.6716 13.9961 13.9486 13.3923 14.087C12.7886 14.2254 12.1623 14.2216 11.5601 14.0758C10.958 13.9301 10.3958 13.6461 9.91539 13.2453C9.435 12.8444 9.04894 12.3369 8.78607 11.7609C8.5232 11.1849 8.39033 10.5551 8.39741 9.91883C8.40448 9.28251 8.55131 8.65607 8.82691 8.08637C8.82691 8.08637 9.45413 6.93563 9.83826 8.30111ZM9.42285 9.96893C9.42285 10.8085 9.74704 11.6138 10.3241 12.2074C10.9012 12.8011 11.6839 13.1347 12.5 13.1347C13.3161 13.1347 14.0988 12.8011 14.6758 12.2074C15.2529 11.6138 15.5771 10.8085 15.5771 9.96893C15.5771 9.34422 15.374 8.92371 14.7017 8.23147C14.4288 7.95077 14.3693 7.90592 13.7862 7.50599C13.3621 7.21527 13.1077 6.97731 12.8426 6.5684C12.5784 6.16107 12.3636 5.67038 12.1959 5.0958C11.9697 5.40077 11.8117 5.81865 11.724 6.36263C11.6261 6.96887 11.724 7.3572 12.0271 7.90065C12.0523 7.9455 12.162 8.13755 12.1902 8.18926C12.2579 8.31061 12.3082 8.4098 12.3518 8.51058C12.4482 8.73429 12.5 8.94903 12.5 9.1775C12.5 10.3393 11.3789 11.1081 10.2865 10.7335C9.93314 10.6121 9.65722 10.3425 9.42285 9.95521V9.96893Z" fill="#BD3A48"/>
                                </svg>

                                <span class="specifications__table-item__margin">Котельная</span>
                            </div>
                            <div class="specifications__table-item__dots"></div>
                            <div>
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-section__text">
                <h2>Особенности проекта</h2>
                <p>Свое название ленточный фундамент получил из-за своей формы: он представляет собой замкнутый контур из бетона/железобетона, проходящий по периметру будущего строения, под всеми несущими стенам, и действительно напоминает ленту.<br>Фундаменты такого типа обычно возводят на грунтах с хорошей несущей способностью; для заболоченных почв этот тип основания не рекомендован. Он ставится на подушку из песка со средней величиной фракций, обустроенную с послойным – через каждые 10 сантиметров – виброуплотнением. Если здание легкое – к примеру, одноэтажный дом из дерева, подушка не обязательна.<br>На почвах с высокой несущей способностью на ленточном фундаменте могут строиться даже здания с высокой этажностью – вплоть до 12-этажек.<br>Глубина фундамента и ширина ленты – параметры, которые просчитываются для каждого здания индивидуально. На них оказывает влияние целый ряд параметров: особенности здания, предполагаемые нагрузки, наличие/отсутствие подвала, глубина промерзания почвы и многое другое.</p>
            </div>

            <div class="project-section__gallery">
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>

                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>

                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
                <div>
                    <img src="../../assets/img/project-gallery.png">
                </div>
            </div>
        </div>
    </section>