extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Дома из блока • Дома из блока</div>
        
            <div class="compare-section">
                <div class="compare-section__title">
                    <h1>Дом из блока <span>37-Д-БЛ</span></h1>
                </div>

                