extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • отзывы</div>
        </div>
            <div class="section">
                <div class="container">
                    <div class="reviews-section__title">
                        <h1>Отзывы</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="reviews pc">
                        <div class="reviews__reviews-grid">
                            <div class="reviews-item">
                                <div class="reviews-item__avatar">
                                    <img src="../../assets/img/reviews_avatar.png">
                                </div>
                                <div class="reviews-item__text-block">
                                    <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                    <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-item__avatar">
                                    <img src="../../assets/img/reviews_avatar.png">
                                </div>
                                <div class="reviews-item__text-block">
                                    <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                    <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-item__avatar">
                                    <img src="../../assets/img/reviews_avatar.png">
                                </div>
                                <div class="reviews-item__text-block">
                                    <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                    <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                                </div>
                            </div>
                            <div class="reviews-item">
                                <div class="reviews-item__avatar">
                                    <img src="../../assets/img/reviews_avatar.png">
                                </div>
                                <div class="reviews-item__text-block">
                                    <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                    <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="reviews mobile">
                    <div class="swiper reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide reviews__slider-slide">
                            <div class="reviews__slider-slide__avatar">
                                <img src="../../assets/img/reviews_avatar.png" alt="">
                            </div>
                            <div class="reviews__slider-slide__title">
                                <h2>Эльмира Сычева</h2>                    
                            </div>
                            <div class="reviews__slider-slide__text">
                                <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                        <div class="swiper-slide reviews__slider-slide">
                            <div class="reviews__slider-slide__avatar">
                                <img src="../../assets/img/reviews_avatar.png" alt="">
                            </div>
                            <div class="reviews__slider-slide__title">
                                <h2>Эльмира Сычева</h2>                    
                            </div>
                            <div class="reviews__slider-slide__text">
                                <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                        <div class="swiper-slide reviews__slider-slide">
                            <div class="reviews__slider-slide__avatar">
                                <img src="../../assets/img/reviews_avatar.png" alt="">
                            </div>
                            <div class="reviews__slider-slide__title">
                                <h2>Эльмира Сычева</h2>                    
                            </div>
                            <div class="reviews__slider-slide__text">
                                <p>Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>       
                    </div>
                    <div class="reviews-swiper-button-prev button-prev">
                        <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29 13.5C29.8284 13.5 30.5 12.8284 30.5 12C30.5 11.1716 29.8284 10.5 29 10.5L29 13.5ZM0.939339 10.9393C0.353552 11.5251 0.353552 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.80761 11.0711 0.80761 10.4853 1.3934L0.939339 10.9393ZM29 10.5L2 10.5L2 13.5L29 13.5L29 10.5Z" fill="white"/>
                        </svg>    
                    </div>
                    <div class="reviews-swiper-button-next button-next">
                        <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 13.5C1.17157 13.5 0.5 12.8284 0.5 12C0.5 11.1716 1.17157 10.5 2 10.5L2 13.5ZM30.0607 10.9393C30.6464 11.5251 30.6464 12.4749 30.0607 13.0607L20.5147 22.6066C19.9289 23.1924 18.9792 23.1924 18.3934 22.6066C17.8076 22.0208 17.8076 21.0711 18.3934 20.4853L26.8787 12L18.3934 3.51472C17.8076 2.92893 17.8076 1.97918 18.3934 1.3934C18.9792 0.80761 19.9289 0.80761 20.5147 1.3934L30.0607 10.9393ZM2 10.5L29 10.5L29 13.5L2 13.5L2 10.5Z" fill="white"/>
                        </svg>    
                    </div>
                    <div class="reviews-swiper-pagination"></div>
                </div> 

            </div>

            <div class="leave-review-block">
                <button class="leave-review-block__button" data-fancybox data-src="#feedback-form">
                    <span>Оставить отзыв</span>
                    <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                    </svg>
                </button>

                <div class="callback-form" id="feedback-form" style="display:none;max-width:560px;">
                    <div class="callback-form__title">
                        <h2>Оставьте ваш отзыв</h2>
                    </div>
                    <form>
                        <div class="callback-form__form">
                            <input type="text" class="callback-form__form-namee" id="feedback-form__form-name" name="feedback-form__form-name" required placeholder="Ваше имя*">
                            <input type="phone" class="callback-form__form-phone" id="feedback-form__form-phone" name="feedback-form__form-phone" required placeholder="E-mail*">
                            <textarea rows="5" placeholder="Ваш отзыв*"></textarea>
                            
                            <div class="callback-form__form-file-block">
                                <label for="feedback-form__form-file">Добавить ваше фото</label>
                                <input type="file" style="visibility:hidden;display:none;" class="callback-form__form-file" id="feedback-form__form-file" name="feedback-form__form-file">
                            </div>
                            
                            <input>
                            <div class="callback-form__form-approval">
                                <input type="checkbox" id="switch4" checked /><label for="switch4">Toggle</label>
                                <span>Даю согласие на <a href="">обработку персональных данных</a></span>
                            </div>
                            <div class="callback-form__form-btn">
                                <button type="submit">Оставить отзыв</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </section>