extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Контакты</div>
            
            <div class="section">
                <div class="section__title">
                    <h1>Отзывы</h1>
                </div>

                <div class="reviews">
                    <div class="reviews__reviews-grid">
                        <div class="reviews-item">
                            <div class="reviews-item__avatar">
                                <img src="../../assets/img/reviews_avatar.png">
                            </div>
                            <div class="reviews-item__text-block">
                                <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                        <div class="reviews-item">
                            <div class="reviews-item__avatar">
                                <img src="../../assets/img/reviews_avatar.png">
                            </div>
                            <div class="reviews-item__text-block">
                                <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                        <div class="reviews-item">
                            <div class="reviews-item__avatar">
                                <img src="../../assets/img/reviews_avatar.png">
                            </div>
                            <div class="reviews-item__text-block">
                                <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                        <div class="reviews-item">
                            <div class="reviews-item__avatar">
                                <img src="../../assets/img/reviews_avatar.png">
                            </div>
                            <div class="reviews-item__text-block">
                                <h2 class="reviews-item__name">Эльмира Сычева</h2>
                                <p class="reviews-item__text">Компания работает действительно профессионально. Можно доверять! Строительные материалы используют качественные, на этом не экономят. Результат работы очень порадовал. Ребята лучшие по соотношению «цена-качество».</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="leave-review-block">
                <button class="leave-review-block__button">
                    <span>Оставить отзыв</span>
                    <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.7071 8.20711C37.0976 7.81658 37.0976 7.18342 36.7071 6.79289L30.3431 0.428932C29.9526 0.0384078 29.3195 0.0384078 28.9289 0.428932C28.5384 0.819457 28.5384 1.45262 28.9289 1.84315L34.5858 7.5L28.9289 13.1569C28.5384 13.5474 28.5384 14.1805 28.9289 14.5711C29.3195 14.9616 29.9526 14.9616 30.3431 14.5711L36.7071 8.20711ZM0 8.5H36V6.5H0V8.5Z" fill="white"/>
                    </svg>
                </button>
            </div> 

        </div>
    </section>