extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
            <div class="breadcrumbs">Главная • Сравнение проектов</div>
        
            <div class="service-section">
                <div class="service-section__title">
                    <h1>Закладка <span>фундамента</span></h1>
                </div>

                <div class="service-section__grid">
                    <div class="service-section__grid-item">
                        <div class="service-section__grid-item__picture">
                            <img src="../assets/img/service.png" alt="закладка фундамента">
                        </div>
                        <div class="service-section__grid-item__info">
                            <h2>Строительство ленточного фундамента</h2>
                            <div class="service-section__grid-item__info-btn">
                                <a href="/service-section.html">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="service-section__grid-item">
                        <div class="service-section__grid-item__picture">
                            <img src="../assets/img/service.png" alt="закладка фундамента">
                        </div>
                        <div class="service-section__grid-item__info">
                            <h2 class="">Строительство ленточного фундамента</h2>
                            <div class="service-section__grid-item__info-btn">
                                <a href="/service-section.html">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="service-section__grid-item">
                        <div class="service-section__grid-item__picture">
                            <img src="../assets/img/service.png" alt="закладка фундамента">
                        </div>
                        <div class="service-section__grid-item__info">
                            <h2>Строительство ленточного фундамента</h2>
                            <div class="service-section__grid-item__info-btn">
                                <a href="/service-section.html">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-section__block">
                    <p>Строительство любого дома начинается с закладки фундамента. Главная задача нулевого цикла — передавать нагрузку здания непосредственно на грунт. А потому от надежности и правильности выбора фундамента напрямую зависит капитальность и долговечность самой постройки. Мы предлагаем монтаж фундамента любого вида и сложности, с соблюдением всех норм, нормативов.</p>
                </div>

                <div class="service-section__block">
                    <h2>УШП</h2>
                    <p>УШП — утеплённая шведская плита. УШП — это современный и теплоэффективный фундамент. И не только фундамент, не просто бетонная плита. Это настоящая основа вашего дома. Она включает в себя готовую систему комфортного отопления тёплыми полами по всей площади, разводку труб водоснабжения, канализации и электрических кабелей, качественное утепление пола, а её гладкая поверхность годится для укладки чистового напольного покрытия.</p>

                    <div class="service-section__block-images">
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                    </div>
                </div>

                <div class="service-section__block">
                    <h2>Ленточный <span>фундамент</span></h2>
                    <p>УШП — утеплённая шведская плита. УШП — это современный и теплоэффективный фундамент. И не только фундамент, не просто бетонная плита. Это настоящая основа вашего дома. Она включает в себя готовую систему комфортного отопления тёплыми полами по всей площади, разводку труб водоснабжения, канализации и электрических кабелей, качественное утепление пола, а её гладкая поверхность годится для укладки чистового напольного покрытия.</p>

                    <div class="service-section__block-images">
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                    </div>
                </div>

                <div class="service-section__block">
                    <h2>УШП</h2>
                    <p>УШП — утеплённая шведская плита. УШП — это современный и теплоэффективный фундамент. И не только фундамент, не просто бетонная плита. Это настоящая основа вашего дома. Она включает в себя готовую систему комфортного отопления тёплыми полами по всей площади, разводку труб водоснабжения, канализации и электрических кабелей, качественное утепление пола, а её гладкая поверхность годится для укладки чистового напольного покрытия.</p>

                    <div class="service-section__block-images">
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                    </div>
                </div>

                <div class="service-section__block">
                    <h2>УШП</h2>
                    <p>УШП — утеплённая шведская плита. УШП — это современный и теплоэффективный фундамент. И не только фундамент, не просто бетонная плита. Это настоящая основа вашего дома. Она включает в себя готовую систему комфортного отопления тёплыми полами по всей площади, разводку труб водоснабжения, канализации и электрических кабелей, качественное утепление пола, а её гладкая поверхность годится для укладки чистового напольного покрытия.</p>

                    <div class="service-section__block-images">
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                    </div>
                </div>

                <div class="service-section__block">
                    <h2>УШП</h2>
                    <p>УШП — утеплённая шведская плита. УШП — это современный и теплоэффективный фундамент. И не только фундамент, не просто бетонная плита. Это настоящая основа вашего дома. Она включает в себя готовую систему комфортного отопления тёплыми полами по всей площади, разводку труб водоснабжения, канализации и электрических кабелей, качественное утепление пола, а её гладкая поверхность годится для укладки чистового напольного покрытия.</p>

                    <div class="service-section__block-images">
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                        <div class="service-section__block-image">
                            <img src="../assets/img/service2.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>