extends ../layout/main

block content
    <section class="section-wrapper">
        <div class="container">
        <div class="breadcrumbs">Главная • Контакты</div>
        
        <div class="stocks-section">
            <div class="stocks-section__title">
                <h1>Акции</h1>
            </div>

            <div class="stocks-section__season-stocks">
                <div class="season-stocks__title"><h2>Сезонные акции</h2></div>
                <div class="season-stocks__grid">
                    <a href="#">
                        <div class="stocks__blocks-block">
                            <div class="stocks__blocks-block__img">
                                <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                            </div>
                            <div class="stocks__blocks-block__text">
                                <div class="stocks__blocks-block__title">Дом за миллион</div>
                                <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="stocks__blocks-block">
                            <div class="stocks__blocks-block__img">
                                <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                            </div>
                            <div class="stocks__blocks-block__text">
                                <div class="stocks__blocks-block__title">Дом за миллион</div>
                                <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="stocks__blocks-block">
                            <div class="stocks__blocks-block__img">
                                <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                            </div>
                            <div class="stocks__blocks-block__text">
                                <div class="stocks__blocks-block__title">Дом за миллион</div>
                                <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="stocks__blocks-block">
                            <div class="stocks__blocks-block__img">
                                <img src="../assets/img/stocks_picture.png", alt="Дом за миллион">
                            </div>
                            <div class="stocks__blocks-block__text">
                                <div class="stocks__blocks-block__title">Дом за миллион</div>
                                <div class="stocks__blocks-block__subtitle">от 2-х недель</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="permanent-stocks">
                <div class="permanent-stocks__title">
                    <h2>Постоянные акции</h2>
                </div>
                <div class="permanent-stocks__grid">
                <a href="#">
                    <div class="permanent-stocks__item">
                        <div class="permanent-stocks__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="permanent-stocks__item-text">
                            <h2>Гарантия честной цены</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="permanent-stocks__item">
                        <div class="permanent-stocks__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="permanent-stocks__item-text">
                            <h2>Гарантия честной цены</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="permanent-stocks__item">
                        <div class="permanent-stocks__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="permanent-stocks__item-text">
                            <h2>Гарантия честной цены</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="permanent-stocks__item">
                        <div class="permanent-stocks__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="permanent-stocks__item-text">
                            <h2>Гарантия честной цены</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="permanent-stocks__item">
                        <div class="permanent-stocks__item-picture">
                            <img src="../assets/img/stocks-section__money.png">
                        </div>
                        <div class="permanent-stocks__item-text">
                            <h2>Гарантия честной цены</h2>
                            <p>При предоставлении спецификации с более низкой стоимостью с равнозначными характеристиками, мы сделаем скидку на сумму разницы.</p>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>

        </div>
    </section>