include ../mixins/mixins
block variables

doctype html
html(lang='ru')
  head
    
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    block head

  body(class="debug-screens")
    .wrapper
      .wrapper-page
        include ../includes/header
        .wrapper-content
          block content
        include ../includes/footer
    .modal-menu__wrapper.close(id="wrapper__burger-menu") 
      .modal-menu__block(id="block__burger-menu")
        button.modal-menu__close(type="button" id='burger__menu-close') 
          img(src="../assets/img/close.svg")
        .modal-menu__section
          ul.modal-menu__list
            li
              a(href="#") Рассчитать стоимость
            li
              a(href="#") Примеры работ
            li
              a(href="#") Гарантии
            li
              a(href="#") Цены
            li
              a(href="#") Гаражи
            li
              a(href="#") Клиенту
            li
              a(href="#") Услуги
            li
              a(href="#") Контакты
          .modal-menu__item-buttons
            a.modal-menu__btn(href="#") 
                img(src="../assets/img/favorite.svg")
            a.modal-menu__btn(href="#") 
                img(src="../assets/img/compare.svg")
          .modal-menu__item-phones
            a(href="tel:+78003002807") 8 800 300-28-07
            a(href="tel:+78003002807") 8 800 300-28-07
            a(href="tel:+78003002807") 8 800 300-28-07
          .modal-menu__item-order
            button(type="submit") Заказать звонок   
    block script
  